{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}
{% set reactFiles = cms_react_apps(["form"]) %}

{% block stylesheets %}
    {{ parent() }}
    {# <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/> #}
    {{ m.filterCss(reactFiles) }}
    {#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> #}

{% endblock %}


{% block javascripts %}
    {{ m.filterJs(reactFiles) }}
    {{ parent() }}
{% endblock %}


{% block content_header_title %}
    <h1>{{ (formId ? 'score.cms.form.edit.title' : 'score.cms.form.new.title' ) |trans }}</h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.cms.form.breadcrumb'|trans }}</li>
{% endblock %}

{% block body %}
    {{ m.alerts() }}

    <div class="box">
        <div class="box-body">
            <!-- ADMIN -->
            <div id="cms-form-admin-root" data-form-id="{{ formId }}"></div>
        </div>
        <div class="box-footer">
            <a class="btn btn-primary btn-sm"
               href="{{ path('score_cms_forms') }}">{{ 'score.cms.form.list.title'|trans }}</a>
            {{ include('@ScoreCms/Block/Admin/_referer.html.twig') }}
        </div>
    </div>
{% endblock %}
