{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}
{% set reactFiles = cms_react_apps(["form"]) %}

{% block stylesheets %}
    {{ parent() }}
    {# <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/> #}
    {{ m.filterCss(reactFiles) }}
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> #}
    <style>
        .items h2 {
            margin-top: 0;
        }
    </style>
{% endblock %}


{% block javascripts %}
    {{ m.filterJs(reactFiles) }}
    {{ parent() }}
{% endblock %}


{% block content_header_title %}
    <h1>{{ 'score.cms.form.data.title'|trans }}</h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.cms.form.breadcrumb'|trans }}</li>
{% endblock %}

{% block body %}
    {{ m.alerts() }}

    <!-- ADMIN -->
    <div id="cms-form-admin-data" data-form-id="{{ formId }}" data-entry-id="{{ entryId ?? 0 }}"></div>

    <ul>
        <li>
            <a href="{{ path('score_cms_forms') }}">{{'score.cms.form.list.title'|trans}}</a>
        </li>
    </ul>
{% endblock %}
