{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block content_header_title %}
    <h1> {{ 'score.cms.form.list.title'|trans }}</h1>
{% endblock %}
{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.cms.form.breadcrumb'|trans }}</li>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    {{ m.alerts() }}


    <div class="row">
        <div class="col-sm-10">

            <div class="box box-solid">
                <div class="box-body">

                    <table id="forms-datatable" class="table table-striped display compact">
                        <thead>
                        <tr>
                            {# <th>Id</th> #}
                            {#                <th>User</th> #}
                            <th>{{ 'score.cms.form.list.name'|trans }}</th>
                            <th>{{ 'score.cms.form.list.count'|trans }}</th>
                            <th>{{ 'score.cms.form.list.active'|trans }}</th>
                            <th>{{ 'score.cms.form.list.public'|trans }}</th>
                            <th>{{ 'score.cms.form.list.action'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, form in forms %}
                            <tr>
                                {# <td> #}
                                {#                    <a href="{{ path('admin_form_edit', { 'id': form.id }) }}"> #}
                                {# {{ form.id }} #}
                                {#                    </a> #}
                                {# </td> #}
                                {#                <td>{{ users[key].name }}</td> #}
                                <td>{{ form.name }}</td>
                                <td>{{ form.filledCount }}</td>
                                <td>{{ form.isActive ? "Yes" : "No" }}</td>
                                <td>{{ form.visibility ? "Yes" : "No" }}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('score_cms_form_example', { 'id': form.identifier }) }}">{{ 'score.cms.form.list.preview'|trans }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('score_cms_form_edit', { 'id': form.identifier }) }}">{{ 'score.cms.form.list.edit'|trans }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('score_cms_form_data', { 'id': form.identifier }) }}">{{ 'score.cms.form.list.show'|trans }}</a>
                                        </li>
                                        <li>
                                            <a class="delete-cms-item"
                                               href="{{ path('score_cms_form_delete', { 'id': form.identifier }) }}">{{ 'score.cms.form.list.delete'|trans }}</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">

                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="box box-primary">
                <div class="box-body">

                    <a class="btn btn-primary"
                       href="{{ path('score_cms_form_new') }}">{{ 'score.cms.form.new.title'|trans }}</a>

                </div>
            </div>
        </div>
    </div>

    {{ include('@ScoreCms/Default/_delete_modal.html.twig') }}

{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
     <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>
     <script type="text/javascript">
         $('#forms-datatable').DataTable({
             pageLength: 25,
             language: {
                 url: "{{ asset('bundles/scorecms/plugins/datatables/sk.js') }}"
             },
             "ordering": false
         });
     </script>

     <script>
         $('body').on('click', '.delete-cms-item', function (e) {
             e.preventDefault();
             $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
             $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.form.delete" |trans }}");
             $('#confirm-delete-cms-item-modal').modal('show');
         });
     </script>


 {% endblock %}
