<form action="" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-9">
            <div class="box box-primary">
                <div class="box-body">
                    {{ form_row(form.name) }}
                    <div class="form-group">
                        {{ form_label(form.slug) }}
                        {{ form_errors(form.slug) }}
                        <div style="display: flex; align-items: center">
                        <span class="cms-domain">
                            {{ app.request.schemeAndHttpHost ~ "/" ~ (urlEventPrefix is defined and urlEventPrefix ? (urlEventPrefix ~ "/") : ("udalosti/")) }}
                        </span>
                            {{ form_widget(form.slug,{'attr':{'style':'margin-left:2px;padding-left:2px;'}} ) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            {{ form_row(form.date_from) }}
                        </div>
                        <div class="col-sm-6">
                            {{ form_row(form.date_to) }}
                        </div>
                    </div>
                    {{ form_row(form.teaser) }}
                    {{ form_row(form.content) }}

                    {{ include('@ScoreCms/Block/Admin/_formJoints.html.twig',{'blockJoints': event.blockJoints, ref: "event_"~ event.id}) }}
                    {{ form_row(form.eventBlocks) }}

                    <div class="metatags-wrapper">
                        <h3>{{ 'score.cms.metatag.title' | trans }}</h3>
                        {{ form_row(form.metatags) }}
                        <button type="button"
                                class="add-metatag-item btn btn-success">{{ 'score.cms.metatag.addMetatag' | trans }}</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="box box-primary">
                <div class="box-body">

                    <div class="icon-wrap">
                        {{ form_row(form.icon) }}
                        <div class="thumbnail" {{ not event.icon ? "style=\"display: none\"" }}><img src="{{ event.iconThumb(640,480) }}"/></div>
                        <div class="reset-img">
                            <button type="button" class="btn btn-sm btn-danger">Vymazať {{ "score.event.form.icon" | trans }}</button>
                            {{ form_row(form.removeIcon) }}
                        </div>
                    </div>

                    {{ form_row(form.published) }}
                    {{ form_row(form.location) }}
                    {{ form_row(form.organizer) }}
                    {{ form_row(form.contact_person) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.phone) }}
                    {{ form_row(form.url_link) }}

                    {% if form.eventCategories.vars.choices| length  > 0 %}
                        {{ form_row(form.eventCategories) }}
                    {% endif %}

                    {% if form.multisite.vars.choices| length  > 0 %}
                        <div class="form-group">
                            {{ form_row(form.multisite) }}
                        </div>
                    {% endif %}
                    {% block custom_form %}

                    {% endblock %}
                </div>

            </div>


        </div>
    </div>
    {{ form_widget(form._token) }}
    <button type="submit" class="btn btn-success btn-lg">{{ 'score.event.form.save'|trans }}</button>
    <a class="btn btn-danger btn-sm" href="">{{ 'score.event.form.cancel'|trans }}</a>
    {% if canDelete is defined and canDelete %}
        <a class="btn btn-danger btn-sm pull-right to-trash-event"
           href="{{ path('score_cms_event_to_trash',{id:event.id}) }}">{{ 'score.page.toTrash'|trans }}</a>
    {% endif %}
</form>