{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content_header_title %}
    <h1>{{ 'score.event.list.topTitle'|trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.event.list.breadcrumb' | trans }}</li>
{% endblock %}

{% block body %}

    {{ m.alerts() }}

    <div class="row">
        <div class="col-sm-10">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="events-datatable" class="table table-striped display compact" style="width:100%">
                        <thead>
                        <tr>
                            {#                            <th>{{ 'score.event.list.id'|trans }}</th> #}
                            <th>{{ 'score.event.list.name'|trans }}</th>
                            {#                            <th>{{ 'score.event.list.category'|trans }}</th> #}
                            <th>{{ 'score.event.list.published'|trans }}</th>
                            <th>{{ 'score.event.list.author'|trans }}</th>
                            <th>{{ 'score.event.list.dateFromTo'|trans }}</th>
                            {% if canDelete %}
                                <th style="min-width: 8em;">{{ 'score.event.list.action'|trans }}</th>
                            {% else %}
                                <th></th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in list %}
                            <tr>
                                {#                                <td>{{ event.id }}</td> #}
                                <td>
                                    <a href="{{ path('score_cms_event_edit',{id:event.id}) }}">{{ event.name }}</a>
                                </td>
                                {#                                <td>{{ event.categoryNames }}</td> #}
                                <td>{{ event.published == 1 ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>' }}</td>
                                <td>{{ event.organizer }}</td>
                                <td>{{ event.dateFrom | date("d.m.Y") }} – {{ event.dateTo | date("d.m.Y") }}</td>
                                {% if canDelete %}
                                    <td class="{{ event.isDeleted ? "bg-danger" }}">
                                        {% if not event.isDeleted %}
                                            <a class="to-trash-event"
                                               href="{{ path('score_cms_event_to_trash',{id:event.id}) }}">{{ 'score.page.toTrash'|trans }}</a>
                                        {% else %}
                                            <a class="from-trash-event"
                                               href="{{ path('score_cms_event_from_trash',{id:event.id}) }}">{{ 'score.page.fromTrash'|trans }}</a>
                                        {% endif %}
                                        <br>
                                        <a class="delete-event"
                                           href="{{ path('score_cms_event_delete',{id:event.id}) }}">{{ 'score.page.delete.title'|trans }}</a>
                                    </td>
                                {% else %}
                                    <th></th>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">

                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="box box-primary">
                <div class="box-body">
                    <a href="{{ path('score_cms_event_new') }}"
                       class="btn btn-primary">{{ 'score.event.list.create'|trans }} </a>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="box-body">
                        <a class="btn btn-primary"
                           href="{{ path('score_cms_event_categories') }}">{{ 'score.article.edit.categories'|trans }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


    {{ include('@ScoreCms/Default/_delete_modal.html.twig') }}

{% endblock %}


    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>
        <script src="{{ asset('bundles/scorecms/js/PageManager.js') }}"></script>
        <script type="text/javascript">

            let dataTable = $('#events-datatable').DataTable({
                ordering: false,
                pageLength: 50,
                language: {
                    url: "{{ asset('bundles/scorecms/plugins/datatables/sk.js') }}"
                },
                ajax: "{{ path("admin-score-api-event-list") }}",
                columns: [
                    {data: 'link'},
                    {data: 'published'},
                    {data: 'organizer'},
                    {data: 'publishedFromTo'},
                    {data: 'action'},
                ],
            });
        </script>

        <script>
            $('body').on('click', '.delete-event', function (e) {
                e.preventDefault();
                $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
                $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.event.delete" |trans }}");
                $('#confirm-delete-cms-item-modal').modal('show');
            });
        </script>
        <script>
            $('body').on('click', '.to-trash-event', function (e) {
                e.preventDefault();
                $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
                $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.event.toTrash" |trans }}");
                $('#confirm-delete-cms-item-modal').modal('show');
            });
        </script>
    {% endblock %}


