  <!-- Banner -->
    <section class="banner" style="background-image: url({{ "wavex-banner-image-url" | cms_text }});">
      {# <div class="patteren"></div> #}
      <div class="container fadeInRightBig" data-delay="5000">
        <div class="center flash animated">
          <div id="wavex_cms_banner" class="cms-carousel carousel slide" data-bs-ride="carousel" data-bs-interval="3000"> 
            <!-- Previous/Next controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#wavex_cms_banner" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Predchádzajúca</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#wavex_cms_banner" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Nasledujúca</span>
            </button>
            <!-- Indicators -->
            <div class="carousel-indicators">
            {% set index = 0 %}
            {% for i in 0..10 %}
              {% if (("wavex-banner-slide-" ~ i) | cms_text is not same as "-") %}
                <button type="button" data-bs-target="#wavex_cms_banner" data-bs-slide-to="{{ index }}" class="{{ index is same as 0 ? "active" }}" aria-current="{{ index is same as 0 }}" aria-label="Slide {{ index + 1 }}"></button>
                {% set index = index + 1 %}
              {% endif %}
            {% endfor %}
            </div>
            <div class="carousel-inner banner-detail ">
            {% set index = 0 %}
            {% for i in 0..10 %}
              {% if (("wavex-banner-slide-" ~ i) | cms_text is not same as "-") %}
                <div class="carousel-item  item{{ index is same as 0 ? " active" }}">
                  {# <p>{{ ("wavex-banner-slide-" ~ i ~ "-normal") | cms_text }}<span class="creative">{{ ("wavex-banner-slide-" ~ i ~ "-big") | cms_text }}</span> <span class="small-text">{{ ("wavex-banner-slide-" ~ i ~ "-small") | cms_text }}</span> </p> #}
                  <p>{{ ("wavex-banner-slide-" ~ i ) | cms_text | raw}} </p>
                </div>
                {% set index = index + 1 %}
              {% endif %}
            {% endfor %}
            </div>
            <!-- Pause/Play controls -->
            <button class="play-control pause" type="button" data-target="#wavex_cms_banner">
                <span class="visually-hidden">Zastaviť alebo spustiť prehrávanie</span> 
            </button>
          </div>
        </div>
      </div>
    </section>
  <!-- Banner End --> 