<footer class="footer contact">
	<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="social">
				<h5>Connect with WaveX</h5>
				<a href="#." class="fb animate bounceIn" data-delay="140">
					<i class="fa fa-facebook"></i>
					<span class="visually-hidden">facebook</span>
				</a>
				<a href="#." class="tw animate bounceIn" data-delay="160">
					<i class="fa fa-twitter"></i>
					<span class="visually-hidden">twitter</span>
				</a>
				<a href="#." class="gp animate bounceIn" data-delay="180">
					<i class="fa fa-google-plus"></i>
					<span class="visually-hidden">google plus</span>
				</a>
				<a href="#." class="ig animate bounceIn" data-delay="200">
					<i class="fa fa-instagram"></i>
					<span class="visually-hidden">instagram</span>
				</a>
				<a href="#." class="yt animate bounceIn" data-delay="220">
					<i class="fa fa-youtube"></i>
					<span class="visually-hidden">youtube</span>
				</a>
				<a href="#." class="db animate bounceIn" data-delay="240">
					<i class="fa fa-dribbble"></i>
					<span class="visually-hidden">dribbble</span>
				</a>
				<a href="#." class="li animate bounceIn" data-delay="260">
					<i class="fa fa-linkedin"></i>
					<span class="visually-hidden">linkedin</span>
				</a>
			</div>
			<div class="copyright pt-5">
				<p>
					Copyright:
					{{ 'now'|date('Y') }}
					| e-mail:
					<a href="mailto:info@sazp.sk">info@sazp.sk</a>
					| tel.:
					<a href="tel:+421 123456789">+421 123456789</a>
				</p>
			</div>

			<div>
				<p>
					Prevádzku webového sídla
					<a onclick="_blank" href="{{ path('default_homepage')}}">{{app.request.host()}}</a>
					a správu jej obsahu zabezpečuje
					<a onclick="_blank" href="https://www.sazp.sk/kontakt/kontakt-sazp.html">Slovenská agentúra životného prostredia</a>.
					<br>
					<a class="govuk-link" title="Ochrana osobných údajov" href="{{ path('default_subpage',{'seoid':'ochrana-osobnych-udajov'}) }}">Ochrana osobných údajov</a>
					|
					<a href="{{ path('default_subpage',{'seoid':'vyhlasenie-o-pristupnosti'}) }}">Vyhlásenie o prístupnosti</a>
				</p>
			</div>
		</div>
	</div>
	</div>
</footer>
