<!-- Header -->
<div class="subMenu">
	<div class="container">
		<nav class="navbar navbar-default navbar-expand-lg navbar-light" role="navigation">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">
					{{ "wavex-nav-logo" | cms_text | raw }}
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<div class="navigation ">
						<ul class="nav navbar-nav navbar-nav2 ">
							{% if wavex_main_menu_from_sections is defined and wavex_main_menu_from_sections %}
								{% if page is defined %}
									{% for pb in page.blockJoints %}
										{% if pb.block.paramsArr.nav is defined and pb.block.paramsArr.nav %}
											<li class="nav-item">
												<a id="cms-block-c-{{ pb.block.id }}" class="subNavBtn nav-link " href="#cms-block-{{ pb.block.id }}">{{ pb.block.paramsArr.nav }}</a>
											</li>
										{% endif %}
									{% endfor %}
								{% endif %}
							{% else %}
								{{ include('@ScoreCms/Public/default/_menuTree.html.twig',{'items':  cms_menu_tree('root')}) }}
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</div>
</div>
<!-- Header End -->
