
        
        
        <script type="text/javascript" src="{{ asset('bundles/scorecms/wavex/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/scorecms/wavex/js/queryLoader.js') }}?v={{ app.environment == 'dev' ? "now"|date("Ymd-His") }}"></script> 
        <script type="text/javascript" src="{{ asset('bundles/scorecms/wavex/js/jquery.parallax-1.1.3.js') }}"></script> 
        <script type="text/javascript" src="{{ asset('bundles/scorecms/wavex/js/jquery.localscroll-1.2.7-min.js') }}"></script> 
        <script type="text/javascript" src="{{ asset('bundles/scorecms/wavex/js/jquery.scrollTo-1.4.2-min.js') }}"></script> 
        <script type="text/javascript">
            //stickey header
                jQuery(function() {
                    "use strict";
                    
                    $(window).scroll(function() {
                        var windscroll = $(window).scrollTop();
                        if (windscroll >= 100) {
                            $('#warp .sections .section').each(function(i) {
                                if ($(this).position().top <= windscroll + 150) {
                                    $('.navbar-nav li.active').removeClass('active');
                                    $('.navbar-nav li').eq(i).addClass('active');
                                }
                            });
                    
                        } else {
                            if ($('#warp .sections .section')?.length){
                                $('.navbar-nav').removeClass('');
                                $('.navbar-nav li.active').removeClass('active');
                                $('.navbar-nav li:first').addClass('active');
                            }
                        }
                    
                    }).scroll();
                    
                    // jQuery(window).scroll(function() {    
                    // var scroll = jQuery(window).scrollTop();	
                    // if (scroll >= 40) {
                    //     jQuery(".subMenu").addClass("smallheader");
                    // }
                    // else {
                    //     jQuery(".subMenu").removeClass("smallheader");
                    // }
                    // });
                });
            $(document).ready(function(){
            $('#nav').localScroll(800);
            
            
            //.parallax(xPosition, speedFactor, outerHeight) options:
            //xPosition - Horizontal position of the element
            //inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
            //outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
            $('#banner').parallax("50%", 0.3);
            $('#intro').parallax("50%", 0.3);
            $('#second').parallax("65%", 0.3);
            $('.bg').parallax("50%", 0.4);
            $('#third').parallax("60%", 0.0);
        });(jQuery);
        </script> 

        <script>
            (function($) {
                "use strict";
            $('#animatedElement').click(function() {
                $(this).addClass("slideUp");
                
            });
            })(jQuery);
        </script> 

        <script type="text/javascript" src="{{ asset('bundles/scorecms/wavex/js/waypoints.js') }}"></script> 
        <script src="{{ asset('bundles/scorecms/wavex/js/jquery.appear.js') }}"></script> 
        <script src="{{ asset('bundles/scorecms/wavex/js/custom.js') }}"></script> 
        <script>
            
            jQuery(function() {
                "use strict";
                jQuery('.subMenu').smint({
                    'scrollSpeed' : 1000
                });
                // jQuery('.carousel').carousel({
                //     interval: 2000
                // });
                
                //navigation menu on mobile hide
                $(".navbar-default .navbar-nav > li > a").click(function(){
                $(".navbar-collapse").removeClass('in');
                
                
            });
                
                
            });
            
            //gallery
            jQuery(document).ready(function(){
                jQuery('ul.da-thumbs > li').hoverdir();
                //smooth scroll to href value
                $(".scroll").click(function(event){
                    event.preventDefault();
                    //calculate destination place
                    var dest=0;
                    if($(this.hash).offset().top > $(document).height()-$(window).height()){
                        dest=$(document).height()-$(window).height();
                    }else{
                        dest=$(this.hash).offset().top;
                    }
                    //go to destination
                    $('html,body').animate({scrollTop:dest}, 1000,'swing');
                });
                
            });(jQuery);

        </script> 
        <script>
            $(window).scroll(function() {
                "use strict";
                $('#animatedElement').each(function(){
                var imagePos = $(this).offset().top;
                
                var topOfWindow = $(window).scrollTop();
                    if (imagePos < topOfWindow+400) {
                        $(this).addClass("slideUp");
                    }
                });
                
                jQuery(document).ready(function(){
            jQuery('.skillbar').each(function(){
                jQuery(this).find('.skillbar-bar').animate({
                    width:jQuery(this).attr('data-percent')
                },6000);
            });
        });
            });(jQuery);
        </script> 


{#        <script src="{{ asset('bundles/scorecms/wavex/js/bootstrap.js') }}"></script> #}        

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <script type="text/javascript" src="{{ asset('bundles/scorecms/wavex/js/jquery-hover-effect.js') }}"></script> 
        <script type="text/javascript" src="{{ asset('bundles/scorecms/wavex/js/jquery.smint.js') }}?v={{ app.environment == 'dev' ? "now"|date("Ymd-His") }}"></script> 
        <script type="text/javascript" src="{{ asset('bundles/scorecms/wavex/js/counters.js') }}"></script> 

        <!-- Add fancyBox main JS and CSS files --> 
        <script type="text/javascript" src="{{ asset('bundles/scorecms/wavex/js/jquery.fancybox.js?v=2.1.5') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/scorecms/wavex/js/jquery.fancybox-media.js?v=1.0.6') }}"></script> 

        <script type="text/javascript">
                $(document).ready(function($) {
                    "use strict";
                    /*
                    *  Simple image gallery. Uses default settings
                    */
            
                    $('.fancybox').fancybox();
            
                    /*
                    *  Different effects
                    */
            
                    $(document).ready(function() {
                    $('.fancybox-media').fancybox({
                        openEffect  : 'none',
                        closeEffect : 'none',
                        helpers : {
                            media : {}
                        }
                    });
                    });
            
                });(jQuery);
            </script> 
        <script src="{{ asset('bundles/scorecms/wavex/js/nimble.js') }}"></script>
{#        
        <script src="{{ asset('bundles/scorecms/wavex/js/color-switcher.js') }}"></script>
 
        <script src="{{ asset('bundles/scorecms/wavex/js/ccccolor.js') }}"></script>
#} 
        <script type='text/javascript'>
        (function($) {
            "use strict";
            QueryLoader.init();
        })(jQuery);
        </script>

        <!-- on mobile animation off --> 

        <script>
        (function($) {
            "use strict";
        if (screen.width <720 ){
            $('div, img, input, textarea, button, a').removeClass('animate'); // to remove transition
        }
        })(jQuery);
        </script>



