<!-- BEGIN TEAM CONTAINER -->
    <section class="team" id="team">
    	<div class="container text-center">
        	<!-- BEGIN HEADING -->
            <div class="title animate fadeIn">
              <h2 class="light">Yes We Are</h2>
              <h3>Creative Team</h3>
              <p class="title-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum.</p>
            </div>
            <!-- END HEADING -->
            <div class="row">
                <div class="col-md-6 animate fadeInLeftBig" data-delay="100">
                	<!-- BEGIN TEAM -->
                   <div class="team-sec team-sec1">
                   		<div class="member"><img src="/bundles/scorecms/wavex/images/team1.jpg" alt=""></div>
                    	<div class="detail-left">
                        	<h4>John Smith</h4>
                            <strong>Creative Director</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. of Quisque ultricies vestibulum molestie. Graphic Design the power of Suspendisse ultricies Graphic Design the power of Suspendisse potenti</p>
                            <div class="social-icons">
                            	<a href="#." class="fb"><i class="fa fa-facebook"></i><span class="visually-hidden">facebook</span></a> 
								<a href="#." class="tw"><i class="fa fa-twitter"></i><span class="visually-hidden">twitter</span></a>
                                <a href="#." class="it"><i class="fa fa-instagram"></i><span class="visually-hidden">instagram</span></a>
                            </div>
                        </div>
                   <div class="clearfix"></div>
                   </div>
                   
                   
                   
                </div>
                <!-- END TEAM -->
                
                <div class="col-md-6 animate fadeInRightBig" data-delay="100">
                	<!-- BEGIN TEAM -->
                   <div class="team-sec team2">
                   		<div class="member"><img src="/bundles/scorecms/wavex/images/team2.jpg" alt=""></div>
                    	<div class="detail-left">
                        	<h4>Sofia Hales</h4>
                            <strong>Head of Engineering</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. of Quisque ultricies vestibulum molestie. Graphic Design the power of Suspendisse ultricies Graphic Design the power of Suspendisse potenti</p>
                            <div class="social-icons">
                            	<a href="#." class="fb"><i class="fa fa-facebook"></i><span class="visually-hidden">facebook</span></a> 
								<a href="#." class="tw"><i class="fa fa-twitter"></i><span class="visually-hidden">twitter</span></a>
                                <a href="#." class="it"><i class="fa fa-instagram"></i><span class="visually-hidden">instagram</span></a>
                            </div>
                        </div>
                   <div class="clearfix"></div>
                   </div>
                   
                   
                   
                </div>
                
                <div class="col-md-6 animate fadeInLeftBig" data-delay="300">
                	<!-- BEGIN TEAM -->
                   <div class="team-sec team-sec2  team-sec1">
                   		<div class="member"><img src="/bundles/scorecms/wavex/images/team3.jpg" alt=""></div>
                    	<div class="detail-left">
                        	<h4>John Doe</h4>
                            <strong>Web Designer</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. of Quisque ultricies vestibulum molestie. Graphic Design the power of Suspendisse ultricies Graphic Design the power of Suspendisse potenti</p>
                            <div class="social-icons">
                            	<a href="#." class="fb"><i class="fa fa-facebook"></i><span class="visually-hidden">facebook</span></a> 
								<a href="#." class="tw"><i class="fa fa-twitter"></i><span class="visually-hidden">twitter</span></a>
                                <a href="#." class="it"><i class="fa fa-instagram"></i><span class="visually-hidden">instagram</span></a>
                            </div>
                        </div>
                   <div class="clearfix"></div>
                   </div>
                   
                   
                   
                </div>
                
                <div class="col-md-6 animate fadeInRightBig" data-delay="300">
                	<!-- BEGIN TEAM -->
                   <div class="team-sec team-sec2 team2">
                   		<div class="member"><img src="/bundles/scorecms/wavex/images/team4.jpg" alt=""></div>
                    	<div class="detail-left">
                        	<h4>Elebana Nono</h4>
                            <strong>Web Developer</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. of Quisque ultricies vestibulum molestie. Graphic Design the power of Suspendisse ultricies Graphic Design the power of Suspendisse potenti</p>
                            <div class="social-icons">
                            	<a href="#." class="fb"><i class="fa fa-facebook"></i><span class="visually-hidden">facebook</span></a> 
								<a href="#." class="tw"><i class="fa fa-twitter"></i><span class="visually-hidden">twitter</span></a>
                                <a href="#." class="it"><i class="fa fa-instagram"></i><span class="visually-hidden">instagram</span></a>
                            </div>
                        </div>
                   <div class="clearfix"></div>
                   </div>
                   
                   
                   
                </div>
                
           </div>
        </div>
    </section>
    <!-- END TEAM CONTAINER -->