    <!-- Slider -->
  <section class="testimonials">
      <div class="patteren"></div>
      <div id="second">

        <div class="container"> 
          <i class="fa fa-twitter"></i>
          <div class="twitter flash animated">

          <div id="wavex_cms_slider_3" class="cms-carousel carousel slide" data-bs-ride="carousel" data-bs-interval="3000"> 
            <!-- Previous/Next controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#wavex_cms_slider_3" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Predchádzajúca</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#wavex_cms_slider_3" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Nasledujúca</span>
            </button>
            <!-- Indicators -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#wavex_cms_slider_3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#wavex_cms_slider_3" data-bs-slide-to="1" class="" aria-current="" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#wavex_cms_slider_3" data-bs-slide-to="2" class="" aria-current="" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner banner-detail ">

                <div class="carousel-item  item active">
                  <p>CMS_TEXT(wavex-slider-3-slide-1)</p>
                </div>

                <div class="carousel-item  item">
                  <p>CMS_TEXT(wavex-slider-3-slide-2)</p>
                </div>

                <div class="carousel-item  item">
                  <p>CMS_TEXT(wavex-slider-3-slide-3)</p>
                </div>
            </div>
            <!-- Pause/Play controls -->
            <button class="play-control pause" type="button">
                <span class="visually-hidden">Zastaviť alebo spustiť prehrávanie</span> 
            </button>
          </div>
        </div>
        </div>
      </div>
    </section>
  <!-- Slider End --> 
