<!-- Slider -->
<section class="sponsors">
	<div class="patteren"></div>
	<div id="third">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="space"></div>
					<h1 class="light">Our&nbsp;Clients</h1>
					<br/>
					<h1 class="sponsor ">We Value The Quality First
					</h1>

            <ol class="carousel-indicators spons">
							<li data-bs-target="#wavex_cms_slider_4" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"><img class="pro-logo" src="/bundles/scorecms/wavex/images/bcaus.png" alt=""></li>
							<li data-bs-target="#wavex_cms_slider_4" data-bs-slide-to="1" aria-current="" aria-label="Slide 2"><img class="pro-logo" src="/bundles/scorecms/wavex/images/ratings.png" alt=""></li>
							<li data-bs-target="#wavex_cms_slider_4" data-bs-slide-to="2" aria-current="" aria-label="Slide 3"><img class="pro-logo" src="/bundles/scorecms/wavex/images/bcaus.png" alt=""></li>
							<li data-bs-target="#wavex_cms_slider_4" data-bs-slide-to="3" aria-current="" aria-label="Slide 4"><img class="pro-logo" src="/bundles/scorecms/wavex/images/ratings.png" alt=""></li>
						</ol>

						<div class="carousel-inner spon-detail">

							<div class="carousel-item  item active">
								<p>CMS_TEXT(wavex-slider-2-slide-1)</p>
							</div>

							<div class="carousel-item  item">
								<p>CMS_TEXT(wavex-slider-2-slide-2)</p>
							</div>

							<div class="carousel-item  item">
								<p>CMS_TEXT(wavex-slider-2-slide-3)</p>
							</div>

							<div class="carousel-item  item">
								<p>CMS_TEXT(wavex-slider-2-slide-4)</p>
							</div>
						</div>
						<!-- Previous/Next controls -->
						<button class="carousel-control-prev" type="button" data-bs-target="#wavex_cms_slider_4" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Predchádzajúca</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#wavex_cms_slider_4" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Nasledujúca</span>
						</button>
						<button class="play-control pause" type="button">
							<span class="visually-hidden">Zastaviť alebo spustiť prehrávanie</span>
						</button>
					</div>


				</div>
			</div>
		</div>
	</div>
</section>
<!-- Slider End -->


<section class="sponsors">
	<div class="patteren"></div>
	<div id="third">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="space"></div>
					<h1 class="light">Our&nbsp;Clients</h1>
					<br/>
					<h1 class="sponsor ">We Value The Quality First
					</h1>
					<div						id="carousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators spons">
							<li data-target="#carousel" data-slide-to="0" class="active"><img class="pro-logo" src="/bundles/scorecms/wavex/images/bcaus.png" alt=""></li>
							<li data-target="#carousel" data-slide-to="1"><img class="pro-logo" src="/bundles/scorecms/wavex/images/ratings.png" alt=""></li>
							<li data-target="#carousel" data-slide-to="2"><img class="pro-logo" src="/bundles/scorecms/wavex/images/bcaus.png" alt=""></li>
							<li data-target="#carousel" data-slide-to="3"><img class="pro-logo" src="/bundles/scorecms/wavex/images/ratings.png" alt=""></li>
						</ol>
						<div class="carousel-inner spon-detail">
							<div class="item active">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting the readable content of a page when looking at its layout. The point of using Lorem Ipsum is it has a more-or-less normal distribution of letters, as opposed readable English.
									<span class="rating">RATINGS VIA THEMEFOREST</span>
								</p>
							</div>
							<div class="item">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting the readable content of a page when looking at its layout. The point of using Lorem Ipsum is it has a more-or-less normal distribution of letters, as opposed readable English.
									<span class="rating">RATINGS VIA THEMEFOREST</span>
								</p>
							</div>
							<div class="item">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting the readable content of a page when looking at its layout. The point of using Lorem Ipsum is it has a more-or-less normal distribution of letters, as opposed readable English.
									<span class="rating">RATINGS VIA THEMEFOREST</span>
								</p>
							</div>
							<div class="item">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting the readable content of a page when looking at its layout. The point of using Lorem Ipsum is it has a more-or-less normal distribution of letters, as opposed readable English.
									<span class="rating">RATINGS VIA THEMEFOREST</span>
								</p>
							</div>
						</div>
						<!-- Controls -->
						<a class="left carousel-control" href="#carousel" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#carousel" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
