<section class="contact">
	<div id="fifth">
		<div class="container group">
			<!-- <div class="patteren"></div> -->
			<div class="title animate fadeIn">
				<h1 class="light">Contact Us</h1>
				<br/>
				<h1>Get in Touch with Us</h1>
				<p class="title-detail">Lorem Ipsum is simply dummy text of the printing and typesetting</p>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form animate bounceInUp">
						<div data-cms="react-form" data-form-id="contactform"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
