<section class="pressroom">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="title animate fadeIn">
					<h2>News & Events</h2>
					<p class="title-detail">Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				</div>
				<div class="space"></div>
				<div class=" container animate fadeIn">

					<div class="row">
						<div class="press-img col-md-6 col-lg-5 order-md-3 text-center">
							<a href="blog.html"><img class="animate fadeIn" src="/bundles/scorecms/wavex/images/press-img1.jpg" alt="text of this image"></a>
						</div>
						<div class="d-none d-lg-block col-lg-2 order-md-2 text-center">
							<img src="/bundles/scorecms/wavex/images/timeline-divider.png" alt="">
						</div>
						<div class="col-md-6 col-lg-5 order-md-1">
							<h4><span class="title"><a href="blog.html">There are many variations of passages</a></span></h4>
							<div class="clear"></div> <span>05/18/2014</span>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting by the readable content of a page when looking at its layout and calling you back. They are very responsive.</p>
							<a href="blog.html">read more</a>
						</div>
					</div>
					<div class="row">
						<div class="press-img col-md-6 col-lg-5 order-md-1 text-center">
							<a href="blog.html"><img class="animate fadeIn" src="/bundles/scorecms/wavex/images/press-img2.jpg" alt="text of this image"></a>
						</div>
						<div class="d-none d-lg-block col-lg-2 order-md-2 text-center">
							<img src="/bundles/scorecms/wavex/images/timeline-divider.png" alt="">
						</div>
						<div class="col-md-6 col-lg-5 order-md-3">
							<h4><span class="title"><a href="blog.html">There are many variations of passages</a></span></h4>
							<div class="clear"></div> <span>05/18/2014</span>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting by the readable content of a page when looking at its layout and calling you back. They are very responsive.</p>
							<a href="blog.html">read more</a>
						</div>
					</div>
					<div class="row">
						<div class="press-img col-md-6 col-lg-5 order-md-3 text-center">
							<a href="blog.html"><img class="animate fadeIn" src="/bundles/scorecms/wavex/images/press-img1.jpg" alt="text of this image"></a>
						</div>
						<div class="d-none d-lg-block col-lg-2 order-md-2 text-center">
							<img src="/bundles/scorecms/wavex/images/timeline-divider.png" alt="">
						</div>
						<div class="col-md-6 col-lg-5 order-md-1">
							<h4><span class="title"><a href="blog.html">There are many variations of passages</a></span></h4>
							<div class="clear"></div> <span>05/18/2014</span>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting by the readable content of a page when looking at its layout and calling you back. They are very responsive.</p>
							<a href="blog.html">read more</a>
						</div>
					</div>

			</div>
		</div>
	</div>
</section>
