<!doctype html>
<html lang="sk">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>{% block title %}{{app.request.host()|split('.')|filter(v => v != "www")|first|upper}}{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        
        <link href="{{ asset('bundles/scorecms/bootstrap5/css/bootstrap.min.css') }}" rel="stylesheet"/>
        {# <link href="{{ asset('bundles/scorecms/bootstrap3/css/bootstrap.min.css') }}" rel="stylesheet"/> #}

        {# <link href="{{ asset('bundles/scorecms/wavex/css/blue.css') }}" rel="stylesheet" id="color" type="text/css" /> #}
        <link rel="stylesheet" href="{{ asset('bundles/scorecms/wavex/css/wavex.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/scorecms/wavex/fonts/web-fonts.css') }}">

        {# <link rel="stylesheet" href="{{ asset('bundles/scorecms/wavex/css/bootstrap.css') }}"> #}

        <link href="{{ asset('bundles/scorecms/wavex/css/parallax.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/scorecms/wavex/css/header.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/scorecms/wavex/css/animate.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css') }}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/scorecms/wavex/css/style.css') }}">
        <link href="{{ asset('bundles/scorecms/wavex/css/form.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/scorecms/wavex/css/queryLoader.css') }}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/scorecms/wavex/css/jquery.fancybox.css') }}">

        

        <link href="{{ asset('bundles/scorecms/wavex/css/style-custom.css') }}?v={{ cms_get_version() }}{{ app.environment == 'dev' ? "now"|date("Ymd-His") }}" rel="stylesheet"/>

        <link href="{{ asset('bundles/scorecms/wavex/css/' ~ (wavex_template_color is defined and wavex_template_color ? ('c-' ~ wavex_template_color ~ '.css') : 'color.css' )) }}?v={{ cms_get_version() }}{{ app.environment == 'dev' ? "now"|date("Ymd-His") }}" rel="stylesheet"/>

        <link href="{{ asset('bundles/scorecms/css/ckstyle.css') }}" rel="stylesheet"/>

        {% block stylesheets %}

        {% endblock %}

		{% import "@ScoreBase/Default/macros.html.twig" as m_layout %}
		{% set layout_reactFiles = (page is defined and page.blockJoints|map(pb => pb.block.type) | filter(v => v == 'form') | length) ? [] : cms_react_apps(['form'])  %} {# LEBO KED SA TO NACITA DVA KRAT TAK TO NEFUNGUJE #}
		{{ m_layout.filterCss(layout_reactFiles) }}

    </head>
    <body class="cms_seo_{{  page is defined ? page.seoId | replace({'/': "_"}) }}">
        <a href="#main" class="skip-link">Preskočiť na hlavný obsah</a>
        <div id="home" style="background-image:url({{ asset('bundles/scorecms/wavex/images/play.png') }});"></div>{# aspon jeden element na stranke musi mat bg-iamge (queryLoader.js) #}
        <div id="warp">

			{{ include('@ScoreCms/Public/wavex/_header.html.twig') }}
            {{ include('@ScoreCms/Public/wavex/_banner10.html.twig') }}


            <main id="main" class="{{ wavex_main_menu_from_sections is defined and wavex_main_menu_from_sections ? "sections" }}">
                {% block body %}{% endblock %}
            </main>

            {{ include('@ScoreCms/Public/wavex/_footer.html.twig') }}

        </div>
        
        {% block javascripts %}

            {{ include('@ScoreCms/Public/wavex/_js.html.twig') }}
            {{ m_layout.filterJs(layout_reactFiles) }}

            <script>

                // galeria "work" sa potrebuje initializovat po nacitani obrazkov
                // setTimeout(() => { $( window ).resize(); }, 3000);


                $(document).ready(function($) {
                    // CAROUSEL - PLAY and PAUSE
                    $('.cms-carousel').each(function(){
                        let carousel = new bootstrap.Carousel(this, { interval: parseInt(this.dataset?.bsInterval) || 5000 });
                        $(this).find('.play-control').click(function(e){
                            e.preventDefault();
                            let el = $(this);
                            if (el.hasClass("pause")) {
                                carousel.pause();
                                el.removeClass('pause').addClass( "play" ); 
                            } else {
                                carousel.cycle();
                                el.removeClass('play').addClass( "pause" ); 
                            }
                        }); 
                    })
                });(jQuery);
            </script>
        {% endblock %}
    </body>
</html>
