{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}


{% block content_header_title %}
    <h1>{{ 'score.cms.log.list.title' | trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.cms.log.list.breadcrumb' | trans }}</li>
{% endblock %}

{% block body %}

    {{ m.alerts() }}

  <div class="row">
        <div class="col-sm-12">
            <div class="box box-solid">
                <div class="box-header clearfix">
                    Log
                </div>
                <div class="box-body">
                    {{ dump(log) }}
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="box box-solid">
                <div class="box-header clearfix">
                    Zmenená entita v aktualnom stave
                </div>
                <div class="box-body">
                    {{ dump(entity) }}
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-body">
                    <a href="{{ path('score-cms-logs-list-entity-full',{'slug': app.request.get('slug') }) }}"
                       class="btn btn-primary">{{ 'score.cms.log.list.showAll'|trans }} </a>
                    <a href="{{ path('score-cms-logs-list-entity',{'slug': app.request.get('slug') }) }}"
                       class="btn btn-primary">{{ 'score.cms.log.list.showWeek'|trans }} </a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

