{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}


{% block content_header_title %}
    <h1>{{ 'score.cms.log.list.title' | trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.cms.log.list.breadcrumb' | trans }}</li>
{% endblock %}

{% block body %}

    {{ m.alerts() }}

    <div class="row">
        <div class="col-sm-12">
            <div class="box box-solid">
                <div class="box-header clearfix">
                    {{ ( app.request.get('slug') starts with 'Score' ? "[cms] " : "") ~ ( app.request.get('slug') | split("-") | reverse )[0] }}
                </div>
                <div class="box-body">
                    <table id="logs-datatable" class="table table-striped display compact">
                        <thead>
                        <tr>
                            <th>{{ 'score.cms.log.list.editedAt'|trans }}</th>
                            <th>{{ 'score.cms.log.list.id'|trans }}</th>
                            {# <th>{{ 'score.cms.log.list.groupId'|trans }}</th> #}
                            <th>{{ 'score.cms.log.list.event'|trans }}</th>
                            <th>{{ 'score.cms.log.list.email'|trans }}</th>
                            <th>{{ 'score.cms.log.list.field'|trans }}</th>
                            <th>{{ 'score.cms.log.list.action'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, log in logs %}
                            <tr class={{ key > 0 and log.identifier != logs[key - 1].identifier ? "custom-first-in-group":"" }}>
                                <td>{{ log.editedAt | date('d.m H:i') }}</td>
                                <td>{{ log.entityId }}</td>
                                {# <td>{{ log.identifier }}</td> #}
                                <td>{{ log.event }}</td>
                                <td>{{ log.userEmail }}</td>
                                <td>{{ log.field  ?? "-" }}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm btn-show-changes"
                                       href="#" {{ log.field ? "" : "disabled" }}
                                       data-old="{{ log.oldValue }}"
                                       data-new="{{ log.newValue }}"
                                    >{{ 'score.cms.log.list.show'|trans }}</a>

                                    <a href="{{ path('score-cms-logs-revert',{'id': log.id , 'slug': app.request.get('slug') }) }}" {{ log.canRevert ? "" : "disabled" }}
                                       class="btn btn-primary btn-sm">{{ 'score.cms.log.list.revert'|trans }}</a>
                                    <br>
                                    {# <a href="{{ path('score-cms-logs-dump',{'id': log.id , 'slug': app.request.get('slug') }) }}" {{ log.canRevert ? "" : "disabled" }}
                                        >{{'score.cms.log.list.dump'|trans }}</a> #}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {#
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-body"> #}

                    <a href="{{ path('score-cms-logs-list-entity-full',{'slug': app.request.get('slug') }) }}"
                       class="btn btn-primary">{{ 'score.cms.log.list.showAll'|trans }} </a>

                    <a href="{{ path('score-cms-logs-list-entity',{'slug': app.request.get('slug') }) }}"
                       class="btn btn-primary">{{ 'score.cms.log.list.showWeek'|trans }} </a>


                </div>
            </div>
            <div class="custom-modal">
                <p>
                    {{ 'score.cms.log.list.modalTitle'|trans }}
                    <button class="btn btn-info change-view">{{ 'score.cms.log.list.changeView'|trans }}</button>
                    <button class="btn btn-info view-diff">Diff</button>
                    <button class="btn btn-info close">{{ 'score.cms.log.list.close'|trans }}</button>
                </p>
                <div class="m-old"></div>
                <div class="m-new"></div>
            </div>
        </div>
    </div>


{% endblock %}

 

    {% block stylesheets %}
        {{ parent() }}

        <style>
            .table .custom-first-in-group td {
                border-top: 1px solid darkred;
            }

            .custom-modal {
                position: fixed;
                width: calc(100% - 230px);
                height: 100%;
                z-index: 1050;
                top: 0;
                left: 230px;
                background-color: rgba(255, 255, 255, 0.9);
                display: none;
                overflow: scroll;
                backdrop-filter: blur(7px);
            }

            .custom-modal > div, .custom-modal > p {
                padding: 2em;
                border-bottom: 3px solid darkred;
            }
        </style>
    {% endblock %}

 

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>
        <script src="{{ asset('bundles/scorecms/js/PageManager.js') }}"></script>
        <script src="{{ asset('bundles/scorecms/plugins/diff/script.js') }}"></script>
        <script type="text/javascript">

            $('#logs-datatable').DataTable({
                pageLength: 50,
                language: {
                    url: "{{ asset('bundles/scorecms/plugins/datatables/sk.js') }}"
                },
                "ordering": false
            });

        </script>

        <script type="text/javascript">

            let modal = $('.custom-modal');

            let closeCustomModal = _ => {
                modal.css('display', 'none')
                modal.find('div').html("")
            }

            modal.find('.close').click(() => {
                closeCustomModal();
            })

            $(document).keyup(function (e) {
                if (e.which == 27) {
                    closeCustomModal();
                }
            });

            // Prepnutie zobrazenia html vykreslenim a zobrazenim kodu
            $('.custom-modal').on('click', '.btn.change-view', function (e) {
                e.preventDefault();
                let showHtml = $(this).data().view === "html"
                $(this).data("view", showHtml ? "text" : "html")
                modal.find('.m-old, .m-new').each((k, el) => {
                    if (showHtml) {
                        $(el).html($(el).data().html)
                    } else {
                        $(el).text($(el).data().html)
                    }
                })
            });

            // show diff
            modal.on('click', '.btn.view-diff', function (e) {
                e.preventDefault();
                let dmp = new diff_match_patch();
                modal.find('.m-new').html(
                    dmp.diff_prettyHtml(
                        dmp.diff_main(modal.find('.m-old').text(), modal.find('.m-new').text())
                    )
                );
            });

            // zobrazenie modalu
            $('#logs-datatable').on('click', '.btn-show-changes', function (e) {
                e.preventDefault();
                modal.css('display', 'block')
                modal.find('.m-old').data("html", this.dataset.old).html(this.dataset.old)
                modal.find('.m-new').data("html", this.dataset.new).html(this.dataset.new)
            });

        </script>

    {% endblock %}