{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}


{% block content_header_title %}
    <h1>{{ 'score.cms.log.list.title' | trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.cms.log.list.breadcrumb' | trans }}</li>
{% endblock %}

{% block body %}

    {{ m.alerts() }}

  <div class="row">
        <div class="col-sm-12">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="logs-datatable" class="table table-striped display compact">
                        <thead>
                        <tr>
                            <th>{{ 'score.cms.log.list.changedEntity'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for log in logs %}
                            <tr>
                                <td>           
                                    <a href="{{ path('score-cms-logs-list-entity',{'slug': log |replace({'\\': "-"}) }) }}">
                                        {{ (log starts with 'Score' ? "[cms] " : "") ~ (log | split("\\") | reverse )[0] }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                </div>
            </div>
        </div>
    </div>


{% endblock %}

 

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>
        <script src="{{ asset('bundles/scorecms/js/PageManager.js') }}"></script>
        <script type="text/javascript">

            $('#logs-datatable').DataTable({
                pageLength: 50,
                language: {
                    url: "{{ asset('bundles/scorecms/plugins/datatables/sk.js') }}"
                },
                "ordering": false
            });

        </script>

    {% endblock %}