// body {
//   //font-family: sans-serif;
// }


$color-primary: #3c8dbc; // farba rozhrania SCORE-CMS / od nej su vsetky odvodene, farby hviezdiciek su v ../config
$color-valid: #4da00d;
$color-invalid: #e30808;
$black: black;
$white: white;


/**
ADMIN
 */
.cms-form-edit-wrapper {
  display: flex;
  gap: 1em;
  justify-content: stretch;

  h3, h4, h5 {
    margin-top: 0;
  }

  .text-danger {
    color: lighten($color-invalid, 20%);
  }

  .options-panel {
    width: 220px;
    //border-radius: 0.3em;
    border: 0.01em solid lighten($color-primary, 40%);
    padding: 0.3em;
    color: $black;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;

    .items {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    button.item {
      display: block;
    }

    button.btn-save {
      display: block;
      padding: 1.5em 3em;
      border: 0.1em solid lighten($color-primary, 15%);
    }
  }

  button {
    text-align: left;
    padding: 0.5em;
    margin: 0.2em 0.2em 0.3em;
    border: 0.1em solid lighten($color-primary, 25%);
    border-radius: 0.3em;
    background-color: lighten($color-primary, 30%);

    &:hover:not([disabled]) {
      background-color: lighten($color-primary, 35%);
    }
  }

  .form-info {
    padding: 1em;
    margin-bottom: .3em;
    border: 0.1em solid lighten($color-primary, 40%);
  }

  .form-row {
    margin-bottom: 0.5em;
  }

  input,
  select,
  textarea {
    padding: 0.5em 0.7em;
    margin-bottom: 0.5em;

    &.large {
      transform: scale(1.2);
    }

    &.small {
      transform: scale(0.9);
    }
  }

  .items {
    flex-grow: 1;

    .item {
      padding: 1em;
      margin-bottom: .3em;
      border: 0.1em solid lighten($color-primary, 40%);

      h4, p {
        margin: 0;
      }

      &.item-editing {
        border-color: darken($color-primary, 10%);
      }
    }
  }


  ul.choices {
    li {
      display: flex;
      align-items: center;
      gap: 1em;
      //justify-content: space-between;
    }
  }
}


/**
PUBLIC
 */

.cms-form {
  form.items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /*
    .cms-form-item {
      margin-bottom: 1em;
      padding: 0.5em;
      border-radius: 0.3em;
      border: 1px solid transparent;

      &.invalid {
        border-color: lighten($color-invalid, 15%);

        label.incorrect,
        small {
          color: $color-invalid;
        }
      }

      &.valid {
        border-color: lighten($color-valid, 15%);
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="date"],
    input[type="tel"],
    select,
    textarea {
      min-width: 20em;
    }*/

  .cms-form-success-message {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .success-message {
      margin-bottom: 1em;
    }
  }
}

.items {
  textarea {
    margin-bottom: 5px;
  }
}

/**
SHARED
 */

.cms-form,
.cms-form-edit-wrapper {

  position: relative;

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="date"],
  select,
  textarea {
    display: block;
  }

  //label:before,
  //label:after {
  //  display: block;
  //  width: 100%;
  //  content: "";
  //}

  label {
    display: block;
  }

  input[type="radio"] + label,
  input[type="checkbox"] + label {
    display: inline-block;
  }

  span.required:before {
    color: $color-invalid;
    content: "*";
    margin-right: 0.3em;
  }

  .cms-star-rating {
    button,
    button:hover,
    button:focus {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 1.5em;
      margin: 0;
      padding: 0 0.2em 0.2em;
    }
  }


  /// start loader
  .cms-form-loader {
    background-color: rgba($black, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 100px;
    min-height: 100px;
    border-radius: 0.3em;
  }

  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }

  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $white;
    border-color: $white transparent $white transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  // end LOADER

  .cms-form-sr-only { // pre input ktory sa nevyplna
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important; /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important; /* 3 */
  }

  /**
  *      BASICS      BASICS      BASICS
  */

  button {
    //padding: 1em 3em;

    &.close {
      float: right;
      border: none;
      border-radius: 50%;
      background: none;
      font-size: 1.5em;
      padding: 0.2em;
    }
  }

  .alerts-wrapper {
    display: block;
    width: 100%;
  }

  .alert {
    padding: 1em;
    border-radius: 0.3em;
    margin-bottom: 0.5em;
    border: 0.1em solid transparent;
  }

  .alert-danger {
    border-color: lighten($color-invalid, 40%);
    background-color: lighten($color-invalid, 50%);
  }

  .alert-success {
    border-color: lighten($color-valid, 50%);
    background-color: lighten($color-valid, 60%);
  }
}