.cms-gallery-edit-wrapper button {
  text-align: left;
  padding: 0.5em;
  margin: 0.2em 0.2em 0.3em;
  border: 0.1em solid #99c5de;
  border-radius: 0.3em;
  background-color: #acd0e5;
}

.cms-gallery-edit-wrapper button:hover:not([disabled]) {
  background-color: #c0dbeb;
}

.cms-gallery-edit-wrapper .dragging {
  border: 4px dashed #007aff;
  background-color: rgba(0, 122, 255, 0.15);
}

/**
SHARED
 */
.cms-gallery,
.cms-gallery-edit-wrapper {
  position: relative;
}

.cms-gallery input[type="text"],
.cms-gallery input[type="email"],
.cms-gallery input[type="number"],
.cms-gallery input[type="tel"],
.cms-gallery input[type="date"],
.cms-gallery select,
.cms-gallery textarea,
.cms-gallery-edit-wrapper input[type="text"],
.cms-gallery-edit-wrapper input[type="email"],
.cms-gallery-edit-wrapper input[type="number"],
.cms-gallery-edit-wrapper input[type="tel"],
.cms-gallery-edit-wrapper input[type="date"],
.cms-gallery-edit-wrapper select,
.cms-gallery-edit-wrapper textarea {
  display: block;
}

.cms-gallery label,
.cms-gallery-edit-wrapper label {
  display: block;
}

.cms-gallery span.required:before,
.cms-gallery-edit-wrapper span.required:before {
  color: #e30808;
  content: "*";
  margin-right: 0.3em;
}

.cms-gallery .cms-star-rating button,
.cms-gallery .cms-star-rating button:hover,
.cms-gallery .cms-star-rating button:focus,
.cms-gallery-edit-wrapper .cms-star-rating button,
.cms-gallery-edit-wrapper .cms-star-rating button:hover,
.cms-gallery-edit-wrapper .cms-star-rating button:focus {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5em;
  margin: 0;
  padding: 0 0.2em 0.2em;
}

.cms-gallery .cms-form-loader,
.cms-gallery-edit-wrapper .cms-form-loader {
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 100px;
  min-height: 100px;
  border-radius: 0.3em;
}

.cms-gallery .lds-dual-ring,
.cms-gallery-edit-wrapper .lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.cms-gallery .lds-dual-ring:after,
.cms-gallery-edit-wrapper .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid white;
  border-color: white transparent white transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/**
  *      BASICS      BASICS      BASICS
  */
button {
  padding: 1em 3em;
}

button.close {
  float: right;
  border: none;
  border-radius: 50%;
  background: none;
  font-size: 1.5em;
  padding: 0.2em;
}

.alerts-wrapper {
  display: block;
  width: 100%;
}

.alert {
  padding: 1em;
  border-radius: 0.3em;
  margin-bottom: 0.5em;
  border: 0.1em solid transparent;
}

.alert-danger {
  border-color: #fdbaba;
  background-color: #feecec;
}

.alert-warning {
  border-color: #ffd699;
  background-color: #ffebcc;
}

.alert-success {
  border-color: #d1f9b3;
  background-color: #eefde2;
}
/*# sourceMappingURL=styles.css.map */