$color-primary: #3c8dbc; // farba rozhrania SCORE-CMS / od nej su vsetky odvodene, farby hviezdiciek su v ../config
$color-valid: #4da00d;
$color-warning: #995c00;
$color-invalid: #e30808;
$black: black;
$white: white;

.cms-gallery-edit-wrapper {
  // display: flex;
  // gap: 1em;
  // justify-content: stretch;

  button {
    text-align: left;
    padding: 0.5em;
    margin: 0.2em 0.2em 0.3em;
    border: 0.1em solid lighten($color-primary, 25%);
    border-radius: 0.3em;
    background-color: lighten($color-primary, 30%);

    &:hover:not([disabled]) {
      background-color: lighten($color-primary, 35%);
    }
  }

  .dragging {
    border: 4px dashed #007aff;
    background-color: rgba(0, 122, 255, 0.15);
  }
}

/**
SHARED
 */

.cms-gallery,
.cms-gallery-edit-wrapper {
  position: relative;

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="date"],
  select,
  textarea {
    display: block;
  }

  //label:before,
  //label:after {
  //  display: block;
  //  width: 100%;
  //  content: "";
  //}

  label {
    display: block;
  }

  span.required:before {
    color: $color-invalid;
    content: "*";
    margin-right: 0.3em;
  }

  .cms-star-rating {
    button,
    button:hover,
    button:focus {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 1.5em;
      margin: 0;
      padding: 0 0.2em 0.2em;
    }
  }

  /// start loader
  .cms-form-loader {
    background-color: rgba($black, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 100px;
    min-height: 100px;
    border-radius: 0.3em;
  }

  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }

  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $white;
    border-color: $white transparent $white transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  // end LOADER


  /**
    *      BASICS      BASICS      BASICS
    */
  button {
    //padding: 1em 3em;

    &.close {
      float: right;
      border: none;
      border-radius: 50%;
      background: none;
      font-size: 1.5em;
      padding: 0.2em;
    }
  }

  .react-images__pager {
    button {
      padding: 0;
    }
  }

  .alerts-wrapper {
    display: block;
    width: 100%;
  }

  .alert {
    padding: 1em;
    border-radius: 0.3em;
    margin-bottom: 0.5em;
    border: 0.1em solid transparent;
  }

  .alert-danger {
    border-color: lighten($color-invalid, 40%);
    background-color: lighten($color-invalid, 50%);
  }

  .alert-warning {
    border-color: lighten($color-warning, 50%);
    background-color: lighten($color-warning, 60%);
  }

  .alert-success {
    border-color: lighten($color-valid, 50%);
    background-color: lighten($color-valid, 60%);
  }


  .tiles {
    padding: 6vh 16vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }

  .tile {
    margin: 15px;
    cursor: pointer;
    overflow: hidden;
    width: 18vw;
    height: 18vw;

    img {
      width: 100%;
      transition: transform 500ms ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
