{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block content_header_title %}
	<h1>{{ 'score.cms.option.edit.title' | trans }}</h1>
{% endblock %}

{% block content_header_breadcrumb %}
	{{ parent() }}
	<li class="active">{{ 'score.cms.option.breadcrumb' | trans }}</li>
	{% if group is defined %}
		<li class="active"><a class="" href="{{ path('score_cms_option_list',{id:group.id ?? 0}) }}">{{ group.name ?? "" }}</a></li>
	{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script>
		$('.dropdown input[type="checkbox"], .dropdown .checkbox > label').on('click', e => e.stopPropagation());
	</script>
    <script>
        $('.btn-bigger-textarea').click(function(e){
            e.preventDefault();
            $('#option_full_value').attr('rows', this.dataset.rows);
        })
		$('form[name="option_full"] > p.rows-change').fadeIn();
    </script>	

	{% if entity.paramsArr.editor is defined and entity.paramsArr.editor %}
     	{{m.cmsEditorJs('option_value', entity.paramsArr.editor)}}
	{% endif %}

	{{ include('@ScoreCms/Default/_js_keyboard_submit_form.html.twig', {"formSelector": "form[name=\"option\"]" }) }}

{% endblock %}

{% block body %}
	{{ m.alerts() }}


	

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<p class="rows-change" style="display:none;">   
            Chcem upravovat obsah a chcem textarea na pocet riadkov:
			{% for size in [5,10,20,50] %}
            	<button class="btn btn-info btn-sm btn-bigger-textarea" data-rows="{{ size }}" >{{ size }}</button>
            {% endfor %}
        </p>
	<input class="btn btn-primary" type="submit" value="{{ 'score.cms.option.edit.save' | trans }}"/>
	{{ form_end(form) }}

{% endblock %}
