{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content_header_title %}
    <h1>{{ 'score.cms.option.list.topTitle'|trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.cms.option.breadcrumb' | trans }}</li>
{% endblock %}

{% block body %}

    {{ m.alerts() }}


    <div class="row">
        <div class="col-sm-10">

            <div class="box box-solid">
                <div class="box-body">
                    <table id="options-datatable" class="table table-striped display compact">
                        <thead>
                            <tr>
                                <th>{{ 'score.cms.option.list.name'|trans  }}</th>
			                    {% if is_granted('ROLE_ADMIN') %}
                                    <th>{{ 'score.cms.option.list.action'|trans  }}</th>
			                    {% endif %}			
                            </tr>
                        </thead>
                        <tbody>
                        {% for group in groups %}
                            <tr>
                                <td>
                                    <a class="" href="{{ path('score_cms_option_list',{id:group.id}) }}">{{ group.name }}</a>
                                </td>
			                    {% if is_granted('ROLE_ADMIN') %}
                                    <td>
                                        <a class="" href="{{ path('score_cms_option_group_edit',{id:group.id}) }}">{{ 'score.cms.option.list.edit'|trans }}</a>
                                        <br><a class="delete-option-group" href="{{ path('score_cms_option_group_delete',{id:group.id}) }}">{{ 'score.cms.option.list.delete'|trans }}</a>
                                    </td>
			                    {% endif %}			
                            </tr>
                        {% endfor %}
                        </tbody>
                      
                    </table>
                </div>
                <div class="box-footer clearfix">

                </div>
            </div>
        </div>
        <div class="col-sm-2">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="box box-primary">
                    <div class="box-body">
                        <a class="btn btn-primary" href="{{ path('score_cms_option_group_new') }}">{{ 'score.cms.option.list.new'|trans }}</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


    {{ include('@ScoreCms/Default/_delete_modal.html.twig') }}

{% endblock %}


    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>
        <script type="text/javascript">

            $('#options-datatable').DataTable({
             "pageLength": 50,
              'language': {
                    url: '/bundles/scorecms/plugins/datatables/sk.js'
                }
        });

        </script>

        <script>

            $('body').on('click', '.delete-option-group', function (e) {
                e.preventDefault();
                $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
                $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.option.group.delete" |trans }}");
                $('#confirm-delete-cms-item-modal').modal('show');
            });
        </script>
    {% endblock %}


