{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block content_header_title %}
     <h1>{{ 'score.cms.group.edit.title' | trans }}</h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
     <li class="active">{{ 'score.cms.group.breadcrumb' | trans }}</li>
{% endblock %}


{% block body %}

    {{ m.alerts() }}

        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">{{ 'score.cms.user.edit.save' | trans }}</button>
            {{ form_end(form) }}
            <br><a href="{{ path("admin_groups") }}">{{ 'score.cms.group.edit.back' | trans }}</a>
        </div>


{% endblock %}




