{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet" />
{% endblock %}


{% block content_header_title %}
     <h1>{{ 'score.cms.group.list.title' | trans }}</h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
     <li class="active">{{ 'score.cms.group.breadcrumb' | trans }}</li>
{% endblock %}




{% block body %}
    {{ m.alerts() }}
    <table id="groups-datatable" class="table table-striped display compact">
        <thead>
        <tr>
            {# <th>Id</th> #}
            <th>{{ 'score.cms.group.list.name' | trans }}</th>
            <th>{{ 'score.cms.group.list.role' | trans }}</th>
            <th>{{ 'score.cms.group.list.active' | trans }}</th>
            <th>{{ 'score.cms.group.list.action' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                {# <td>{{ group.id }}</td> #}
                <td>{{ group.name }}</td>
                <td>{{ group.role }}</td>
                <td>{{ group.visibility ? "Yes" : "No" }}</td>
                <td>
                    <ul>

                        <li>
                            <a href="{{ path('admin_group_edit', { 'id': group.id }) }}">{{ 'score.cms.group.list.edit' | trans }}</a>
                        </li>
                        <li>
                            <a class="delete-cms-item" href="{{ path("admin_group_delete", {id: group.id}) }}">{{ 'score.cms.group.edit.delete' | trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_group_new') }}">{{ 'score.cms.group.list.createNew' | trans }}</a>
        </li>
    </ul>
            {{ include('@ScoreCms/Default/_delete_modal.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>
        <script type="text/javascript">
            $('#groups-datatable').DataTable({
             pageLength: 25,
             language: {
                 url: "{{ asset('bundles/scorecms/plugins/datatables/sk.js') }}"
             },
             "ordering": false
         });
    </script>

    
    
        <script>
            $('body').on('click', '.delete-cms-item', function (e) {
                e.preventDefault();
                $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
                $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.group.delete" |trans }}");
                $('#confirm-delete-cms-item-modal').modal('show');
            });
        </script>

{% endblock %}
