[class="ck ck-editor__main"] {
  font-size: 16px;
}

.save-loader-parent {
  position: relative;
}

.save-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding-top: 50px;
  z-index: 2000;
  font-size: 18px;
  font-weight: bold;
  display: none;
}

.save-loader.active {
  display: block;
}


.remove-menu-item, .edit-menu-item {
  //position: absolute;
  top: 8px;
}

.remove-menu-item {
  right: 0;
}

.edit-menu-item {
  right: 70px;
}

.menu-item-edit-block {
  //display: none;
  //border: 1px solid #cccccc;
  //border-top: 0;
  //margin-top: -8px;
}

.blocks-wrapper {
  width: 100%;
  background-color: red;
}

.main-content {
  float: left;
  width: 40%;
}

.left-sidebar,
.right-sidebar {
  float: left;
  width: 25%;
}

.menu-left-center-right,
.menu-left-center,
.menu-center,
.menu-center-right {
  margin: 0;
  padding: 0;
  display: flex;

  & > [class^="cms-"] {
    display: flex;
    flex-direction: column;
    //justify-content: stretch;
    //align-content: stretch;
    padding: 0.4em;
  }

  & > .cms-left {
    flex-grow: 1;
    background-color: #f5f5ff;
  }

  & > .cms-center {
    flex-grow: 3;
    background: #f0fff0;
  }

  & > .cms-right {
    flex-grow: 1;
    background: #ffffeb;
  }
}

.add-block {
  //margin: 1em;
  margin-top: auto;
  margin-left: auto;
  //justify-self: flex-end;
  //align-self: flex-end;
}


.overlay-modal {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  min-height: 70%;
  padding: 1em 2em;
  margin: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 3000;

  & > div {
    background-color: #ddd;
    padding: 1em;
  }

  .close-wrapper {
    text-align: right;
    padding-right: 0.5em;
    font-size: 1.5em;
  }
}

.clear {
  clear: both;
}

/*simple markdown editor override*/
.editor-toolbar {
  &.fullscreen {
    z-index: 2000 !important;
  }
}

.CodeMirror-fullscreen, .editor-preview-side {
  z-index: 2000 !important;
}