/* .idsk-intro-block{
       display: none;
   } */
.cms-form .form-label {
    margin-bottom: 0;
}

/* CKE5 - text sizes */
span.text-tiny {
    font-size: 0.7em;
}

span.text-small {
    font-size: 0.85em;
}

span.text-big {
    font-size: 1.4em;
}

span.text-huge {
    font-size: 1.8em;
}

/* CKE5 - images positions  */
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

div p + .image-style-side {
    margin-top: 0;
}

.image {
    clear: both;
    display: table;
    margin: 0.9em auto;
    min-width: 50px;
    text-align: center;
}

/*.image.image_resized,*/
/*.image_resized {*/
/*    margin: 0.5em;*/
/*}*/

.image.image-style-align-left,
.image-style-align-left {
    float: left;
    margin-left: 0;
}

.image.image-style-align-right,
.image-style-align-right {
    float: right;
    margin-right: 0;
}

.image.image-style-side,
.image-style-side {
    float: right;
    max-width: 50%;
    margin-right: 0;
}

.image-style-block-align-left {
    margin-left: 0;
    margin-right: auto;
}

.image-style-block-align-right {
    margin-left: auto;
    margin-right: 0;
}

/* CKE5 - list style */

ul:not([class]) {
    list-style-type: disc;
}

ol:not([class]) {
    list-style-type: decimal;
}

ul:not([class]) ul:not([class]), ol:not([class]) ul:not([class]) {
    list-style-type: circle;
    margin-left: 15px;
}

ul:not([class]) ul:not([class]) ul:not([class]), ol:not([class]) ul:not([class]) ul:not([class]) {
    list-style-type: square;
}

ol:not([class]) ol:not([class]), ul:not([class]) ol:not([class]) {
    list-style-type: lower-latin;
    margin-left: 15px;
}

li {
    list-style: unset;
}

.todo-list {
    margin: 0;
    padding: 0;
    overflow: auto;
}

.todo-list {
    list-style: none;
    padding-left: 40px;
}

.todo-list > li {
    padding: 10px;
}

.todo-list .todo-list__label > input {
    left: -25px;
}

.todo-list .todo-list__label > input[checked]:before {
    background: #26ab33;
    border-color: #26ab33;
}

.todo-list {
    list-style: none;
}

.ck .todo-list {
    padding-left: 40px;
}


.todo-list > li {
    border-radius: 2px;
    padding: 3px;
    background: #f4f4f4;
    margin-bottom: 2px;
    border-left: 2px solid #e6e7e8;
    color: #444;
}

.todo-list li {
    margin-bottom: 5px;
}

.todo-list li {
    background-color: unset;
    border-left: none;
}

.todo-list .todo-list__label > input {
    cursor: pointer;
}

.todo-list .todo-list__label > input {
    -webkit-appearance: none;
    border: 0;
    display: inline-block;
    height: 1em;
    left: -25px;
    margin-left: 0;
    margin-right: -15px;
    position: relative;
    right: 0;
    vertical-align: middle;
    width: 1em;
}

.todo-list .todo-list__label > input:before {
    border: 1px solid #333;
    border-radius: 2px;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: box-shadow .25s ease-in-out, background .25s ease-in-out, border .25s ease-in-out;
    width: 100%;
}

.todo-list .todo-list__label > input[checked]:after {
    border-color: #fff;
}

.todo-list__label > input:after {
    border-color: transparent;
    border-style: solid;
    border-width: 0 calc(1em / 8) calc(1em / 8) 0;
    box-sizing: content-box;
    content: "";
    display: block;
    height: calc(1em / 2.6);
    left: calc(1em / 3);
    pointer-events: none;
    position: absolute;
    top: calc(1em / 5.3);
    transform: rotate(45deg);
    width: calc(1em / 5.3);
}


/* CKE5 - table */
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    caption-side: bottom;
}

table th, .table table th {
    background: rgba(0, 0, 0, .05);
    font-weight: 700;
}

table, th, td {
    border: 1px solid gray;
}

th, td {
    padding: 0.2em 0.5em;
}

/* clear floats */
[id^="cms-block-"]:after {
    content: "";
    display: block;
    clear: both;
}

[data-cms="document-link"]::before {
    content: '';
    background-image: url('/bundles/scorecms/img/document-files.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 1em;
    height: 1.2em;
    margin-right: 0.3em;
    display: inline-block;
}

[data-document-action="download"]::before {
    background-image: url('/bundles/scorecms/img/document-download.png');
}