.keyword-container {
    text-align: center;
}
.keyword-wrap {
    display: inline-block;
    width: 7%;
    font-size: 12px;
    background: gray;
    height: 50px;
    text-align: center;
    color: white;
    margin: 0.22%;
} 

.pagination {
    text-align: center;
    font-family: Source Sans Pro,Arial,sans-serif;
}

.page-item  {
    display: inline-block;
}

.page-link {
    font-family: Source Sans Pro,Arial,sans-serif;
}