::-moz-selection {
  background: #0B8500;
  color: #ffffff;
}

::selection {
  background: #0B8500;
  color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0B8500 !important;
}

h1.light {
  color: #0B8500 !important;
}

.about i {
  background: #0B8500;
}

.hovicon.effect-1.sub-a:hover {
  background: #0B8500;
}

.hovicon.effect-1 {
  background: #0B8500;
}

.hovicon.effect-1:after {
  -webkit-box-shadow: 0 0 0 4px #0B8500;
          box-shadow: 0 0 0 4px #0B8500;
}

.team .col-md-4 .team-image-sec .img-overlay, .entry .overlay {
  background: rgba(11, 133, 0, 0.83);
}

.team .col-md-4 .team-image-sec li a {
  color: #0B8500;
}

.team-detail-sec h3 {
  color: #0B8500;
}

#filters ul li a:hover h3, #filters ul li a.active h3 {
  background-color: #0B8500;
  border: 1px solid #0B8500;
}

.da-thumbs li article {
  background: rgba(11, 133, 0, 0.83);
}

#second .fa-twitter {
  color: #0B8500;
}

.testimonials span {
  color: #0B8500;
}

.pricing .price span {
  color: #0B8500;
}

.pricing .table.blue-table {
  background: #0B8500;
}

.pricing .table a:hover {
  background: #0B8500;
  color: #ffffff !important;
}

.sponsors h1.sponsor {
  color: #0B8500 !important;
}

.pressroom .left-text span.title {
  color: #0B8500;
}

.pressroom .left-text a {
  color: #0B8500;
}

.pressroom .right-text span.title {
  color: #0B8500;
}

.pressroom .right-text a {
  color: #0B8500;
}

.contact .form {
  background: bottom no-repeat #ffffff;
  border-top: solid 2px #0B8500;
}

.submit_btn {
  background: #0B8500;
}

#fifth {
  border-bottom: solid 10px #0B8500;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #0B8500;
}

.skill-bar-percent {
  background: #0B8500;
}

.QLoader {
  background-color: #0B8500;
}

.skillbar-bar {
  background: #0B8500;
}

.picker-off i {
  color: #0B8500;
}

.caption.big_blue {
  color: #0B8500;
}

.button:hover {
  border-color: #0B8500 !important;
}

.team-sec h4 {
  color: #0B8500 !important;
}

.social-icons a:hover {
  background: #0B8500;
}

.team-sec.dark-bg {
  background: #0B8500;
}

.team-sec.dark-bg h4 {
  color: #ffffff !important;
}

.team-sec.dark-bg a {
  background: #ffffff !important;
}

.team-sec.dark-bg i {
  color: #333333;
}

.team-sec.dark-bg a:hover i {
  color: #0B8500 !important;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    border-bottom: solid 3px #0B8500 !important;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #0B8500 !important;
    border-bottom: solid 3px #0B8500 !important;
  }
}

.blog .tags a:hover {
  border: solid 1px #0B8500;
  color: #0B8500;
}

.blog a.comment {
  color: #0B8500;
}

.blog .comments a.date {
  margin: 5px 0 0 16px;
  float: left;
  color: #0B8500;
}

.blog .comments a {
  color: #0B8500;
}

.blog .comment-form input[type=submit] {
  background: #0B8500;
}

.blog .recent-post .post a {
  color: #0B8500;
}

.blog .archive a {
  color: #0B8500;
}

*:not(.carousel button):not(nav .nav-link):focus {
  -webkit-box-shadow: 0px 0px 0.3em #0b8500;
          box-shadow: 0px 0px 0.3em #0b8500;
}

.carousel [data-bs-slide-to]:focus {
  background-color: #0B8500;
}

h1, h2, h3, h4, h5, h6 {
  color: #0B8500;
}

h1 {
  color: #0B8500 !important;
}

a {
  color: #0B8500;
}

a:hover, a:focus {
  color: #0ea900;
}

.btn-primary {
  background-color: #0B8500;
  border-color: #0B8500;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #0ea900;
  border-color: #0ea900;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #0ea900;
}

.social-icons a,
.contact .social a {
  background-color: #0B8500;
}
/*# sourceMappingURL=color.css.map */