//$color: #0a7685; // blue1
//$color: #04206e; // blue2
//$color: #5306aa; // purple
//$color: #ad0675; // pink
//$color: #910000; // red
//$color: #915200; // brown
//$color: #857100; // yellow
//$color: #647A00; // green1
//$color: #0B8500; // green2
//$color: #00804F; // green3
$color: #00857e; // green4



$white: #ffffff;
$grey: #333333;


::-moz-selection {
	background: $color;
	color: $white;
}
::selection{
	background: $color;
	color: $white;	
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color:  $color !important;

}
h1.light{
  color:  $color !important;
}
.about i{
	background: $color;
}
.hovicon.effect-1.sub-a:hover {
	background:  $color;
}
.hovicon.effect-1 {
	background:  $color;
}
.hovicon.effect-1:after {
	box-shadow: 0 0 0 4px  $color;
}
.team .col-md-4 .team-image-sec .img-overlay, .entry .overlay{ background:rgba($color, 0.83);}
.team .col-md-4 .team-image-sec li a{ color: $color;}
.team-detail-sec h3{ color: $color}
#filters ul li a:hover h3, #filters ul li a.active h3 {
	background-color: $color;
	border: 1px solid $color;
}
.da-thumbs li  article {
	background:rgba($color, 0.83);
}
#second .fa-twitter{
	color:  $color;
}
.testimonials span{
	color: $color ;
}
.pricing .price span{
	color: $color;
}
.pricing .table.blue-table{
	background: $color;
}
.pricing .table a:hover{
	background: $color;
	color: $white !important;
}
.sponsors h1.sponsor{
	color: $color !important;
}
.pressroom .left-text span.title{
	color: $color;
}
.pressroom .left-text a{
	color: $color;
}
.pressroom .right-text span.title{
	color: $color;
}
.pressroom .right-text a{
	color: $color;
}
.contact .form{
	background: bottom no-repeat $white;
	border-top:solid 2px  $color;
}
.submit_btn {
	background: $color;
}
#fifth{
	border-bottom: solid 10px  $color;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color:  $color;
}
.skill-bar-percent {
	background: $color;
}
.QLoader {
	background-color:  $color;
}
.skillbar-bar{ background: $color;}
.picker-off i { color: $color;}
.caption.big_blue{color:  $color;}
.button:hover{ border-color: $color !important;}
.team-sec h4 {
color:  $color !important;
}
.social-icons a:hover{
	background: $color;
}
.team-sec.dark-bg{
	background: $color;
}
.team-sec.dark-bg h4 {
color:  $white !important;
}
.team-sec.dark-bg a{
	background: $white !important;
}
.team-sec.dark-bg i{
	color: $grey;
}
.team-sec.dark-bg a:hover i{
	color: $color !important;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
	border-bottom: solid 3px  $color !important;  
	}
	.navbar-default .navbar-nav > li > a:hover, 
	.navbar-default .navbar-nav > li > a:focus {
	color:  $color !important;
	border-bottom: solid 3px  $color !important;
	}
}


.blog .tags a:hover{
	border:solid 1px  $color;
	color: $color;
}
.blog a.comment{
	color: $color;
}
.blog .comments a.date{
	margin: 5px 0 0 16px;
	float: left;
	color: $color;
}
.blog .comments a{
	color: $color;
}
.blog .comment-form input[type=submit]{
	background:  $color;
}
.blog .recent-post .post a{
	color: $color;
}
.blog .archive a{
	color:  $color;
}


// CUSTOM
*:not(.carousel button):not(nav .nav-link):focus{
	box-shadow: 0px 0px 0.3em rgba($color, 1);
}
.carousel [data-bs-slide-to]:focus {
	background-color: $color;
}

h1, h2, h3, h4, h5, h6 {
	color: $color;
}

h1 {
	color: $color !important;
}

a {
	color: $color;	
	&:hover,
	&:focus {
		//color: $color;	
		color: lighten($color, 7%);	//scss
	}
}

.btn-primary {
    background-color: $color;
    border-color: $color;
	&:hover,
	&:focus {
		background-color: lighten($color, 7%);
		border-color: lighten($color, 7%);
	}
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	//color: $color;	
	color: lighten($color, 7%);	//scss
}


.social-icons a,
.contact .social a {
	background-color:  $color;
}

