.skip-link {
  position: fixed;
  top: -999px;
  left: -999px;
}

.skip-link:active, .skip-link:focus {
  top: 0;
  left: 0;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #fff;
  padding: 5px;
  z-index: 100000000000;
}

.group::before,
.group::after {
  content: " ";
  display: table;
}

.group::after {
  clear: both;
}

.group {
  *zoom: 1;
}

.cms-carousel {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 60px;
}

.cms-carousel .play-control {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -30px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  -webkit-transition: opacity .15s ease;
  transition: opacity .15s ease;
  margin-left: -17px;
  width: 35px;
  height: 35px;
}

.cms-carousel .play-control.pause {
  background: url(../images/pause.png) no-repeat scroll center center transparent;
}

.cms-carousel .play-control.play {
  background: url(../images/play.png) no-repeat scroll center center transparent;
}

.cms-carousel .play-control:hover, .cms-carousel .play-control:focus {
  opacity: 1;
}

.cms-carousel .carousel-inner .carousel-item strong {
  display: block;
  text-transform: uppercase;
  font-size: 2em;
}

.carousel-indicators [data-bs-target]:hover, .carousel-indicators [data-bs-target]:focus {
  opacity: 1;
}

.slider {
  background-color: #ddd;
}

.banner .carousel-control {
  margin-top: 200px;
}

.team-sec1 .detail-left,
.team-sec .detail-left {
  float: none;
}

footer .social {
  margin-bottom: 1em;
}

footer .social a {
  display: inline-block;
}

.subMenu {
  height: unset;
  top: 0 !important;
  position: fixed !important;
}

.navbar-brand img {
  height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #303030;
}

.team-sec {
  position: relative;
}

.team-sec .member {
  top: -70px;
}

ul.portfolio_list {
  padding-left: 0;
  margin-bottom: 0;
}

.counters #intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counters .row {
  margin: unset;
}

.pressroom .press-img {
  overflow: hidden;
}

#second .container {
  position: relative;
  top: 4em;
  bottom: 3em;
}

#second .fa {
  font-size: 114px;
  margin-top: -70px;
}

a {
  text-decoration: underline;
}

a:hover, a:focus {
  opacity: 0.8;
}

.skillbar-bar.bg-dark {
  background-color: #676767 !important;
}

.pricing {
  margin-bottom: 2em;
}

.contact p {
  color: #757575;
}

.contact .title h2,
.contact .title h3 {
  color: #fff;
}

html {
  font-size: 120%;
}

body {
  font-size: 100%;
}

.subNavBtn {
  font-size: 1em;
}

.carousel-inner p,
.carousel-inner p {
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: 400;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.2em;
}

p.title-detail,
.testimonials p,
.about h4,
.about p,
.team-sec .detail-left h4,
.contact .social h5,
.contact p,
.contact .social i,
.pricing .table h2,
.pricing .table.blue-table span,
.pricing .price span,
.pricing .table.blue-table li,
.pricing .table li,
.pricing .table a,
.social-icons i,
#filters ul li a h3 {
  font-size: unset !important;
  line-height: unset;
}

.skillbar-title {
  font-size: 1.2em;
}

.skill-bar-percent {
  font-size: 16px;
}

.contact .social a,
.social-icons a {
  border-radius: 50%;
  padding: 0.5em 0.6em;
  margin: 0.2em 0 0 1em;
}

.social-icons i {
  width: 1em;
}

.contact .social i {
  width: 1.25em;
}

.counters .counter {
  float: none;
}

.contact [data-form-id="contactform"] {
  color: #676767;
  text-align: left;
}

.contact [data-form-id="contactform"] .cms-form-description {
  display: none;
}

.contact [data-form-id="contactform"] .items {
  display: block;
}

.contact [data-form-id="contactform"] .items > .mb-3 {
  margin-bottom: 0em !important;
}

.contact [data-form-id="contactform"] input,
.contact [data-form-id="contactform"] input[type=text],
.contact [data-form-id="contactform"] textarea {
  background: #edebec;
  width: 100%;
  height: 2em;
  margin: 0 0 0.7em 0;
  padding: 0 0.7em;
  border-radius: 0;
  color: #000000;
  font-size: 1em;
  font-weight: normal;
  border: 1px solid #DBDBDB;
  text-align: left;
}

.contact [data-form-id="contactform"] textarea {
  height: 5em;
}

@media (max-width: 767px) {
  .banner-detail {
    margin: 64px 0 0 0;
  }
  .play-control.pause,
  .play-control.play {
    margin-top: 17px;
  }
}
/*# sourceMappingURL=style-custom.css.map */