@charset "utf-8";
/* CSS Document */

/*------------------------------------------------------------------
[Master Stylesheet]

Project:	WaveX
Version:	1.0
Last change:	04/07/14 
Primary use:	MultiPurpose 
-------------------------------------------------------------------*/

@import url("google-fonts.css");

/* google font opensans */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100);

/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Header / .header
3. Navigation / .navbar
4. about / .about 
5. about / .portfolio
6. pricing / .pricing
7. sponsors / .sponsors
8. contact / .contact
9. Footer / .footer
-------------------------------------------------------------------*/


body{
	background:#fff;
	font-family: 'Raleway', sans-serif;
	color:#303030;
	font-weight:300;
}
*{
	margin:0px;
	padding:0px;
	text-decoration:none;
}
::-moz-selection {
	color:#fff;
}
::selection{
	color:#fff;
}
img{
	max-width:100%;
}
.fixed-bg{ background-position:center top !important;}
h1{
	color:#585858 !important;
	display:inline-block;
	font-size:60px;
	text-transform:uppercase;
	font-weight: 500; 
}
ul.columnNavigation {
    padding: 12px 0 0;
}
ul.columnNavigation li:last-child {
    border-bottom: 1px solid #DDDDDD;
}
ul.columnNavigation li a {
    border-top: 1px solid #DDDDDD;
    color: #333333;
    display: block;
    padding: 9px 0 9px 7px;
}
ul.columnNavigation li a:hover {
    background: none repeat scroll 0 0 #F3F3F3;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
a img{
	border:none;
}


.height5  { height:5px;}
.height10 { height:10px;}
.height15 { height:15px;}
.height20 { height:20px;}
.height25 { height:25px;}
.height30 { height:30px;}
.height35 { height:35px;}
.height40 { height:40px;}
#warp {
overflow: hidden;
}
#wrap .container{
	margin:0px auto;

	width:1170px;
}

/*..... BANNER ......*/

#banner {
	text-align:center;
}
#banner2 {
	text-align:center;
}
.patteren{ background:url(../images/patteren.png) repeat; position:absolute; left:0; top:0; width:100%; height:100%;}
#scroll{ display:block; position:relative; bottom:-110px;}
.carousel-inner p{
	color:#fff;
	font-size:24px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500; 
}
.sponsors p{
	color:#303030;
}
.center{
	width: 570px;
	display: inline-block;
}
.carousel-inner span.creative{
	font-family: 'Raleway', sans-serif;
	font-weight: 800; 
	font-size:60px;
	display:block;
	text-transform:uppercase;
	margin:-10px 0 0 0;
}
.carousel-inner span.small-text{
	font-family: 'Raleway', sans-serif;
	font-weight: 400; 
	font-size:14px;
	display: block;
margin: -5px 0 0 0 !important;
}
.carousel-inner span.date{
	font-size:18px;
	font-weight:normal;
	display:block;
	margin: 10px 0 0 0;
}
.navbar-right{
	float:right;
}
.navbar-left{
	float:left;
}
.scroll{
	display:block;
	margin: 100px 0 0 0;
}
.center .carousel-indicators li{ width:10px; height:10px; background:#fff; border-radius:100%;}
.logo{
	position:absolute;
	z-index:1100;
	left: 44.3%;
	float:left;
	margin:9px 0 0 0;
	cursor:pointer;
	max-width:120px;
}
.logo2{
	position:absolute;
	z-index:1100;
	left:0%;
	float:left;
	margin:9px 0 0 0;
	cursor:pointer;
	max-width:120px;
}

/*..... ABOUT ......*/

.video {
    max-height: 610px;
    overflow: hidden;
    position: relative;
    text-align: center;
    top: 60px;
}
.video-inner{ position:absolute; left:0; top:0; width:100%; height:100%;}
.video .carousel {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 555;
    width: 100%;
}
.video .banner-detail {
    margin: 16% 0 0;
}
.about{
	padding:50px 0 0 0;
	text-align:center;
}
.contact p.title-detail{
	color:#fff !important;
}
p.title-detail{
	font-size:18px !important;
	color:#333333;
	font-weight:300;
}
.about h4{
	margin: 25px 0 5px 0;
	font-weight:600; 
	font-size:18px;
	color:#676767 ;
}
.about span{

}
.about p{
	font-size:14px;
	line-height:26px;
}
.about i{
	width:220px;
	height:220px;
	font-size:75px;
	color:#fff;
	border-radius:200px;
	padding:65px 0;
 
}
.hovicon {
	display: inline-block;
	line-height: 90px;
	cursor: pointer;
	border-radius: 50%;
	text-align: center;
	position: relative;
	text-decoration: none;
	z-index: 1;
	color: #fff;
}
.hovicon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content:'';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.hovicon:before {
	speak: none;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
/* Effect 1 */
.hovicon.effect-1 {
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}
.hovicon.effect-1:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}
/* Effect 1a */
.hovicon.effect-1.sub-a:hover i {
	color: #fff;
}
.hovicon.effect-1.sub-a:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}


.about i.fa-flask.hovicon.effect-1.sub-a:hover {background: #676767;}
.about i.fa-flask.hovicon.effect-1:after {box-shadow: 0 0 0 4px #676767;}

.about i.fa-coffee.hovicon.effect-1.sub-a:hover {background: #676767;}
.about i.fa-coffee.hovicon.effect-1:after {box-shadow: 0 0 0 4px #676767;}


.about i.fa-flask, .about i.fa-coffee, .about i.fa-rocket, .about i.fa-envelope{
	font-size:75px;
	transition:all ease .5s;
	-webkit-transition:all ease .5s;
	-moz-transition:all ease .5s;
}
.about i:hover{
	font-size: 110px;
	transition:all ease .5s;
	-webkit-transition:all ease .5s;
	-moz-transition:all ease .5s;
}

.about i.fa-flask{
	background:#676767;
}
.about i.fa-coffee{
	background:#676767;
}
.about .sign{
	margin:35px 0 0 0;
}

.experties{
	background:#f8f7f7;
	padding: 38px 0 90px 0;
	text-align:center;
	margin:70px 0 0 0;
}

/*..... Skills ......*/

.skills{
	width: 50% !important;
display: inline-block;
float: none !important;
text-align: center !important;
margin:30px 0 0 0 !important;
}

.skillbar {
	position:relative;
	display:block;
	top: 25px;
	margin-bottom:30px;
	width:100%;
	background:#eee;
	height:55px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:130px;

	font-size:18px;
	color:#ffffff;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	padding:0 20px;
	text-align:left;
	height:55px;
	line-height:55px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:55px;
	width:0px;

	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:-72px;
	border-radius:100%;
	width: 53px;
	padding: 10px;
	top:0;
	font-size:15px;
	line-height:35px;
	color:#ffffff;
}
.skill-bar-percent.gray{
	background:#676767;
}


/*..... MEDIA ......*/

.media{
	text-align:center;
}

.counters{
	position:relative;
}
.counters span{
	color:#fff;
	font-size:92px;
	
	font-weight:700;
}
.counters p{
	color:#fff;
	font-size:22px;
	text-transform:uppercase;
	font-size:22px;
	font-weight:700;
}
.counters .counter{
	float:left;
	text-align:center;
}
.counters .row{
	margin: 15% 0 0 0;
}
.title{
	text-align:center;
}

/*..... TWITTER ......*/

.twitter{
	border: solid 6px #fff;
	margin: 132px 0 0 0;
	padding:65px 0;
	text-align:center;
}
#second .fa-twitter{
font-size: 114px;
margin-top: 66px;
position: absolute;
left:50%;
text-align:center;
margin-left: -50px;
display: inline-block;
z-index:1000;
}
.carousel-inner p{
	font-size:20px;
	text-align: center;
}
.carousel-inner span{
	font-weight:bold;
}
.carousel-inner span.date{
	font-size:18px;
	font-weight: 600;
	display:block;
	margin: 10px 0 0 0;
}
.scroll {
	/*margin: 44px 0 0 276px;*/
	background:url(../images/scroll.png) no-repeat;
	height:85px;
	width:33px;
	display:inline-block;

    -webkit-transition: opacity 0.5s;
    -moz-transition:    opacity 0.5s;
    -o-transition:      opacity 0.5s;

}
.scroll:hover{
	background-position:0 0px;
	opacity: 0.5;
}
.scroll2:hover{
	background-position:0 0px;
	opacity: 0.7;
}
.twitter .carousel-indicators li{ width:13px; height:13px; background:#fff; border-radius:100%;}


/*..... PRESSROOM ......*/

.pressroom{
	padding:70px 0 0 0;
}
div.space {
margin: 60px 0 0 0;
}
#filters {
	margin:10px 0 50px 0;
	text-align: center;
	display: block;
	float: none;
	z-index: 2;
	position: relative;
}
#filters ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
#filters ul li {
	display: inline-block;
}
#filters ul li a {
	display: block;
	float: left;
	padding: 2px 5px;
	font-weight: bold;
	text-decoration:none ;
}
#filters ul li a h3 {
	color: #222222;
	background-color:#fff;
	border: 1px solid #d6d6d6;
	font-size: 14px;
	text-transform:uppercase;
	padding:12px 21px;
	border: 1px solid #d6d6d6;
	margin:0;
	font-family: 'Open Sans',sans-serif;
}
#filters ul li a:hover h3, #filters ul li a.active h3 {
	color: #fff;
	text-decoration:none ;
}

/*..... PORTFOLIO ......*/

.portfolio{
	position:relative;
	padding:50px 0 0 0;
}
.portfolio.portfolio2{
	padding:40px 0 0 0;
}
.fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #222;
}
#portfolio-items-wrap {
	position: relative;
	padding: 0;
	width: 100.1%;
	margin: 0 auto;
	display: block;
	overflow:hidden;
	
}
#portfolio-items-wrap .one-third {
	margin: 0;
	overflow: hidden;
	line-height: 0;
	width: 25%;
	padding: 0;
}
.portfolio-item.current {
	box-shadow: 0 0px 0px 10px rgba(255, 255, 255, 0.37);
	z-index: 101;
}
.portfolio-item {
	padding: 0;
	position: relative;
	overflow: hidden;
}
.portfolio-item .portfolio-image {
	overflow: hidden;
	display: block;
	position: relative;
}
.portfolio-item .portfolio-image img {
	width: 100%;
	height: auto;
}
.portfolio .portfolio-overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	display: block;
	z-index: 4;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: #FFD600;
}
.portfolio > a, .portfolio > a:hover {
	color: #ffffff;
}
.portfolio-item .portfolio > a:hover > .portfolio-overlay {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}
.portfolio > a img {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio > a:hover img {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio .thumb-info {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio a:hover .portfolio-overlay .thumb-info {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}
.portfolio-overlay .thumb-info i {
	top: 58%;
	font-size: 50px;
}
.portfolio-overlay .thumb-info h3 {
	top: 38%;
	font-size: 30px;
}
.portfolio-overlay .thumb-info p {
	top: 50%;
	font-size: 13px;
}
.portfolio-overlay .thumb-info h3 {
	color: #ffffff;
	width: 100%;
	position: absolute;
	text-align: center;
}
.portfolio-overlay .thumb-info p {
	color: #ffffff;
	width: 100%;
	position: absolute;
	text-align: center;
	font-weight: bold;
}
.portfolio-overlay .thumb-info i {
	color: #ffffff;
	width: 100%;
	position: absolute;
	text-align: center;
	display: block;
}
.freshdesignweb h5{
	color:#fff;
	margin: 15px 0 0 0;
	width: 80%;
	display: inline-block;
	font-weight:300;
}
.freshdesignweb h5 span{
	font-weight:600;
}


.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}

.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}

.latest-pro{
	text-align:center;
	padding:45px 0 0 0;
}
.latest-pro .devices{
	margin:55px 0 0 0;
}

/*..... TESTIMONIAL ......*/

.testimonials{
	text-align:center;
	position:relative;
	display:block;
}
.testimonials p{
	font-size:20px;
	color:#333333;
	width:80%;
	line-height:32px;

	display:inline-block;
}
.testimonials span{
	font-size:20px;
	font-weight:700;
	display:block;
	margin:15px 0 0 0;

}
.testi-detail{
	margin:150px 0 0 0;
}
.left-quote{
	float:left;
	margin: 0 0 0 28px;
position: absolute;
}
.right-quote{
	float:right;
	margin: 0 126px 0 0;
}

/*..... PRESSROOM ......*/

.pressroom .left-text{
	text-align:right;
	float:left;
	width:520px;
	margin:25px 0 0 0;
}
.pressroom .left-text span.title{
	font-weight:600;
	font-size:18px;
	
	text-transform:uppercase;
}
.pressroom .left-text p{
	font-size:16px;
	margin:0px;
	margin: 5px 0 5px 0;
}
.pressroom .left-text span{
	color: #9C9C9C;
	font-size: 14px;
}
.pressroom .left-text a{
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
	margin:0px;
}
.pressroom .divider{
	float: left;
	padding:0 40px
}

.pressroom .right-text{
	text-align:left;
	float:right;
	width:522px;
	margin:25px 0 0 0;
}
.pressroom .press-img{
	float:left;

}
.image {
    float: left;
    height: 194px;
    overflow: hidden;
    width: 520px;
    cursor:pointer;
}
.press-img img{
    width: 520px;
	height: 194px;max-width:none;
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
		  
}
.press-img img:hover{
	max-width:none;
  width: 700px;
  height:250px;
  margin:-40px 0 -180px -50px;
}
.pressroom .right-text span.title{
	font-weight:600;
	font-size:18px;
	
	text-transform:uppercase;
}
.pressroom .right-text p{
	font-size:16px;
	margin: 5px 0 5px 0;
}
.pressroom .right-text span{
	color: #9C9C9C;
	font-size: 14px;
}
.pressroom .right-text a{
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
	margin:0px;
}

/*..... SPONSORS ......*/

.sponsors{
	position:relative;
	text-align:center;
	margin: 90px 0 0 0;
}
.sponsors h1.light{ color:#333 !important;}
.sponsors h1.sponsor{
	font-size:60px;
	display:inline-block;
}
.sponsors span.rating{
	font-weight:bold;
	text-transform:uppercase;
	display:block;
	font-size:14px;
	font-style:italic;
	margin: 14px 0 0 0;	
}
.sponsors .space{
	margin:110px 0 0 0;
}

/*..... OUR PRICING ......*/

.pricing{
	padding:50px 0 0 0;
	text-align:center;
}
.pricing .table{
	background:#4E4E4E;
	text-align:center;
	margin:105px 0 0 0;
}
.pricing .table.blue-table{
	margin:40px 0 0 0;
}
.pricing .table.blue-table h2{
	color:#fff !important;
}
.pricing .table.blue-table li{
	color:#fff;
}
.pricing .table.blue-table span{
	font-size: 54px;
	color:#333333;
}
.pricing .table.blue-table ul{
	margin:25px 0 0 0;
}
.pricing .table.blue-table li{
	font-size:18px;
	line-height:64px;
}
.pricing .table.blue-table i{
	font-size:28px;
	color:#fff;
}
.pricing .table.blue-table a{
	background:#fff;
	color:#636363;
	font-size:20px;
	padding: 14px 30px;
	margin:20px 0 45px 0;
	display:inline-block;
	transition: .4s cubic-bezier(0.25,.46,.45,.94);
	-webkit-transition: .4s cubic-bezier(0.25,.46,.45,.94);
	-moz-transition: .4s cubic-bezier(0.25,.46,.45,.94);
}
.pricing .table.blue-table a:hover{
	background:#303030;
	color:#fff;
	text-decoration:none;
}
.pricing .table h2{
	font-size:48px;
	padding: 20px 0;
margin-top: 8px;
display: inline-block;

}
.pricing .table .price{
	background:#F8F8F8;
}
.pricing .price span{
	font-size: 46px;
font-weight: 700;
padding: 6px 0;
margin-bottom: 5px;
display: inline-block;
}
.pricing .price span.doller{
	font-size:24px;
}
.pricing .price span.month{
	font-size:18px;
	font-weight:400;
	margin: 0 0 0 -10px;
}
.pricing .table ul{
	margin:15px 0 0 0;
}
.pricing .table li{
	font-size:16px;
	line-height:46px;
	font-weight:400;
	color:#fff;
}
.pricing .table i{
	font-size:26px;
	color:#fff;
}
.pricing .table a{
	background:#fff;
	color:#333333;
	font-size:16px;
	padding: 10px 20px;
	margin:15px 0 45px 0;
	display:inline-block;
	transition: .4s cubic-bezier(0.25,.46,.45,.94);
	-webkit-transition: .4s cubic-bezier(0.25,.46,.45,.94);
	-moz-transition: .4s cubic-bezier(0.25,.46,.45,.94);
}
.pricing .table a:hover{
	text-decoration:none;
}

/*..... CONTACT ......*/

.contact{
	margin:90px 0 0 0;
	text-align: -webkit-center;
	text-align: -moz-center;
	text-align: -ms-center;
	text-align: -o-center;
}
.contact .title{
	margin:54px 0 0 0;
}
.contact .title h1{
	color:#fff !important;
}
.contact .form{
	width:612px;
	margin:84px auto 0 auto;
	padding:48px 30px;
	text-align:center;
}
.contact .form3{
	margin-top:94px;
}
.contact .form input[type=text]{
	border:none;
	background:#edebec;
	width:100%;
	height:42px;
	margin:0 0 20px 0;
	padding:0px 10px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	color:#000000;
	font-size:16px;
	font-weight:normal;
}
.contact .form textarea{
	border:none;
	background:#edebec;
	width:100%;
	height:170px;
	padding:10px 10px;
	
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	color:#000000;
	font-size:16px;
	font-weight:normal;
}
.contact .form input[type=submit]{
	border:none;
	background:#9fbc2b;
	padding:9px 30px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	color:#fff;
	float: left;
margin: -34px 0 0 10px;
z-index: 2;
position: relative;
	font-size:18px;
	text-transform:uppercase;
	font-weight:normal;
}
.contact .social{
	margin:50px 0 0 0;
	text-align:center;
	
}
.contact .social h5{
	font-size:24px;
	font-weight:normal;
	color:#444444;
	margin: 0 0 26px 0;
}
.contact .social i{
	width: 20px;
font-size: 20px;
color:#fff;

}
.contact .social a{
	border-radius:100%;
	padding: 15px 12px 12px 12px;
	margin:5px 0 0 22px;
	background:#444444;
}
.contact .social i, .contact .social a:hover{
	-moz-transform: rotate(360deg);
-moz-transition: all 0.8s ease-in-out 0s;
-webkit-transform: rotate(360deg);
-webkit-transition: all 0.8s ease-in-out 0s;
-ms-transform: rotate(360deg);
-ms-transition: all 0.8s ease-in-out 0s;
transform: rotate(360deg);
transition: all 0.8s ease-in-out 0s;

}
.contact .social a.fb:hover{
	background:#38569d;
}
.contact .social a.tw:hover{
	background:#578ccd;
}
.contact .social a.gp:hover{
	background:#d94826;
}
.contact .social a.ig:hover{
	background:#4f7ea7;
}
.contact .social a.yt:hover{
	background:#ca2f23;
}
.contact .social a.db:hover{
	background:#eb45ab;
}
.contact .social a.li:hover{
	background:#3487cf;
}
.contact .copyright{
	text-align:center;
}
.contact .copyright span{
	font-size:14px;
	color:#828282;
	font-weight:normal;
	margin:52px 0 10px 0;
	display:block;
}
.contact p{
	font-size:14px;
	color:#828282;
	line-height: 20px;
}
a:selection{
	outline:none;
	border:0px;
}
#fifth{ position:relative;}

/* animation */

.animated{ opacity:1 !important;}
.about-player, .flipInY, .animate{ opacity:0;}
@media screen and (-webkit-min-device-pixel-ratio:0)
{ 
::i-block-chrome, #second {
	background: url(../images/secondbg.jpg) no-repeat !important;
	background-attachment:scroll !important;
	background-position:0 0 !important;
}
::i-block-chrome, #third {
	background: url(../images/third.jpg) no-repeat !important;
	background-attachment:scroll !important;
	background-position:0 0 !important;
}
::i-block-chrome, #fifth {
	background: url(../images/contact.jpg) 50% 0 no-repeat !important;
	background-attachment:scroll !important;
	background-position:0 0 !important;
}
}














/*CREATIVE TEAM section start here*/
.team{ padding:90px 0;}
.team-sec{
	background:#f8f8f8; 
	padding:25px;
	margin-top:100px;
	width:98%;
}
.team2{
	left:5%;
}
.team-sec2{
	margin-top:96px;
}
.team-style2{
	text-align:center;
}

.team-sec .member{
	width: 142px;
position: absolute;
background: #f8f8f8;
border-radius: 50%;
top: 26px;
padding: 5px;
right: 4% ;
	
}
.team-sec1 .member{
width: 142px;
position: absolute;
background: #f8f8f8;
border-radius: 50%;
top: 26px;
padding: 5px;
left: 4%;
}

.team-style2 .member{
	text-align:center ;
	width: 40%;
	left: 30%;
}
.team-sec .member img{
	border-radius:100%;
}
.team-sec .detail-left{
	float:left;
	text-align:left;
}
.team-style2 .detail-left{
	float:none !important;
	text-align:center !important;
	margin:70px 0 20px 0 !important;
}
.team-sec1 .detail-left{
	float:left;
	text-align:right;
}
.team-sec .detail-left h4{
	font-size:30px;
	font-weight: 600;
	margin:0px;
}
.team-sec .detail-left span{
	font-size:16px;
	font-weight:600;
}
.team-sec .detail-left p{
	margin:10px 0 0 0;
}
.team-sec .detail-left .social-icons{
	margin:25px 0 0 0;
}
.social-icons i{
	width: 20px;
font-size: 20px;
color:#fff;

}
.social-icons a{
	border-radius:100%;
	padding: 15px 12px 12px 12px;
	margin:0 5px 0 0;
	background:#444444;
	text-align:center;
}

/*.team .col-md-4 .team-image-sec .img-overlay, .entry .overlay{ background:rgba(96, 202, 232, 0.83);}
.team .col-md-4 .team-image-sec li a{ color:#60cae8;}*/














.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top !important;
     -moz-transition: 0.6s ease-in-out top !important;
      -ms-transition: 0.6s ease-in-out top !important;
       -o-transition: 0.6s ease-in-out top !important;
          transition: 0.6s ease-in-out top !important;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 400px;
}

.carousel.vertical .prev {
  top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -400px;
  left:0;
}

.carousel.vertical .active.right {
  top: 400px;
}

.carousel.vertical .item {
    left: 0;
}
.skillbar-bar.bg-dark{ background:#676767;}
.section.sTop.padding{ padding-bottom:60px;}

.pictuer_align img.align_lft {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    float: left;
    margin-bottom: 10px;
    margin-right: 30px;
    max-width: 100%;
    padding: 45px 15px;
}
.pictuer_align img.align_right {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    float: right;
    margin-left: 30px;
    max-width: 100%;
    padding: 45px 15px;
}
.contact.no-margin{ margin:0 auto !important;}
#banner.small{ height:260px;}
.success_class, .error_class, .warning_class {
    color: #343434;
    margin-top: 20px;
    padding: 9px 12px;
}
.success_class {
    background: none repeat scroll 0 0 #d7f3d2;
    border: 1px solid #6DD063;
}
.success_class i {
    color: #78D53A;
    float: left;
    margin-right: 5px;
    margin-top: 4px;
}
.error_class {
    background: none repeat scroll 0 0 #F9C8C8;
    border: 1px solid #FF0000;
}
.error_class i {
    color: #E0563F;
    float: left;
    margin-right: 5px;
    margin-top: 4px;
}
.warning_class {
    background: none repeat scroll 0 0 #f5eec7;
    border: 1px solid #E2D760;
}
.warning_class i {
    color: #F2C368;
    float: left;
    margin-right: 5px;
    margin-top: 4px;
}
.close_warning {
    display: block;
    float: right;
    height: 11px;
    margin-right: 0;
    margin-top: -1px;
    width: 12px;
}
.close_success {
    display: block;
    float: right;
    height: 11px;
    margin-right: 0;
    margin-top: -1px;
    width: 12px;
}
.close_error {
    display: block;
    float: right;
    height: 11px;
    margin-right: 0;
    margin-top: -1px;
    width: 12px;
}
.close_warning i, .close_success i, .close_error i {
    color: #5C5C5C;
    font-size: 14px;
}





/*color switcher*/
.color-switcher {
    width: 45px;
    position: fixed;
    right: -60px;
    top: 220px;
	opacity:0;
    background: #fff;
    z-index: 9999999;
    padding: 15px 9px;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	border:1px solid #ccc;
	border-radius:100px;
}
.color-switcher p{ padding-bottom:10px;}
.color-switcher ul{ list-style:none; padding:0; margin:0;}
.color-switcher ul li {
    margin-right: 5px;
    margin-bottom: 5px;
}
.color-switcher ul li:last-child{ margin-bottom:0}
.color-switcher ul li a {
    border-radius: 100%;
    display: block;
    height: 25px;
    outline: medium none;
    width: 25px;
	position:relative;
}

.color-switcher ul li a.green {
    background: #7fc719;
}

.color-switcher ul li a.red {
    background: #E91B23;
}

.color-switcher ul li a.blue {
    background: #1bb1e9;
}

.color-switcher ul li a.orange {
    background: #fd7c26;
}

.color-switcher ul li a.yellow {
    background: #F6C815;
}

.color-switcher ul li a:hover, .color-switcher ul li a.active{display: block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;}

.color-switcher ul li a:hover:before, .color-switcher ul li a.active:before{ content:"\f046"; position:absolute; left:6px; top:6px; color:#fff;}
.color-switcher ul li a.fa-adjust{ font-size:28px; color:#333}
.color-switcher ul li a.fa-adjust:hover:before, .color-switcher ul li a.fa-adjust.active:before{ color:#333; left:0; top:0;}




.picker-off {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 100%;
    font-size: 26px;
    height: 40px;
    line-height: 36px;
    outline: medium none;
    position: fixed;
    right: 21px;
    text-align: center;
    top: 370px;
    width: 40px;
    z-index: 55555555;
	-webkit-transition: all 1500ms ease;
	-moz-transition: all 1500ms ease;
	-ms-transition: all 1500ms ease;
	-o-transition: all 1500ms ease;
	transition: all 1500ms ease;
}
.picker-off.move{ top:430px;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;}
.picker-off i { font-size:22px; margin-top:0;
	-webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animatsion-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}



.position {
    right: 18px;
	-webkit-transition: all 1500ms ease;
	-moz-transition: all 1500ms ease;
	-ms-transition: all 1500ms ease;
	-o-transition: all 1500ms ease;
	transition: all 1500ms ease;
}


/*..... BLOG ......*/

.blog{
}
.blog .left-sec{
	margin: 20px 0 0 0;
}
.blog .right-sec{
	float:right;
	margin: 20px 0 0 0;
}
.blog h3{ margin: 0 0 10px 0}
.blog span.date{
	
}
.blog span.date i{
	margin:0 5px 0 0;
}
.blog a.comment{
	margin:0 0 0 20px;
}
.blog p.post-detail{
	margin:15px 0 0 0;
	font-size:16px;
}
.blog .blog-post{
	margin:28px 0;
}
.blog .headings{ margin:25px 0 0 0;}
.blog .headings h1{ margin:0px !important;}
.blog .headings h2{ margin:0px !important;}
.blog .headings h3{ margin:10px 0 0 0 !important;}
.blog .headings h4{ margin:10px 0 0 0 !important;}
.blog .headings h5{ margin:10px 0 0 0 !important;}
.blog .headings h6{ margin:10px 0 0 0 !important;}
.blog .tags{
	margin:30px 0 0 0;
}
.blog .tags span{
	margin: 10px 10px 0 0;
	float:left;
}
.blog .tags a{
	border:solid 1px #CCC;
	padding: 10px 22px;
	margin: 0 5px 5px 0;
	color:#666;
	float:left;
}
.blog .comments{
	
	margin:25px 0 0 0;
}
.blog .comments .comment-sec{
	background:#f6f6f6;
	padding:15px;
	margin:15px  0 0 0;
	float:left;
}
.blog .comments .comment-sec2{
	margin:15px  0 0 95px;
}
.blog .comments .author{
	border-radius:100%;
	border:solid 3px #fff;
	box-shadow:0 0 1px #999;
	float:left;
}
.blog .comments span.author-name{
	float:left;
	font-weight:600;
	font-size:22px;
	margin:0;
}
.blog .comments a.date{
	margin: 5px 0 0 16px;
	float: left;
}

.blog .comments .comment-detail{
	float:right;
	width:85%;
}
.blog .comments .comment-detail p{
	margin:5px 0 0 0;
}
.blog .leave-comment{
}
.blog .leave-comment .comment-form{
	margin:15px 0 0 0;
}
.blog .comment-form input[type=text]{
	width:100%;
	height: 48px;
margin: 0 0 10px 0;
padding: 0 7px;
color: #999999;
border:solid 1px #cccccc;
}
.blog .comment-form textarea{
	width:100%;
	height: 250px;
	margin: 0 0 10px 0;
	padding: 10px 7px;
	color: #999999;
	border:solid 1px #cccccc;
}
.blog .comment-form input[type=submit]{
	padding: 11px 38px;
	color: #fff;
	border: none;
}
.blog .search{ width:100%;}
.blog .search input{ 
	width:100%;
	height: 42px;
	margin: 16px 0 10px 0;
	padding: 0 7px;
	color: #999999;
	border:solid 1px #cccccc;
	font-style: italic;
}
.blog .search a.search-bar{
	position:absolute;
	margin: 15px 0 0 -38px;
	padding: 10px;
	color:#999999;
}
.blog .search a.search-bar:hover{
	color:#06ceed;
}
.blog .recent-post{
	margin:30px 0 0 0;
}
.blog .recent-post .post{
	margin:25px 0 0 0;
}
.blog .recent-post .post a{
	font-size:18px;
	display:block;
}
.blog .recent-post .post a:hover{
	color:#333333;
}
.blog .recent-post .post i{
	margin:0 5px 0 0;
}
.blog .recent-post .post span{
	margin: 2px 0 0 16px;
	float: left;
	color:#aaaaaa;
}
.blog .about-company{
	margin:30px 0 0 0;
}
.blog .about-company p{
	margin:15px 0 0 0;
}
.blog .tags-cloud{
	margin:30px 0 0 0;
}
.blog .tags-cloud .tags{
	margin:0 0 0 0;
}
.blog .tags-cloud .tags a{
	float:left;
	margin: 0 5px 5px 0;
}
.blog .archive{
	margin:30px 0 0 0;
}
.blog .archive a{

	font-size: 18px;
	display: block;
	margin: 15px 0 0 0;
}
.blog .archive a:hover{
	color: #333;
}
.blog .archive i{
	margin: 0 5px 0 0;
}

.navbar-default .navbar-nav.blog-nav > .active > a,
.navbar-default .navbar-nav.blog-nav > .active > a:hover,
.navbar-default .navbar-nav.blog-nav > .active > a:focus {
  color: #ccc !important;

}
.navbar-default .navbar-nav.blog-nav2 > .active > a,
.navbar-default .navbar-nav.blog-nav2 > .active > a:hover,
.navbar-default .navbar-nav.blog-nav2 > .active > a:focus {
  color: #2d2d2d !important;

}
