<style>
    #cms-media-modal .modal-content {
        background-color: #eee;
    }

    #cms-media-modal figure {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 200px;
        padding: 5px;
        border: 1px solid #3c8dbc;
    }

    #cms-media-modal figure img {
        width: auto;
        height: auto;
        max-width: 180px;
        max-height: 150px;
    }

    #cms-media-modal .modal-body {
        display: flex;
        flex-wrap: wrap;
    }

    #cms-media-modal .modal-body h4 {
        width: 100%;
        border-top: 0.3em solid #3c8dbc;
        padding-top: 1em;
    }

    #cms-media-modal .scale-wrapper {
        display: block;
        max-width: 100%;
        overflow: visible;
    }

    #cms-media-modal .scale {
        display: block;
        margin-bottom: 0.3em;
        text-align: center;
        font-weight: 700;
        background-color: grey;
        background: linear-gradient(to right, grey, lightgrey, grey);
        overflow: visible;
    }


</style>

<div class="modal fade" id="cms-media-modal" tabindex="-1" role="dialog"
     aria-label="{{ 'score.cms.media.title'|trans }}">
    <div class="modal-dialog" role="document" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{ 'score.cms.media.title'|trans }}</h4>
                <p>Kliknutím na tlačítko sa vám skopíruje adresa obrázka ktorú potom vložte cez šípku vedľa ikonky
                    obrázka (Vložiť obrázok pomocou URL). Obrázku vždy pridajte aj Alternatívny text. </p>
                <div class="scale-wrapper"></div>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" role="button" class="btn btn-default cms-media-refresh"><i
                            class="fa fa-refresh"></i> Obnoviť
                </button>
                {% if is_granted('ROLE_IMAGES_MANAGER') %}
                    <a type="button" class="btn btn-default" href="{{ path('score-manage-images') }}"><i
                                class="fa fa-edit"></i> {{ 'score.cms.media.manage'|trans }}</a>
                {% endif %}
                <button type="button" class="btn btn-default" data-dismiss="modal"><i
                            class="fa fa-times"></i> {{ 'score.cms.delete.cancel'|trans }}</button>
            </div>
        </div>
    </div>
</div>

<script>

    $('body').on('click', '.filebrowser-trigger', function (e) {
        e.preventDefault();
        $('#cms-media-modal').modal('show');
    });

    let wrapper = $('#cms-media-modal .modal-body')

    const copyURL = s => {
        let temp = $("<input>");
        wrapper.append(temp);
        temp.val(`${s}`).select();
        document.execCommand("copy");
        temp.remove();
        $('#cms-media-modal').modal('hide');
    }


    const addImage = (dir, filename, sizes = null) => {
        let figure = $('<figure/>');
        let figcaption = $('<figcaption/>');
        if (sizes && sizes.length) {
            figure.append($("<img>").attr({
                src: dir + sizes[0] + '/' + filename,
                alt: filename,
                title: filename
            }).on('mouseover', function (e) {
                e.stopPropagation()
            }));
            sizes.forEach(size => {
                figcaption.append($('<button>').text(Math.round(size / 1000 * 100) + '%').click(() => copyURL(dir + size + '/' + filename)));
            });
        } else {
            figure.append($("<img>").attr("src", dir + filename));
            figcaption.append($('<button>').text('copy').click(() => copyURL(dir + filename)));
        }
        figure.append(figcaption);
        wrapper.append(figure);
    }

    const createScales = sizes => {
        let sw = $("#cms-media-modal .scale-wrapper").html("");
        sizes?.forEach(v => sw.append($("<div/>", {class: "scale"}).width(v).text(parseInt(v / 10) + "%")));
    }

    const loadImages = () => {
        wrapper.html("");
        $.ajax({
            url: "{{ path('score-cke-images') }}",
            context: document.body
        }).done(function (r) {
            r.filenames?.forEach(v => addImage(r.dir, v, r.sizes));
            r.subs.concat(r.customs).forEach(custom => {
                wrapper.append($('<h4/>').text(custom.name));
                custom.filenames?.forEach(v => addImage(custom.dir, v, custom.sizes))
            });
            createScales(r.sizes);
        });
    }
    loadImages();

    $('.cms-media-refresh').click(loadImages);
</script>