{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block content_header_title %}
    <h1>{{ 'score.media.topTitle'|trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.media.breadcrumb' | trans }}</li>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .media-wrapper .folder-wrapper {
            background-color: #eee;
            display: flex;
            flex-wrap: wrap;
        }

        .media-wrapper .delete-folder-wrapper {
            position: absolute;
            right: 0.5em;
            top: 0.5em;
            padding: 0.1em;
            font-size: 1.7em;
        }

        .media-wrapper header {
            width: 100%;
            border-top: 0.2em solid #3c8dbc;
            padding: 1em 1em 0;
            margin-top: 1em;
            position: relative;
        }

        .media-wrapper figure {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            max-width: 200px;
            padding: 5px;
            border: 1px solid #3c8dbc;
        }

        .media-wrapper figure img {
            width: auto;
            height: auto;
            max-width: 180px;
            max-height: 150px;
        }
    </style>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('bundles/scorecms/js/PageManager.js') }}"></script>
    <script type="text/javascript">

        $('#pages-datatable').DataTable({
            pageLength: 50,
            language: {
                url: "{{ asset('bundles/scorecms/plugins/datatables/sk.js') }}"
            },
            "ordering": false
        });

    </script>

    <script>
        $('body').on('click', '.delete-image', function (e) {
            e.preventDefault();
            $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
            $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.media.delete" |trans }}");
            $('#confirm-delete-cms-item-modal').modal('show');
        });
        $('body').on('click', '.delete-folder', function (e) {
            e.preventDefault();
            $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
            $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.media.folderDelete" |trans }}");
            $('#confirm-delete-cms-item-modal').modal('show');
        });
    </script>

    <script>
        $('.add-folder-form').hide();
        $('.add-folder').click(function () { // pridanie noveho priecinka
            $(this).hide();
            $('.add-folder-form').show(500);
        })
    </script>


{% endblock %}

{% block body %}

    {{ m.alerts() }}

    <div class="row">
        <div class="col-sm-12">
            <div class="box box-solid">
                <div class="box-body">
                    <div style="padding: 0 1em">
                        <div class="row">
                            <div class="col media-wrapper">
                                <div class="folder-wrapper">
                                    {% for filename in filenames %}
                                        <figure>
                                            <img src="{{ dir ~ sizes[0] ~ "/" ~ filename }}" alt="filename">
                                            <figcaption>
                                                <a class="delete-image"
                                                   href="{{ path('score-media-delete',{filename:filename, dir:dir}) }}">
                                                    {{ 'score.media.delete'|trans }}
                                                </a>
                                            </figcaption>
                                        </figure>
                                    {% endfor %}
                                </div>
                                {% for sub in subs %}
                                    <div class="folder-wrapper">
                                        <header>
                                        <h4>{{ sub.name }}</h4>
                                            <div class="delete-folder-wrapper">
                                                <a class="delete-folder text-danger" href="{{ path("score-media-delete-folder", {folder: sub.folder}) }}" title="vymazať"><span class="sr-only">DELETE folder</span><i class="fa fa-trash"></i></a>
                                            </div>
                                            <form method="post" name="folder" enctype="multipart/form-data">
                                                <input type="hidden" name="foldername" value="{{ sub.folder }}">
                                                <div class="form-group">
                                                    <label class="control-label" for="files">{{ 'score.media.filesLabel' | trans }}</label>
                                                    <input class="form-control" type="file" id="files" name="files[]" multiple="multiple">
                                                    <input class="btn btn-success" type="submit" value="{{ 'score.media.submit' | trans }}">
                                                </div>
                                            </form>
                                        </header>
                                        {% for filename in sub.filenames %}
                                            <figure>
                                                <img src="{{ sub.dir ~ sub.sizes[0] ~ "/" ~ filename }}" alt="filename">
                                                <figcaption>
                                                    <a class="delete-image"
                                                       href="{{ path('score-media-delete',{filename:filename, dir:sub.dir}) }}">
                                                        {{ 'score.media.delete'|trans }}
                                                    </a>
                                                </figcaption>
                                            </figure>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                {% for custom in customs %}
                                    <div class="folder-wrapper">
                                        <header>
                                            <h4>{{ custom.name }}</h4>
                                        </header>
                                        {% for filename in custom.filenames %}
                                            <figure>
                                                <img src="{{ custom.dir ~ "/" ~ filename }}" alt="filename">
{#                                                <figcaption>#}
{#                                                    <a class="delete-image"#}
{#                                                       href="{{ path('score-media-delete',{filename:filename, dir:custom.dir, custom:true}) }}">#}
{#                                                        {{ 'score.media.delete'|trans }}#}
{#                                                    </a>#}
{#                                                </figcaption>#}
                                            </figure>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-body">
                    <button type="button"
                            class="add-folder btn btn-success">{{ 'score.media.addFolder' | trans }}</button>
                    <div class="add-folder-form">
                        <form method="post" name="folder" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="control-label"
                                       for="foldername">{{ 'score.media.newFolderLbel' | trans }}</label>
                                <input class="form-control" type="text" id="foldername" name="foldername" minlength="5">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="files">{{ 'score.media.filesLabel' | trans }}</label>
                                <input class="form-control" type="file" id="files" name="files[]" multiple="multiple">
                            </div>
                            <input class="btn btn-success" type="submit" value="{{ 'score.media.submit' | trans }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{ include('@ScoreCms/Default/_delete_modal.html.twig') }}

{% endblock %}




