<div class="joints">
    <h3>{{ 'score.page.edit.block.title'|trans }}</h3>
    <div class="dd">
        <ol class="dd-list">
            {% for blockJoint in blockJoints %}
                <li class="dd-item">
                    <div class="dd-item-wrap">
                        {% if blockJoint.block.type is not same as "pageContent" %}
                            <a href="#" class="remove-block-trigger btn btn-sm btn-danger pull-right">
                                {#                                {{ 'score.page.edit.block.delete' | trans }} #}
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                            {% if blockJoint.block.type is not same as "controllerContent" %}
                                <a href="{{ path('score-block-to-edit', { 'id': blockJoint.block.id, ref }) }}"
                                   class=" btn btn-sm btn-info pull-right">
                                    {#                                    {{ 'score.page.edit.block.edit' | trans }} #}
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        {% endif %}
                        <span class="dd-handle">{{ blockJoint.block.name }}</span>
                        <div style="display: none">
                            <input type="hidden" name="block_ids[]"
                                   value="{{ blockJoint.block.id }}"/>
                            <input type="hidden" name="joint_ids[]"
                                   value="{{ blockJoint.id }}"/>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
</div>
