{% if referer is defined and referer %}
    {% set refParts = referer|split('_') %}
    {% if refParts|length is same as 2 and refParts|first is same as "article" %}
        <a class="btn btn-sm btn-primary" href="{{ path('score_cms_article_edit',{id: refParts.1}) }}">
            Späť na článok
        </a>
    {% elseif refParts|length is same as 2 and refParts|first is same as "document" %}
        <a class="btn btn-sm btn-primary" href="{{ path('score-cms-document-edit',{id: refParts.1}) }}">
            Späť na dokument
        </a>
    {% elseif refParts|length is same as 2 and refParts|first is same as "event" %}
        <a class="btn btn-sm btn-primary" href="{{ path('score_cms_event_edit',{id: refParts.1}) }}">
            Späť na udalosť
        </a>
    {% elseif refParts|length is same as 2 and refParts|first is same as "page" %}
        <a class="btn btn-sm btn-primary" href="{{ path('score_cms_page_edit',{id: refParts.1, s: "block"}) }}">
            Späť na stránku
        </a>
    {% endif %}
{% endif %}


