{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block content_header_title %}
    <h1>{{ 'score.block.edit.topTitle'|trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.cms.block.breadcrumb'|trans }}</li>
{% endblock %}

{% block body -%}
    {{ m.alerts() }}
    {{ form_start(form) }}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">{{ 'score.block.edit.title'|trans }}</h3>

        </div>


        <div class="box-body">


            {{ form_errors(form) }}

            <div class="row">
                <div class="col-sm-12">
                    {{ form(form) }}
                </div>
            </div>
        </div>
        <div class="box-footer">
        <p>   
            Chcem upravovat obsah a chcem textarea na pocet riadkov:
			{% for size in [5,20,50,100,200] %}
            	<button class="btn btn-info btn-sm btn-bigger-textarea" data-rows="{{ size }}" >{{ size }}</button>
            {% endfor %}        
        </p>
            <button type="submit" class="btn btn-success btn-lg">{{ 'score.block.edit.save'|trans }}</button>
            <a class="btn btn-danger btn-sm" href="">{{ 'score.block.edit.cancel'|trans }}</a>
            {{ include('@ScoreCms/Block/Admin/_referer.html.twig') }}
        </div>
    </div>

    </form>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script language="Javascript" type="text/javascript" src="{{ asset('bundles/scorecms/plugins/editarea-code-r33-trunk/edit_area/edit_area_full.js') }}"></script>
	<script language="Javascript" type="text/javascript">
		// initialisation
		editAreaLoader.init({
			id: "full_block_content"	// id of the textarea to transform	
			,start_highlight: true
			//,allow_toggle: false
			,allow_resize: "y"
			,language: "sk"
			,syntax: "html"	
			,toolbar: "search, go_to_line, |, undo, redo, |, select_font, |, syntax_selection, |, change_smooth_selection, highlight, reset_highlight, |, help"
			,syntax_selection_allow: "css,html,js,php,python,vb,xml,c,cpp,sql,basic,pas,brainfuck"
			// ,is_multi_files: true
			// ,EA_load_callback: "editAreaLoaded"
			,show_line_colors: true
		});
    </script>
    <script>

    {#   
        TODO NEXT use html colored editor also:
            https://www.cdolivet.com/editarea/editarea/exemples/exemple_full.html
            https://stackoverflow.com/questions/3063249/color-codes-in-textarea-using-jquery
    #}
    
        $('.btn-bigger-textarea').click(function(e){
            e.preventDefault();
            $('#full_block_content').attr('rows', this.dataset.rows);
            $('#full_block_content ~ iframe')?.css('height', 50 + this.dataset.rows * 15 + 'px');
        })
    </script>
{% endblock %}
