{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block content_header_title %}
    <h1>{{ 'score.block.edit.topTitle'|trans }} </h1>
{% endblock %}

{% block body -%}
    {{ m.alerts() }}
    {{ form_start(form) }}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">{{ 'score.block.edit.title'|trans }}</h3>

        </div>


        <div class="box-body">


            {{ form_errors(form) }}

            <div class="row">
                <div class="col-sm-12">

                    {{ form_row(form.name) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.visibility) }}


                </div>
                <div class="col-sm-12">
                    {{ form_row(form.content) }}
                </div>
                {# <div class="col-sm-3">
                    {% if logs | length %}
                    <h3>{{ 'score.block.edit.log.title'|trans }}</h3>
                    <ul class="log-list">
                        {% for log in logs %}
                            <li><a href="#" title="[Zmena-{{ log.id }}]"
                                   data-content="{{ log.oldValue }}">{{ log.createdAt | date("d. m. Y - H:i") }}</a></li>
                        {% endfor %}
                    </ul>
                        {% else %}
                            <h5>{{ 'score.block.edit.log.noLog'|trans }}</h5>
                    {%  endif %}
                </div> #}
            </div>
            {{ form_widget(form._token) }}
        </div>
        <div class="box-footer">

            <button type="submit" class="btn btn-success btn-lg">{{ 'score.block.edit.save'|trans }}</button>
            <a class="btn btn-danger btn-sm" href="">{{ 'score.block.edit.cancel'|trans }}</a>
            {{ include('@ScoreCms/Block/Admin/_referer.html.twig') }}
        </div>
    </div>

    </form>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ m.cmsEditorCss() }}
{% endblock %}



 {% block javascripts %}
     {{ parent() }}
     {{ m.cmsEditorJs('block_content') }}
     {{ include('@ScoreCms/Default/_js_keyboard_submit_form.html.twig', {"formSelector": "form[name=\"block\"]"}) }}

 {% endblock %}