{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content_header_title %}
    <h1>{{ 'score.block.list.topTitle'|trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.block.list.breadcrumb' | trans }}</li>
{% endblock %}

{% block body %}
    {{ m.alerts() }}
    <div class="row">
        <div class="col-sm-10">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="blocks-datatable" class="table table-striped display compact">
                        <thead>
                        <tr>

                            <th>{{ 'score.block.list.name'|trans }}</th>
                            <th>{{ 'score.block.list.type'|trans }}</th>
                            <th class="text-center">{{ 'score.block.list.action'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for block in blocks %}
                            <tr>

                                <td>
                                    <a class="lvl_1"
                                       href="{{ path('score-block-to-edit', { 'id': block.id }) }}">{{ block.name }}</a>
                                </td>
                                <td>
                                    {{ block.type }}
                                </td>
                                {# <td>
                                    <a class="delete-block" href="{{ path('score-block-delete', {'id' : block.id}) }}">{{ 'score.block.list.delete'|trans }}</a>
                                </td> #}
                                <td  class="{{ block.isDeleted ? "bg-danger" }}">
                                    {% if showExpert %}
                                        <a class="lvl_1"
                                           href="{{ path('score-block-edit-expert', { 'id': block.id }) }}">{{ 'score.block.list.expert_edit'|trans }}</a>
                                        <br><a class="delete-block"
                                               href="{{ path('score-block-delete', {'id' : block.id}) }}">{{ 'score.block.list.delete'|trans }}</a>
                                        {% if block.isDeleted %}
                                            <br><a class="lvl_1"
                                               href="{{ path('score-block-from-trash', { 'id': block.id }) }}">{{ 'score.page.fromTrash' | trans }}</a>
                                        {% else %}
                                            <br><a class="lvl_1"
                                               href="{{ path('score-block-to-trash', { 'id': block.id }) }}">{{ 'score.page.toTrash' | trans }}</a>
                                        {% endif %}
                                    {% else %}
                                        <a class="lvl_1"
                                           href="{{ path('score-block-edit', { 'id': block.id }) }}">{{ 'score.block.list.edit' | trans }}</a>
                                        <br><a class="lvl_1"
                                           href="{{ path('score-block-to-trash', { 'id': block.id }) }}">{{ 'score.page.toTrash' | trans }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="box box-primary">
                <div class="box-body">
                    <a class="btn btn-primary" href="{{ path('score-block-new') }}"> {{ 'Pridať nový blok' }} </a>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="box-body">
                        {% if showExpert %}
                            <a class="btn btn-primary"
                               href="{{ path('score-block-list') }}">{{ 'score.block.list.staticList' | trans }}</a>
                        {% else %}
                            <a class="btn btn-primary"
                               href="{{ path('score-block-list-full') }}">{{ 'score.block.list.fullList' | trans }}</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
    {{ include('@ScoreCms/Default/_delete_modal.html.twig') }}

{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
     <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>
     <script src="{{ asset('bundles/scorecms/js/BlockManager.js') }}"></script>
     <script type="text/javascript">

         $('#blocks-datatable').DataTable({
             pageLength: 50,
             language: {
                 url: "{{ asset('bundles/scorecms/plugins/datatables/sk.js') }}"
             },
             "ordering": false
         });


         var block_manager = new BlockManager();
         block_manager.reorder_url = '/{# {path('score_block_reorder')} #}';


     </script>
     <script>
         $('body').on('click', '.delete-block', function (e) {
             e.preventDefault();
             $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
             $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.block.delete" |trans }}");
             $('#confirm-delete-cms-item-modal').modal('show');
         });
     </script>
 {% endblock %}
