<form action="" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-9">

            {{ form_row(form.name) }}
            <div class="form-group">
                {{ form_label(form.slug) }}
                {{ form_errors(form.slug) }}
                <div style="display: flex; align-items: center">
                        <span class="cms-domain">
                            {{ app.request.schemeAndHttpHost ~ "/" ~ (urlArticlePrefix is defined and urlArticlePrefix ? (urlArticlePrefix ~ "/") : ("clanky/")) }}
                        </span>
                    {{ form_widget(form.slug,{'attr':{'style':'margin-left:2px;padding-left:2px;'}} ) }}
                </div>
            </div>

            {{ form_row(form.teaser) }}
            {{ form_row(form.body) }}

            {{ include('@ScoreCms/Block/Admin/_formJoints.html.twig',{'blockJoints': article.blockJoints, ref: "article_"~ article.id}) }}
            {{ form_row(form.articleBlocks) }}

            <div class="metatags-wrapper">
                <h3>{{ 'score.cms.metatag.title' | trans }}</h3>
                {{ form_row(form.metatags) }}
                <button type="button"
                        class="add-metatag-item btn btn-success">{{ 'score.cms.metatag.addMetatag' | trans }}</button>
            </div>

        </div>
        <div class="col-sm-3">

            <div class="icon-wrap">
                {{ form_row(form.icon) }}
                <div class="thumbnail" {{ not article.icon ? "style=\"display: none\"" }}><img
                            src="{{ article.iconThumb(640,480) }}"/></div>
                <div class="reset-img">
                    <button type="button" class="btn btn-sm btn-danger">
                        Vymazať {{ "score.article.form.icon" | trans }}</button>
                    {{ form_row(form.removeIcon) }}
                </div>
            </div>


            {{ form_row(form.published) }}
            {{ form_row(form.priority) }}
            {{ form_row(form.author) }}
            {{ form_row(form.published_from) }}
            {{ form_row(form.published_to) }}

            {% if form.articleCategories.vars.choices| length  > 0 %}
                {{ form_row(form.articleCategories) }}
            {% endif %}

            {% if form.multisite.vars.choices| length  > 0 %}
                {{ form_row(form.multisite) }}
            {% endif %}

            {% block custom_form %}

            {% endblock %}

        </div>

    </div>


    {{ form_widget(form._token) }}
    <button type="submit" class="btn btn-success btn-lg">{{ 'score.article.form.save'|trans }}</button>
    <a class="btn btn-danger btn-sm" href="">{{ 'score.article.form.cancel'|trans }}</a>
    {% if canDelete is defined and canDelete %}
        <a class="btn btn-danger btn-sm pull-right to-trash-article"
           href="{{ path('score_cms_article_to_trash',{id:article.id}) }}">{{ 'score.page.toTrash'|trans }}</a>
    {% endif %}
</form>