{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}


{% block content_header_title %}
    <h1>{{ 'score.article.edit.boxTitle'|trans }} "{{ article.name }}"</h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.article.edit.boxTitle'|trans }}</li>
{% endblock %}

{% block body %}
    {{ m.alerts() }}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" role="tablist">
            <li class="{{ activeSection == 'content' ? ' active' }}">
                <a href="#tab_1" data-toggle="tab">{{ 'score.article.edit.contentTitle'|trans }}</a>
            </li>
            {% if showAccessTab is defined and showAccessTab %}
                <li class="{{ activeSection == 'access' ? ' active' }}">
                    <a href="#tab_2" data-toggle="tab">{{ 'score.page.edit.access.title'|trans }}</a>
                </li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane{{ activeSection == 'content' ? ' active' }}" id="tab_1">
                {{ include('@ScoreCms/Article/_form.html.twig',{'form':form}) }}
            </div><!-- /.tab-pane -->
            {% if showAccessTab is defined and showAccessTab %}
                <div class="tab-pane{{ activeSection == 'access' ? ' active' }}" id="tab_2">
                    {{ include('@ScoreCms/Page/Admin/_access.html.twig', {'entityName': "article", 'entity':article, 'users':users}) }}
                </div><!-- /.tab-pane -->
            {% endif %}
        </div><!-- /.tab-content -->
    </div>

    {{ include('@ScoreCms/Default/_delete_modal.html.twig') }}

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/sortable/nestable.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/scorecms/plugins/select2/select2.min.css') }}" rel="stylesheet"/>
    {{ m.cmsEditorCss() }}
{% endblock %}



 {% block javascripts %}
     {{ parent() }}
     {{ m.cmsEditorJs('article_body') }}
     {{ m.cmsEditorJs('article_teaser', 'cke5_basic') }}
     <script src="{{ asset('bundles/scorecms/plugins/slugify/slugify.js') }}"></script>
     <script src="{{ asset('bundles/scorecms/plugins/sortable/jquery.nestable.js') }}"></script>
     <script src="{{ asset('bundles/scorecms/plugins/select2/select2.min.js') }}"></script>

     <script src="{{ asset('bundles/scorecms/js/admin.js') }}?v={{ cms_get_version() }}{{ app.environment == 'dev' ? ("_" ~ ("now"|date("Ymd-His"))) }}"></script>

     <script>
         // ACCESS
         let url = "{{ path('score_cms_article_edit_access') }}";
         let articleId = {{ article.id }};

         $('.access-change').click(function (e) {
             let newUrl = url + "?article_id=" + articleId;
             newUrl += "&user_id=" + $(this).closest('tr').find('input[name^="user_id"]').val();
             let a = ["has_access", "is_heritable", "full_access", "can_create", "can_delete"];
             a.forEach(v => {
                 let checked = $(this).closest('tr').find('input[name^="' + v + '"]').prop("checked") ? 1 : 0;
                 newUrl += "&" + v + "=" + checked;
             })
             this.href = newUrl;
         })
     </script>

     <script>
         $('body').on('click', '.to-trash-article', function (e) {
             e.preventDefault();
             $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
             $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.article.toTrash" |trans }}");
             $('#confirm-delete-cms-item-modal').modal('show');
         });
     </script>
     {{ include('@ScoreCms/Default/_js_keyboard_submit_form.html.twig', {"formSelector": "#tab_1 > form"}) }}

 {% endblock %}