{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content_header_title %}
    <h1>{{ 'score.article.list.topTitle'|trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.article.list.breadcrumb' | trans }}</li>
{% endblock %}

{% block body %}


    {{ m.alerts() }}


    <div class="row">
        <div class="col-sm-10">


            <div class="box box-solid">
                <div class="box-body">
                    <table id="articles-datatable" class="table table-striped display compact">
                        <thead>
                        <tr>
                            <th>{{ 'score.article.list.id'|trans }}</th>
                            <th>{{ 'score.article.list.name'|trans }}</th>
                            <th>{{ 'score.article.list.category'|trans }}</th>
                            <th>{{ 'score.article.list.published'|trans }}</th>
                            <th>{{ 'score.article.list.author'|trans }}</th>
                            <th>{{ 'score.article.list.publishedFrom'|trans }}</th>
                            <th>{{ 'score.article.list.publishedTo'|trans }}</th>
                            <th></th>
                        </tr>
                        </thead>

                    </table>
                </div>
                <div class="box-footer clearfix">

                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="box box-primary">
                <div class="box-body">
                    <a href="{{ path('score_cms_article_new') }}"
                       class="btn btn-primary">{{ 'score.article.list.create'|trans }} </a>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="box-body">
                        <a class="btn btn-primary"
                           href="{{ path('score_cms_article_categories') }}">{{ 'score.article.edit.categories'|trans }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


    {{ include('@ScoreCms/Default/_delete_modal.html.twig') }}

{% endblock %}


    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>
        <script type="text/javascript">

            $('#articles-datatable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "{{ path('article_admin_datatable') }}",
                "paging": true,
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "pageLength": 10,
                'language': {
                    url: '/bundles/scorecms/plugins/datatables/sk.js'
                }
            });


        </script>

        <script>

            $('body').on('click', '.delete-article', function (e) {
                e.preventDefault();
                $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
                $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.article.delete" |trans }}");
                $('#confirm-delete-cms-item-modal').modal('show');
            });
        </script>
    {% endblock %}


