{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content_header_title %}
    <h1>{{ 'score.article.list.topTitle'|trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.article.list.breadcrumb' | trans }}</li>
{% endblock %}

{% block body %}

    {{ m.alerts() }}

    <div class="row">
        <div class="col-sm-10">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="category-btn-group">
                        <button class="c-update">{{ 'score.article.edit.categories'|trans }}</button>
                    </div>
                </div>
            </div>
            <div class="box box-solid">
                <div class="box-body">
                    <table id="articles-datatable" class="table table-striped display compact" style="width: 100%">
                        <thead>
                        <tr>
                            {#                            <th>{{ 'score.article.list.id'|trans }}</th> #}
                            <th>{{ 'score.article.list.name'|trans }}</th>
                            {#                            <th>{{ 'score.article.list.category'|trans }}</th> #}
                            <th>{{ 'score.article.list.published'|trans }}</th>
                            <th>{{ 'score.article.list.author'|trans }}</th>
                            <th>{{ 'score.article.edit.categories'|trans }}</th>
                            <th>{{ 'score.article.list.publishedFromTo'|trans }}</th>
                            {% if canDelete %}
                                <th style="min-width: 8em;">{{ 'score.article.list.action'|trans }}</th>
                            {% else %}
                                <th></th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for article in list %}
                            <tr>
                                {#                                <td>{{ article.id }}</td> #}
                                <td>
                                    <a href="{{ path('score_cms_article_edit',{id:article.id}) }}">{{ article.name }}</a>
                                </td>
                                {#                                <td>{{ article.categoryNames }}</td> #}
                                <td>{{ article.published == 1 ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>' }}</td>
                                <td>{{ article.author }}</td>
                                <td>{{ article.articleCategories|map(v => v.name)|join(', ') }}</td>
                                <td> {% if article.publishedFrom and article.publishedTo %}
                                        {{ article.publishedFrom | date("j.n.Y") }} – {{ article.publishedTo | date("j.n.Y") }}
                                    {% else %}
                                        {{ article.publishedFrom ? ("od " ~ (article.publishedFrom | date("j.n.Y"))) : "" }}
                                        {{ article.publishedTo ? ("do " ~ (article.publishedTo | date("j.n.Y"))) : "" }}
                                    {% endif %}
                                </td>
                                {% if canDelete %}
                                    <td class="{{ article.isDeleted ? "bg-danger" }}">
                                        {% if not article.isDeleted %}
                                            <a class="to-trash-article"
                                               href="{{ path('score_cms_article_to_trash',{id:article.id}) }}">{{ 'score.page.toTrash'|trans }}</a>
                                        {% else %}
                                            <a class="from-trash-article"
                                               href="{{ path('score_cms_article_from_trash',{id:article.id}) }}">{{ 'score.page.fromTrash'|trans }}</a>
                                        {% endif %}
                                        <br>
                                        <a class="delete-article"
                                           href="{{ path('score_cms_article_delete',{id:article.id}) }}">{{ 'score.page.delete.title'|trans }}</a>
                                    </td>
                                {% else %}
                                    <th></th>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">

                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="box box-primary">
                <div class="box-body">
                    <a href="{{ path('score_cms_article_new') }}"
                       class="btn btn-primary">{{ 'score.article.list.create'|trans }} </a>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="box-body">
                        <a class="btn btn-primary"
                           href="{{ path('score_cms_article_categories') }}">{{ 'score.article.edit.categories'|trans }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>



    {{ include('@ScoreCms/Default/_delete_modal.html.twig') }}

{% endblock %}


    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>
        <script src="{{ asset('bundles/scorecms/js/PageManager.js') }}"></script>

        <script type="text/javascript">

            let dataTable = $('#articles-datatable').DataTable({
                ordering: false,
                pageLength: 50,
                language: {
                    url: "{{ asset('bundles/scorecms/plugins/datatables/sk.js') }}"
                },
                ajax: "{{ path("admin-score-api-article-list") }}",
                columns: [
                    {data: 'link'},
                    {data: 'published'},
                    {data: 'autor'},
                    // {data: d => (d.categories || []).join(", ")},
                    {data: 'categories'},
                    {data: 'publishedFromTo'},
                    {data: 'action'},
                ],
            });


            $(".c-update").click(() => {
                let wrapper = $('.category-btn-group')
                dataTable.columns().search('').draw();
                if (wrapper.children().length > 1) return;
                let array = [];
                dataTable.column(3).data().each(v => v.forEach(vv => array.push(vv)));
                array.filter((x, i, a) => a.indexOf(x) == i)
                    .forEach(v => wrapper.append($("<button/>", {class: "btn btn-default"}).text(v).click(_ => dataTable.columns(3).search(v).draw())))
            })


        </script>

        <script>
            $('body').on('click', '.delete-article', function (e) {
                e.preventDefault();
                $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
                $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.article.delete" |trans }}");
                $('#confirm-delete-cms-item-modal').modal('show');
            });
        </script>
        <script>
            $('body').on('click', '.to-trash-article', function (e) {
                e.preventDefault();
                $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
                $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.article.toTrash" |trans }}");
                $('#confirm-delete-cms-item-modal').modal('show');
            });
        </script>
    {% endblock %}


