{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block content_header_title %}
    <h1>{{ 'score.article.create.boxTitle'|trans }}</h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.article.create.boxTitle'|trans }}</li>
{% endblock %}

{% block body %}
    {{ m.alerts() }}
    {{ include('@ScoreCms/Article/_form.html.twig',{'form':form}) }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/sortable/nestable.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/scorecms/plugins/select2/select2.min.css') }}" rel="stylesheet"/>
    {{ m.cmsEditorCss() }}
{% endblock %}



 {% block javascripts %}
     {{ parent() }}
     {{ m.cmsEditorJs('article_body') }}
     {{ m.cmsEditorJs('article_teaser', 'cke5_basic') }}
     <script src="{{ asset('bundles/scorecms/plugins/slugify/slugify.js') }}"></script>
     <script src="{{ asset('bundles/scorecms/plugins/sortable/jquery.nestable.js') }}"></script>
     <script src="{{ asset('bundles/scorecms/plugins/select2/select2.min.js') }}"></script>

     <script src="{{ asset('bundles/scorecms/js/admin.js') }}?v={{ cms_get_version() }}{{ app.environment == 'dev' ? ("_" ~ ("now"|date("Ymd-His"))) }}"></script>
     {{ include('@ScoreCms/Default/_js_keyboard_submit_form.html.twig', {"formSelector": ".content > form"}) }}

 {% endblock %}




