<!-- COOKIES BANNER -->
			<div
				class="idsk-cookie-banner " data-nosnippet role="region" aria-label="Cookies na stránke IDSK" hidden="true">
				<!-- COOKIES MESSAGE -->
				<div class="idsk-cookie-banner__message govuk-width-container">
					<div class="govuk-grid-row">
						<div class="govuk-grid-column-two-thirds">

							<h2 class="idsk-cookie-banner__heading govuk-heading-m">Cookies na stránke {{ app.request.host }}</h2>

							<div class="idsk-cookie-banner__content">
								<p>Používame základné cookies súbory aby mohla táto stránka fungovať.</p>
								<p>Taktiež používame analytické súbory, akceptovaním súhlasíte s ich používaním.</p>
							</div>
						</div>
					</div>

					<div class="idsk-button-group">
						<button type="button" class="idsk-button js-cookies-button-accept" data-module="idsk-button">
							Prijať analytické cookies
						</button>

						<button type="button" class="idsk-button js-cookies-button-reject" data-module="idsk-button">
							Odmietnuť analytické cookies
						</button>

						<a class="govuk-link" href="{{ path('cookies') }}" title="Nastavenia cookies">Nastavenia cookies</a>
					</div>
				</div>

				<!-- COOKIES ACCEPTED -->
				<div class="idsk-cookie-banner__message govuk-width-container js-cookie-banner-accepted app-width-container" role="alert" hidden="true">
					<div class="govuk-grid-row">
						<div class="govuk-grid-column-two-thirds">
							<div class="idsk-cookie-banner__content">
								<p>Akceptoval si analytické súbory, túto voľbu môžeš kedykoľvek zmeniť v
									<a class="govuk-link" href="{{ path('cookies') }}" title="cookies nastaveniach">cookies nastaveniach</a>.</p>
							</div>
						</div>
					</div>

					<div class="idsk-button-group">
						<button type="button" class="idsk-button js-cookies-button-accepted-hide" data-module="idsk-button">
							Skryť správu
						</button>
					</div>
				</div>

				<!-- COOKIES REJECTED -->
				<div class="idsk-cookie-banner__message govuk-width-container js-cookie-banner-rejected app-width-container" role="alert" hidden="true">
					<div class="govuk-grid-row">
						<div class="govuk-grid-column-two-thirds">
							<div class="idsk-cookie-banner__content">
								<p>Neakceptoval si analytické súbory, túto voľbu môžeš kedykoľvek zmeniť v
									<a class="govuk-link" href="{{ path('cookies') }}" title="cookies nastaveniach">cookies nastaveniach</a>.</p>
							</div>
						</div>
					</div>

					<div class="idsk-button-group">
						<button type="button" class="idsk-button js-cookies-button-rejected-hide" data-module="idsk-button">
							Skryť správu
						</button>
					</div>
				</div>
			</div>