<div class="idsk-footer-extended-feedback">
	<div class="govuk-width-container">
		<div id="idsk-footer-extended-feedback" class="idsk-footer-extended-feedback-text">
			<div class="idsk-footer-extended-feedback-container">
				<div id="idsk-footer-extended-info-question">
					<div class="govuk-grid-column-one-third idsk-footer-extended-usefull-question idsk-footer-extended-white-border">
						<div class="idsk-footer-extended-feedback-question-info-usefull">
							<button id="idsk-footer-extended-error-button" type="button" class="idsk-footer-extended-feedback-text-answers idsk-footer-extended-help-button">
								Našli ste na stránke chybu?
							</button>
						</div>
						<div class="idsk-footer-extended-usefull-question-mobile ">
							<span>
								Našli ste na stránke chybu?
							</span>
							<button id="idsk-footer-extended-write-us-button" type="button" class="idsk-footer-extended-write-us-button idsk-footer-extended-feedback-text-answers idsk-footer-extended-help-button">
								Napíšte nám
							</button>
						</div>
					</div>
				</div>
				<div id="idsk-footer-extended-heart" class="idsk-footer-extended-heart govuk-grid-column-full">
					Ďakujeme za Vašu spätnú väzbu
				</div>
			</div>
		</div>
	</div>
</div>
<div id="idsk-footer-extended-feedback-content">
	<div class="govuk-width-container">
		<div class="govuk-grid-row">
			<div id="idsk-footer-extended-help-form" class="idsk-footer-extended-feedback-hidden idsk-footer-extended-display-hidden"></div>
			<div id="idsk-footer-extended-error-form" class="idsk-footer-extended-feedback-hidden idsk-footer-extended-display-hidden">
				<div class="idsk-footer-extended-feedback-container ">
					<div class="govuk-grid-column-full">
						<div class="idsk-footer-extended-feedback-question-container">
							<div class="govuk-grid-column-two-thirds idsk-footer-extended-help-form-header-mobile">
								<h3 class="govuk-heading-x">
									Pomôžte nám zlepšiť webové sídlo
									{{ app.request.host() }}
								</h3>
							</div>
							<div class="govuk-grid-column-one-third idsk-footer-extended-close-button-mobile">
								<button id="idsk-footer-extended-close-error-form-button" type="button" class="idsk-footer-extended-feedback-button idsk-footer-extended-help-button">
									Zatvoriť
								</button>
							</div>
						</div>
						<p class="idsk-footer-extended-form-text">
							Prosím nevpisujte žiadne osobné informácie (meno, kontakt a iné).
						</p>
						<br>
						<div class="idsk-footer-extended-close-button">
							<div class="govuk-form-group">
								<label class="govuk-label" for="sort">
									Aký typ chyby ste našli?
								</label>
								<select class="govuk-select" id="sort" name="sort">
									<option value="Validačná chyba">Validačná chyba</option>
									<option value="Gramatická chyba" selected>Gramatická chyba</option>
									<option value="Chyba responzivity">Chyba responzivity</option>
									<option value="Chyba iná">Chyba iná</option>
								</select>
							</div>

						</div>
						<div>
							<br>

							<div class="idsk-character-count" data-module="idsk-character-count" data-maxlength="350">
								<div class="govuk-form-group">
									<label class="govuk-label" for="with-hint">
										Popíšte chybu bližšie
									</label>
									<span id="with-hint-hint" class="govuk-hint"></span>
									<textarea class="govuk-textarea govuk-js-character-count " id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
								</div>

								<span id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
									You can enter up to 350 characters
								</span>
							</div>

						</div>
						<div class="idsk-footer-extended__feedback-info" data-email="info@{{ app.request.httpHost  }}" data-subject="Nahlásenie chyby">Dobrý deň, na stránke
							{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}
							máte problém týkajúci sa: %issue%. Popis chyby: %description%</div>
						<div class="idsk-footer-extended-feedback-button">
							<button id="submit-button-error-form" type="submit" class="idsk-button" data-module="idsk-button">
								Odoslať
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
