<header class="idsk-header-web " data-module="idsk-header-web">

{% if 'idsk-header-banner' | cms_text is not same as "-" %}
	<div class="idsk-header-web__banner idsk-header-web__banner--warning js-alert-hore idsk-header-web__banner--hide">
		<div class="govuk-width-container">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-full">
					<div class="govuk-body-s idsk-header-web__banner-title">
						<div class="idsk-header-web__warning-icon"></div>
						 {{ 'idsk-header-banner' | cms_text | raw  }}
					</div>
					<button class="idsk-header-web__banner-close" aria-label="Zavrieť banner">
						<div class="idsk-header-web__menu-close"></div>
					</button>
				</div>
			</div>
		</div>
	</div>
{% endif %}

    <div class="idsk-header-web__tricolor"></div>

    <div class="idsk-header-web__brand ">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="idsk-header-web__brand-gestor">

                        <span class="govuk-body-s idsk-header-web__brand-gestor-text">

                       {{ 'idsk-header-top-title' | cms_text | raw  }}


                        </span>

                        <span class="govuk-body-s idsk-header-web__brand-gestor-text--mobile">
                            SK
                            <button class="idsk-header-web__brand-gestor-button" aria-label="Zobraziť informácie o stránke" aria-expanded="false" data-text-for-hide="Skryť informácie o stránke" data-text-for-show="Zobraziť informácie o stránke">
                                e-gov
                                <div class="idsk-header-web__link-arrow"></div>
                            </button>
                        </span>

                        <div class="idsk-header-web__brand-dropdown">
                            <div class="govuk-width-container">
                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-one-half">
                                        {{ 'idsk-header-top-body' | cms_text | raw  }}
                                    </div>
                                    <div class="govuk-grid-column-one-half">
                                        <h3 class="govuk-body-s">
                                            Táto stránka je zabezpečená
                                        </h3>
                                        <p class="govuk-body-s">
                                            Buďte pozorní a vždy sa uistite, že zdieľate informácie iba cez zabezpečenú webovú stránku verejnej správy SR. Zabezpečená stránka vždy začína https:// pred názvom domény webového sídla.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="idsk-header-web__brand-spacer"></div>

{# TODO rozlisovanie na nejaky takyto sposob ale kedze je to rendrovane controller twiq controller twig tak nemam pristup k celemu requestu a teda k url #}
{# <a class="govuk-link idsk-header-web__brand-language-list-item-link " title="English" href={{ app.request.getPathInfo is same as "about" ? path('default_homepage') : app.request.getPathInfo }}> #}
{# <a class="govuk-link idsk-header-web__brand-language-list-item-link idsk-header-web__brand-language-list-item-link--selected" title="Slovenčina" href={{ app.request.getPathInfo is same as "about" ? app.request.getPathInfo : path('default_homepage') }}> #}

                    {#
                    <div class="idsk-header-web__brand-language">
                        <button class="idsk-header-web__brand-language-button" aria-label="Rozbaliť jazykové menu" aria-expanded="false" data-text-for-hide="Skryť jazykové menu" data-text-for-show="Rozbaliť jazykové menu">
                            Slovenčina
                            <div class="idsk-header-web__link-arrow"></div>
                        </button>
                        <ul class="idsk-header-web__brand-language-list">
                            <li class="idsk-header-web__brand-language-list-item">
                                <a class="govuk-link idsk-header-web__brand-language-list-item-link " title="English" href="#">
                                    English
                                </a>
                            </li>
                            <li class="idsk-header-web__brand-language-list-item">
                                <a class="govuk-link idsk-header-web__brand-language-list-item-link idsk-header-web__brand-language-list-item-link--selected" title="Slovenčina" href="#">
                                    Slovenčina
                                </a>
                            </li>
                        </ul>
                    </div>
                    #}

                </div>
            </div>
        </div>
    </div>

    <div class="idsk-header-web__main">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-grid-column-one-third-from-desktop">
                    <div class="idsk-header-web__main-headline">
                        <a href="/" title="Odkaz na úvodnú stránku">
                           {{ 'idsk-header-logo' | cms_text | raw  }}
                        </a>
                        <button class="idsk-button idsk-header-web__main-headline-menu-button" aria-label="Rozbaliť menu" aria-expanded="false" data-text-for-show="Rozbaliť menu" data-text-for-hide="Skryť menu">
                            Menu
                            <div class="idsk-header-web__menu-open"></div>
                            <div class="idsk-header-web__menu-close"></div>
                        </button>
                    </div>
                </div>

                <div class="govuk-grid-column-two-thirds">
                    <div class="idsk-header-web__main-action">
                        {% if search_form is defined and search_form %}
                            <form class="idsk-header-web__main-action-search" action="{{ path('search') }}" method="GET">
                                <input class="govuk-input govuk-!-display-inline-block" id="idsk-header-web__main-action-search-input" name="search" placeholder="Zadajte hľadaný výraz" 
                                    value="{{ search_slug ?? "" }}" type="search" role="combobox" aria-describedby="input-width-30-hint" aria-label="Zadajte hľadaný výraz"/>
                                <button type="submit" class="govuk-button" data-module="govuk-button">
                                    <span class="govuk-visually-hidden">Vyhľadať</span>
                                    <i aria-hidden="true" class="fas fa-search"></i>
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="idsk-header-web__nav--divider"></div>
    <div class="idsk-header-web__nav idsk-header-web__nav--mobile ">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <form class="idsk-header-web__main-action-search">
                        <input class="govuk-input govuk-!-display-inline-block" id="idsk-header-web__main-action-search-input" name="search" placeholder="Zadajte hľadaný výraz" type="search" role="combobox" aria-describedby="input-width-30-hint" aria-label="Zadajte hľadaný výraz"/>
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            <span class="govuk-visually-hidden">Vyhľadať</span>
                            <i aria-hidden="true" class="fas fa-search"></i>
                        </button>
                    </form>

                </div>
                <div class="govuk-grid-column-full">
                    {{ include('@ScoreCms/Public/idsk/_mainMenu.html.twig') }}
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="idsk-header-web__main--buttons">
                        <div class="idsk-header-web__main--login ">
                            <button type="button" class="idsk-button idsk-header-web__main--login-loginbtn" data-module="idsk-button">
                                Prihlásiť sa
                            </button>
                            <div class="idsk-header-web__main--login-action">
                                <img class="idsk-header-web__main--login-action-profile-img" src="/bundles/scorecms/idsk/assets/images/header-web/profile.svg" alt="Profile image">
                                <div class="idsk-header-web__main--login-action-text">
                                    <span class="govuk-body-s idsk-header-web__main--login-action-text-user-name">
                                        Ing. Jožko Veľký M.A
                                    </span>
                                    <div>
                                        <a class="govuk-link idsk-header-web__main--login-action-text-logout idsk-header-web__main--login-logoutbtn" href="#" title="odhlásiť">
                                            Odhlásiť
                                        </a>
                                        <span>
                                            |
                                        </span>
                                        <a class="govuk-link idsk-header-web__main--login-action-text-profile idsk-header-web__main--login-profilebtn" href="#" title="profil">
                                            Profil
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="idsk-button idsk-header-web__main--login-profilebtn" data-module="idsk-button">
                                Profil
                            </button>
                            <button type="button" class="idsk-button idsk-header-web__main--login-logoutbtn" data-module="idsk-button">
                                Odhlásiť sa
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</header>