{% macro checkIsActive(path, link) %}{{ ( not path and not link ) or (path and link and path starts with link)? " idsk-header-extended__navigation-item--active" }}{% endmacro %}

<nav class="idsk-header-web__nav-bar--buttons">
    <ul class="idsk-header-web__nav-list " role="navigation" aria-label="Hlavná navigácia">
        {% for item in cms_menu_tree('root') %}
            {% if item.children | length %}
                {{ include('@ScoreCms/Public/idsk/_menuItemFolded.html.twig',{'items': item}) }}
            {% else %}
                <li class="idsk-header-web__nav-list-item {{ _self.checkIsActive(app.request.requesturi | trim('/'), item.publicLink | trim('/')) }}">
                    {% if 'page' == item.linkType %}
                        <a class="govuk-link idsk-header-web__nav-list-item-link"
                           href="{{ item.publicLink is same as "homepage" ?  "/" : path('default_subpage',{'seoid':item.publicLink}) }}"
                           title="{{ item.name }}">
                            {{ item.name }}
                        </a>
                    {% else %}
                        <a class="govuk-link idsk-header-web__nav-list-item-link" href="{{ item.publicLink }}"
                           title=" {{ item.name }}">
                            {{ item.name }}
                        </a>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}{# empty Twig template #}


    </ul>
</nav>
{# ? "govuk-grid-column-full govuk-grid-column-one-half-from-desktop" #}
