<li class="idsk-header-web__nav-list-item">

    <a class="govuk-link idsk-header-web__nav-list-item-link" href="#{{ item.publicLink }}" title="{{ item.name }}"  aria-label="Rozbaliť {{ item.name }} menu" aria-expanded="false"
    data-text-for-hide="Skryť {{ item.name }} menu" data-text-for-show="Rozbaliť {{ item.name }} menu">


        {{ item.name }}
        <div class="idsk-header-web__link-arrow"></div>
        <div class="idsk-header-web__link-arrow-mobile"></div>
    </a>


    <div class="idsk-header-web__nav-submenulite">
        <ul class="idsk-header-web__nav-submenulite-list" aria-label="Vnútorná navigácia">

        {% for item in item.children %}
        <li class="idsk-header-web__nav-submenulite-list-item">
            {% if 'page' == item.linkType %}
                <a class="govuk-link idsk-header-web__nav-submenulite-list-item-link" href="{{ item.publicLink is same as "homepage" ?  "/" : path('default_subpage',{'seoid':item.publicLink}) }}" title="{{ item.name }}">
                    <span>{{ item.name }}</span>
                </a>
            {% else %}
                <a class="govuk-link idsk-header-web__nav-submenulite-list-item-link" href="{{ item.publicLink }}" title=" {{ item.name }}">
                    <span>{{ item.name }}</span>
                </a>
            {% endif %}
        </li>
        {% endfor %}{# empty Twig template #}
        </ul>
      </div>
</li>
