{% extends cms_template() %}

{% block title %}Cookies |
	{{parent()}}
{% endblock %}

{% block body %}
	<h1 class="govuk-heading-xl">Nastavenia cookies</h1>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full govuk-body">

			<div class="govuk-panel govuk-panel--confirmation"  role="alert" hidden="true">
				<h2 class="govuk-panel__title">
					Zmeny boli uložené.
				</h2>
				<div class="govuk-panel__body">
					<p>
						Svoju voľbu môžeš kedykoľvek zmeniť.
					</p>
				</div>
			</div>

			<div class="govuk-form-group">
				<div class="govuk-checkboxes">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="necessary-cookies" name="" type="checkbox" value="" checked="checked" disabled="">
						<label class="govuk-label govuk-checkboxes__label" for="necessary-cookies">
							Nevyhnutne nutné súbory cookie
						</label>
					</div>
				</div>
			</div>


			<div class="govuk-inset-text">
				Sú to základné súbory cookie, ktoré umožňujú pohybovať sa po webovej stránke a používať jej funkcie. Tieto súbory cookie neukladajú žiadne informácie o vás, ktoré by sa dali použiť na marketing alebo na zapamätanie si, čo ste si na internete pozerali.
			</div>


			<div class="govuk-form-group">
				<div class="govuk-checkboxes">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="ga-cookies" name="" type="checkbox" value="">
						<label class="govuk-label govuk-checkboxes__label" for="ga-cookies">
							Analytické súbory cookie
						</label>
					</div>
				</div>
			</div>


			<div class="govuk-inset-text">
				Tieto súbory zbierajú informácie o tom, ako sa používala webová stránka, napríklad ktoré stránky najčastejšie navštevujete a či sa vám zobrazili chybové hlásenia. Nezbierajú informácie, na základe ktorých by bolo možné zistiť vašu totožnosť. Všetky informácie sú anonymné. Používajú sa na zlepšenie funkčnosti webových stránok.
			</div>


			<button type="submit" class="idsk-button save-cookie-settings" data-module="idsk-button">
				Uložiť nastavenia
			</button>

		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		if (localStorage.getItem('googleAnalytics') === 'true') {
			document.getElementById("ga-cookies").checked = true;
		}

		var panel = document.querySelector('.govuk-panel--confirmation');

		var saveButton = document.querySelector('.save-cookie-settings');
		saveButton.addEventListener('click', function (event) {

			panel.hidden = false;

			if(document.getElementById("ga-cookies").checked === true)
			{
				cookieMessage.hidden = true;
				cookieBannerAccepted.hidden = false;
				localStorage.setItem('googleAnalytics', 'true');
				localStorage.setItem('acceptedCookieBanner', 'true');
				fireAnalytics();
				event.preventDefault();
			}
			else
			{
				cookieMessage.hidden = true;
				cookieBannerRejected.hidden = false;
				localStorage.setItem('googleAnalytics', 'false');
				localStorage.setItem('acceptedCookieBanner', 'true');
				event.preventDefault();
			}

		})
	</script>
{% endblock %}
