<!DOCTYPE html>
<html lang="sk" class="govuk-template app-no-canvas-background">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,viewport-fit=cover" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>
			{% block title %}
				{{app.request.host()|split('.')|filter(v => v != "www")|first|upper}}
			{% endblock %}
		</title>
		<link href="{{ asset('bundles/scorecms/idsk/css/main.css') }}" rel="stylesheet"/>
		<link href="{{ asset('bundles/scorecms/css/public.css') }}" rel="stylesheet"/>
		<link href="{{ asset('bundles/scorecms/css/ckstyle.css') }}" rel="stylesheet"/>

		{% block stylesheets %}
		{% endblock %}

		{% import "@ScoreBase/Default/macros.html.twig" as m_layout %}
		{% set layout_reactFiles = (page is defined and page.blockJoints|map(pb => pb.block.type) | filter(v => v == 'form') | length) ? [] : cms_react_apps(['form'])  %} {# LEBO KED SA TO NACITA DVA KRAT TAK TO NEFUNGUJE #}
		{{ m_layout.filterCss(layout_reactFiles) }}

		<style>
			[data-form-id="nahlaseniechyby"] .cms-form form.items {
				display: block;
			}
			
            span.text-tiny {
                font-size: 0.7em;
            }

            span.text-small {
                font-size: 0.85em;
            }

            span.text-big {
                font-size: 1.4em;
            }

            span.text-huge {
                font-size: 1.8em;
            }

			img {
				max-width: 100%;
				height: auto;
				vertical-align: middle;
			}

			div p+.image-style-side {
				margin-top: 0;
			}

			.image-style-side {
				float: right;
				max-width: 50%;
			}
			            
			.image {
                clear: both;
                display: table;
                margin: 0.9em auto;
                min-width: 50px;
                text-align: center;
            }


			[id^="cms-block-"]:after {
				content:"";
				display:block;
				clear:both;
			}
		</style>

	</head>


	<body class="govuk-template__body ">
			<script>
				document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
			</script>

			{{ include('@ScoreCms/Public/idsk/_cookie_banner.html.twig') }}

			<a href="#main-content" class="govuk-skip-link">Preskočiť na hlavný obsah</a>
			
			{{ include('@ScoreCms/Public/idsk/_header.html.twig') }}

			<div class="govuk-width-container">
				<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-body" id="main-content" role="main"> 
					{% block body %}
					{% endblock %}
				</main>
			</div>

				<div data-module="idsk-footer-extended">
					<footer class="idsk-footer-extended  idsk-footer-extended--up-button-enabled " role="contentinfo">
						<div class="idsk-footer-extended-up-button-div" id="footer-extended-up-button">
							<div class="govuk-width-container">
								<div class="govuk-grid-column-full">
									<a href="#" role="button" draggable="false" class="idsk-button idsk-button--start idsk-footer-extended-up-button-a" data-module="idsk-button">
										<svg class="idsk-footer-extended__up-button-svg" width="20" height="15" viewbox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M10 5.5984L0 15L0 9.40174L10 0L10 5.5984Z" fill="white"/>
											<path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M20 9.4016L10 0V5.59826L20 15V9.4016Z" fill="white"/>
										</svg>
										Hore
									</a>
								</div>
							</div>
						</div>
						
						{{ include('@ScoreCms/Public/idsk/_feedback.html.twig') }}

						<div class="idsk-footer-extended-main-content">
							<div class="govuk-width-container">
								<div class="govuk-grid-column-full">
									<div class="idsk-footer-extended-description-panel">
										<div class="idsk-footer-extended-meta-item">
											<ul class="idsk-footer-extended-inline-list ">
												<li class="idsk-footer-extended-inline-list-item">
													<a class="govuk-link" title="Cookies" href="{{ path('cookies') }}">
														Cookies
													</a>
												</li>
												<li class="idsk-footer-extended-inline-list-item">
													<a class="govuk-link" title="Ochrana osobných údajov" href="{{ path('default_subpage',{'seoid':'ochrana-osobnych-udajov'}) }}">
														Ochrana osobných údajov
													</a>
												</li>
												<li class="idsk-footer-extended-inline-list-item">
													<a class="govuk-link" title="Vyhlásenie o prístupnosti" href="{{ path('default_subpage',{'seoid':'vyhlasenie-o-pristupnosti'}) }}">
														Vyhlásenie o prístupnosti
													</a>
												</li>
											</ul>
										</div>
										<div class="govuk-grid-column-two-thirds idsk-footer-extended-info-links">
											<p class="idsk-footer-extended-frame">Vytvorené v súlade s
												<a class="govuk-link" title="Jednotným dizajn manuálom elektronických služieb." href="https://idsk.gov.sk/">
													Jednotným dizajn manuálom elektronických služieb.
												</a>
											</p>
											<p class="idsk-footer-extended-frame">
												Prevádzkovateľom služby je <a href="https://www.sazp.sk">Slovenská agentúra životného prostredia</a>
											</p>
										</div>
										<div class="govuk-grid-column-one-third idsk-footer-extended-logo-box">
											<a href="/" title="domov">
												<div class="idsk-footer-extended-logo">
													{% block footer_logo %}
				
                    								{% endblock %}
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</footer>
				</div>


				<script src="{{ asset('bundles/scorecms/idsk/assets/all.js') }}"></script>

				<script>
					window.GOVUKFrontend.initAll()
				</script>

				<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.15/iframeResizer.min.js" integrity="sha256-NZjCYaMfryuJQRMgekHuC02c/Wv4sMRzHG2zyhrVwKU=" crossorigin="anonymous"></script>
				<!--[if lte IE 8]>
				    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.15/ie8.polyfils.min.js"></script>
				  <![endif]-->
				<script type="text/javascript">
					var domReady = function (a, b, c) {
					b = document,
					c = 'addEventListener';
					b[c] ? b[c]('DOMContentLoaded', a) : window.attachEvent('onload', a)
					}
					domReady(iFrameResize({}, '.js-component-preview'))
				</script>

			

				<script>
					function fireAnalytics(){
						if(localStorage.getItem('googleAnalytics') === 'true')
						{
							//analytics scripts
						}
					}
					fireAnalytics();

					var cookieBanner = document.querySelector('.idsk-cookie-banner');
					var cookieBannerAccepted = document.querySelector('.js-cookie-banner-accepted');
					var cookieBannerRejected = document.querySelector('.js-cookie-banner-rejected');
					var cookieMessage = document.querySelector('.idsk-cookie-banner__message');
					var acceptButton = document.querySelector('.js-cookies-button-accept');
					var rejectButton = document.querySelector('.js-cookies-button-reject');
					var acceptedButtonHide = document.querySelector('.js-cookies-button-accepted-hide');
					var rejectedButtonHide = document.querySelector('.js-cookies-button-rejected-hide');

					if (cookieBanner) {

					cookieBanner.hidden = (localStorage.getItem('acceptedCookieBanner') === 'true');

					acceptButton.addEventListener('click', function (event) {
						cookieMessage.hidden = true;
						cookieBannerAccepted.hidden = false;
						localStorage.setItem('googleAnalytics', 'true');
						localStorage.setItem('acceptedCookieBanner', 'true');
						fireAnalytics();
						event.preventDefault();
					})

					rejectButton.addEventListener('click', function (event) {
						cookieMessage.hidden = true;
						cookieBannerRejected.hidden = false;
						localStorage.setItem('googleAnalytics', 'false');
						localStorage.setItem('acceptedCookieBanner', 'true');
						event.preventDefault();
					})

					acceptedButtonHide.addEventListener('click', function (event) {
						cookieBanner.hidden = true;
						event.preventDefault();
					})

					rejectedButtonHide.addEventListener('click', function (event) {
						cookieBanner.hidden = true;
						event.preventDefault();
					})
					}
				</script>

				<script> 
					// HORNY  ALERT
					let c_text = document.querySelector('.js-alert-hore .govuk-body-s').innerText;
					let c_btn = document.querySelector('.js-alert-hore button');

					if (localStorage.getItem('idsk_header_banner_text') === c_text) {
						//c_btn.click();
					} else {
						document.querySelector('.js-alert-hore').classList.remove("idsk-header-web__banner--hide")
					}
					
					c_btn.addEventListener('click', function (event) {
						localStorage.setItem('idsk_header_banner_text', c_text);
					})
				</script>

				{{ m_layout.filterJs(layout_reactFiles) }}

				{% block javascripts %}
				{% endblock %}
			</body>
		</html>
