{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block content_header_title %}
	<h1>{{ 'score.cms.widget.edit.title' | trans }}: {{entity.code}}</h1>
{% endblock %}

{% block content_header_breadcrumb %}
	{{ parent() }}
	<li class="active">{{ 'score.cms.widget.breadcrumb' | trans }}</li>
	<li class="active"><a class="" href="{{ path('score-cms-widget-value-list', {'id': widget.id }) }}">{{ widget.name }}</a></li>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

{% endblock %}

{% block body %}
	{{ m.alerts() }}

	{{ form_start(form) }}
	{{ form_widget(form) }}

	<input class="btn btn-primary" type="submit" value="{{ 'score.cms.widget.edit.save' | trans }}"/>

	{{ form_end(form) }}

{% endblock %}
