{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block content_header_title %}
	<h1>{{ 'score.cms.widget.edit.title' | trans }}</h1>
{% endblock %}

{% block content_header_breadcrumb %}
	{{ parent() }}
	<li class="active">{{ 'score.cms.widget.breadcrumb' | trans }}</li>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

    <script language="Javascript" type="text/javascript" src="{{ asset('bundles/scorecms/plugins/editarea-code-r33-trunk/edit_area/edit_area_full.js') }}"></script>
	<script language="Javascript" type="text/javascript">

		// pattern
		editAreaLoader.init({
			id: "widget_pattern"	// id of the textarea to transform	
			,start_highlight: true
			,language: "sk"
			,syntax: "css"	
			,toolbar: "search, go_to_line, |, undo, redo, |, select_font, |, syntax_selection, |, change_smooth_selection, highlight, reset_highlight, |, help"
			,syntax_selection_allow: "css,html,js,php,python,vb,xml,c,cpp,sql,basic,pas,brainfuck"
			,show_line_colors: true
		});


    </script>	
	
	<script language="Javascript" type="text/javascript">

		// template
		editAreaLoader.init({
			id: "widget_template"	// id of the textarea to transform	
			,start_highlight: true
			,language: "sk"
			,syntax: "html"	
			,toolbar: "search, go_to_line, |, undo, redo, |, select_font, |, syntax_selection, |, change_smooth_selection, highlight, reset_highlight, |, help"
			,syntax_selection_allow: "css,html,js,php,python,vb,xml,c,cpp,sql,basic,pas,brainfuck"
			,show_line_colors: true
		});


    </script>

    <script>
        jQuery(function ($) {
            $( document ).ready(function() {
                // zobrazenie JSON kodu v kope alebo pekne naformatovaneho
                $('#pattern_example_btn').click(function(e) {
                  e.preventDefault();
                  let el = $('#pattern_example');
                  if (el.is("p")) {
                    el.parent().html(`<pre id="pattern_example">${el.html()}</pre>`);
                  } else {
                    el.parent().html(`<p id="pattern_example">${el.html()}</p>`);
                  }
                });
            });
        });
    </script>

{% endblock %}

{% block body %}
	{{ m.alerts() }}

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<p>
	PATTERN EXAMPLE:     <a class="" href="#" id="pattern_example_btn">Show formated</a>

  </p>
  <div>
  <p id="pattern_example">
[
    {
        "code": "title",
        "label": "Title",
        "help": "Write short title",
        "type": "text",
        "min": 7,
        "max": 25
    },{
        "code": "description",
        "label": "Description",
        "help": "Write max 350 characters",
        "type": "richtext",
        "min": 7,
        "max": 350,
        "rows": 15,
        "editor": "cke5_basic"
    },{ 
        "code": "logo", 
        "label": "Logo", 
        "type": "image"
    },{
        "code": "color",
        "label": "Color",
        "type": "choice",
        "choices": [{
              "label": "Red",
              "value": "red"
          },{
              "label": "Green",
              "value": "green"
          },{
              "label": "Blue",
              "value": "blue"
        }]
    }
]
</p>
</div>
<p>
 Type can by one of [text, choice, image, textarea, richtext]. First richtext can specify editor.
</p>
<p> Check valid json at <a target="_blanc" href="https://jsoneditoronline.org/">jsoneditoronline.org</a>.</p>

	<input class="btn btn-primary" type="submit" value="{{ 'score.cms.widget.edit.save' | trans }}"/>
	{{ form_end(form) }}


<p>
	<br><a class="" href="{{ path('score-cms-widget-value-new',{widgetId:entity.id ?: 0}) }}">{{ 'score.cms.widget.value.new'|trans }}</a>
</p>
{% endblock %}
