{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content_header_title %}
    <h1>{{ 'score.cms.widget.list.topTitle'|trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.cms.widget.breadcrumb' | trans }}</li>
{% endblock %}

{% block body %}

    {{ m.alerts() }}


    <div class="row">
        <div class="col-sm-10">

            <div class="box box-solid">
                <div class="box-body">
                    <table id="widgets-datatable" class="table table-striped display compact">
                        <thead>
                            <tr>
                                <th>{{ 'score.cms.widget.list.name'|trans  }}</th>
                                <th>{{ 'score.cms.widget.list.code'|trans  }}</th>
                                <th>{{ 'score.cms.widget.list.count'|trans  }}</th>
			                    {% if is_granted('ROLE_ADMIN') %}
                                    <th>{{ 'score.cms.widget.list.action'|trans  }}</th>
			                    {% endif %}			
                            </tr>
                        </thead>
                        <tbody>
                        {% for widget in widgets %}
                            <tr>
                                <td>
                                    <a class="" href="{{ path('score-cms-widget-value-list',{id:widget.id}) }}">{{ widget.name }}</a>
                                </td>
                                <td>
                                    {{ widget.code }}
                                </td>                                
                                <td>
                                    {{ widget.widgetValues | length }}
                                </td>
			                    {% if is_granted('ROLE_ADMIN') %}
                                    <td>
                                        <a class="" href="{{ path('score-cms-widget-edit',{id:widget.id}) }}">{{ 'score.cms.widget.list.edit' | trans }}</a>
                                        <br><a class="" href="{{ path('score-cms-widget-value-new',{widgetId:widget.id}) }}">{{ 'score.cms.widget.value.new'|trans }}</a>
                                        <br><a class="delete-widget" href="{{ path('score-cms-widget-delete',{id:widget.id}) }}">{{ 'score.cms.widget.list.delete'|trans }}</a>
                                    </td>
			                    {% endif %}			
                            </tr>
                        {% endfor %}
                        </tbody>                      
                    </table>
                </div>
                <div class="box-footer clearfix">

                </div>
            </div>
        </div>
        <div class="col-sm-2">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="box box-primary">
                    <div class="box-body">
                        <a class="btn btn-primary" href="{{ path('score-cms-widget-new')}}">{{ 'score.cms.widget.list.new'|trans }}</a>
                    </div>
                </div>
            {% endif %}			
        </div>
    </div>

    {{ include('@ScoreCms/Default/_delete_modal.html.twig') }}

{% endblock %}


    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>
        <script type="text/javascript">

            $('#widgets-datatable').DataTable({
            // "processing": true,
            // "serverSide": true,
            // "paging": true,
            // "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"] ],
             "pageLength": 50,
              'language': {
                    url: '/bundles/scorecms/plugins/datatables/sk.js'
                }
        });



        </script>

        <script>

            $('body').on('click', '.delete-widget', function (e) {
                e.preventDefault();
                $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
                $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.widget.delete" |trans }}");
                $('#confirm-delete-cms-item-modal').modal('show');
            });
        </script>
    {% endblock %}


