{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{# {% extends 'base.html.twig' %} #}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block content_header_title %}
	<h1>{{ 'score.cms.widget.edit.title' | trans }}</h1>
{% endblock %}

{% block content_header_breadcrumb %}
	{{ parent() }}
	<li >{{ 'score.cms.widget.breadcrumb' | trans }}</li>
	<li class="active"><a class="" href="{{ path('score-cms-widget-value-list', {'id': widget.id }) }}">{{ widget.name }}</a></li>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% for el in widget.patternArr | filter(v => v.type is same as "richtext") %}
	     {{m.cmsEditorJs(el.code, el.editor is defined ? el.editor : "cke5_simple")}}
	{% endfor %}

	<script>
		//  Image - spracovavanie pre type image
		$('.image-input-wrapper').each(function(){
			let hidden = $(this).find('input[type="hidden"]')
			let img = $(hidden?.val() || "<img>");
			$(this).find('input[type="text"]').each(function(){
				$(this).val(img.attr(this.dataset.part));
			}).on('input', function(){
				img.attr(this.dataset.part, $(this).val())
				hidden.val(img.wrap("<p/>").parent().html())
        	});
        });
	</script>
	{{ include('@ScoreCms/Default/_js_keyboard_submit_form.html.twig', {"formSelector": "form.main-body-form"}) }}

{% endblock %}

{% block body %}
	{{ m.alerts() }}

	<div>
		<h2>{{value.name}}</h2>
		<p>{{value.note}}</p>
	</div>
	<form method="post" class="main-body-form">
		{% for k,v in widget.patternArr %}
			{% if v.type is same as "text" %}
				<div class="form-group">
					<label class="control-label" for="{{ v.code }}">{{v.label}}</label>
					<input class="form-control" name="widget[{{ v.code }}]" id="{{ v.code }}" type="text"  
							minlength="{{ v.min is defined ? v.min }}" maxlength="{{ v.max is defined ? v.max }}" {{v.required is defined and v.required ? "required"}} 
							value="{{ value.dataArr[v.code] is defined ? value.dataArr[v.code] : ""}}" >
					<small class="form-text text-muted">{{ v.help is defined ? v.help }}</small>
				</div>
			{% elseif v.type is same as "choice" %}
				<div class="form-group">
					<label for="{{ v.code }}">{{v.label}}</label>
					<select class="form-control" name="widget[{{ v.code }}]" id="{{ v.code }}" >
						{% for ch in v.choices %}
							<option value="{{ ch.value }}" {{ value.dataArr[v.code] is defined and value.dataArr[v.code] is same as ch.value ? "selected"}}>{{ ch.label }}</option>
						{% endfor %}
					</select>
					<small>{{ v.help is defined ? v.help }}</small>
				</div>
			{% elseif v.type is same as "image" %}
				<div class="form-group image-input-wrapper">
					<label for="{{ v.code }}-src">{{v.label}} URL</label>
					<input class="form-control" id="{{ v.code }}-src" data-part="src" type="text" value="" >
					<label for="{{ v.code }}-alt">{{v.label}} Alt text</label>
					<input class="form-control" id="{{ v.code }}-alt" data-part="alt" type="text"  value="" >
					<input name="widget[{{ v.code }}]" id="{{ v.code }}" type="hidden"  value="{{ value.dataArr[v.code] is defined ? value.dataArr[v.code] : "" }}" >
					<small>{{ v.help is defined ? v.help }}</small>
				</div>
			{% elseif v.type is same as "textarea" or v.type is same as "richtext" %}
				<div class="form-group">
					<label for="{{ v.code }}">{{v.label}}</label>
					<textarea class="form-control" name="widget[{{ v.code }}]" id="{{ v.code }}" minlength="{{ v.min is defined ? v.min }}" maxlength="{{ v.max is defined ? v.max }}" rows="{{ v.rows is defined ? v.rows }}" >{{ value.dataArr[v.code] is defined ? value.dataArr[v.code] : "" }}</textarea>
					<small>{{ v.help is defined ? v.help }}</small>
				</div>
			{% else %}
				<p>nothing to show</p>
			{% endif %}
		{% else %}
			<p>nothing to edit</p>
		{% endfor %}
		<input class="btn btn-primary" name="widget_submited" type="submit" value="{{ 'score.cms.widget.edit.save' | trans }}" />
	</form>

{% endblock %}

