{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content_header_title %}
    <h1>{{ 'score.cms.widget.list.topTitle'|trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.cms.widget.breadcrumb' | trans }}</li>
{% endblock %}

{% block body %}

    {{ m.alerts() }}


    <div class="row">
        <div class="col-sm-10">

            <div class="box box-solid">
                <div class="box-body">
                    <table id="widget-value-datatable" class="table table-striped display compact">
                        <thead>
                            <tr>
                                <th>
                                    {{ 'score.cms.widget.list.name'|trans  }}
                                </th>
                                <th>{{ 'score.cms.widget.list.code'|trans  }}</th>
			                    <th>
                                    {% if is_granted('ROLE_ADMIN') %}{{ 'score.cms.widget.list.action'|trans  }}{% endif %}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for value in values %}
                            <tr>
                                <td>
                                    <a class="" href="{{ path('score-cms-widget-update-data',{id:value.id, widgetId: widgetId}) }}">{{ value.name }}</a>
                                </td>
                                <td>
                                    {{ value.code }}
                                </td>
                                <td>
                                    <a class="" href="{{ path('score-cms-widget-value-edit',{id:value.id, widgetId: widgetId}) }}">{{ 'score.cms.widget.list.edit'|trans }}</a>
			                        {% if is_granted('ROLE_ADMIN') %}
                                        <br><a class="delete-widget-value" href="{{ path('score-cms-widget-value-delete',{id:value.id, widgetId: widgetId}) }}">{{ 'score.cms.widget.list.delete'|trans }}</a>
			                        {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                      
                    </table>
                </div>
                <div class="box-footer clearfix">

                </div>
            </div>
        </div>
        <div class="col-sm-2">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="box box-primary">
                    <div class="box-body">
                        <a class="btn btn-primary" href="{{ path('score-cms-widget-value-new',{widgetId: widgetId}) }}">{{ 'score.cms.widget.value.new'|trans }}</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


    {{ include('@ScoreCms/Default/_delete_modal.html.twig') }}

{% endblock %}


    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>
        <script type="text/javascript">

            $('#widget-value-datatable').DataTable({
             "pageLength": 50,
              'language': {
                    url: '/bundles/scorecms/plugins/datatables/sk.js'
                }
        });

        </script>

        <script>

            $('body').on('click', '.delete-widget-value', function (e) {
                e.preventDefault();
                $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
                $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.widget.value.delete" |trans }}");
                $('#confirm-delete-cms-item-modal').modal('show');
            });
        </script>
    {% endblock %}


