<div class="row access">
    <div class="col-sm-12">
        <h2>
            {{ 'score.page.edit.access.title'|trans }}
        </h2>

        <style>
            .access table {
                width: 100%;
            }

            .access table th,
            .access table td {
                padding: 1em;
            }

            .access table label {
                font-weight: 400;
            }
        </style>
        <table>
            <thead>
            <tr>
                <th>{{ 'score.page.edit.access.name'|trans }}</th>
                <th>{{ 'score.page.edit.access.has_access'|trans }}</th>
                <th>{{ 'score.page.edit.access.full_access'|trans }}</th>
                {% if entityName is defined and entityName is same as "page" %}
                    <th>{{ 'score.page.edit.access.is_heritable'|trans }}</th>
                    <th>{{ 'score.page.edit.access.can_create'|trans }}</th>
                {% endif %}
                <th>{{ 'score.page.edit.access.can_delete'|trans }}</th>
                <th>{{ 'score.page.edit.access.action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% set access = entity.accesses | filter((a) => a in user.accesses) | first %}
                <tr>
                    <td>
                        <b>{{ user.username }}</b>
                        <input name="user_id[{{ user.id }}]" type="hidden" value="{{ user.id }}">
                    </td>
                    <td><input name="has_access[{{ user.id }}]" id="has_access[{{ user.id }}]"
                               type="checkbox" {{ access ? "checked" }}>
                        <label for="has_access[{{ user.id }}]">{{ 'score.page.edit.access.has_access'|trans }}</label>
                    </td>
                    <td>
                        <input name="full_access[{{ user.id }}]" id="full_access[{{ user.id }}]"
                               type="checkbox" {{ access and access.getParamByKey("full_access") ? "checked" }}>
                        <label for="full_access[{{ user.id }}]">{{ 'score.page.edit.access.full_access'|trans }}</label>
                    </td>
                    {% if entityName is defined and entityName is same as "page" %}
                        <td>
                            <input name="is_heritable[{{ user.id }}]" id="is_heritable[{{ user.id }}]"
                                   type="checkbox" {{ access and access.isHeritable ? "checked" }}>
                            <label for="is_heritable[{{ user.id }}]">{{ 'score.page.edit.access.is_heritable'|trans }}</label>
                        </td>
                        <td>
                            <input name="can_create[{{ user.id }}]" id="can_create[{{ user.id }}]"
                                   type="checkbox" {{ access and access.getParamByKey("can_create") ? "checked" }}>
                            <label for="can_create[{{ user.id }}]">{{ 'score.page.edit.access.can_create'|trans }}</label>
                        </td>
                    {% endif %}
                    <td>
                        <input name="can_delete[{{ user.id }}]" id="can_delete[{{ user.id }}]"
                               type="checkbox" {{ access and access.getParamByKey("can_delete") ? "checked" }}>
                        <label for="can_delete[{{ user.id }}]">{{ 'score.page.edit.access.can_delete'|trans }}</label>
                    </td>
                    <td>
                        <a class="btn btn-success access-change"
                           href="#">{{ 'score.page.edit.access.save'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

