<li id="item_{{ blockJoint.id }}" class="dd-item" data-block-id="{{ blockJoint.block.id }}">
    <div class="dd-item-wrap">
        {% if blockJoint.block.type is not same as "pageContent" %}
            <a href="#" class="remove-block-trigger btn btn-sm btn-danger pull-right">
                {#                {{ 'score.page.edit.block.delete' | trans }} #}
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
            {% if blockJoint.block.type is not same as "controllerContent" %}
                <a href="{{ path('score-block-to-edit', { 'id': blockJoint.block.id,'ref': "page_" ~ page.id }) }}"
                   class=" btn btn-sm btn-info pull-right">
{#                    {{ 'score.page.edit.block.edit' | trans }}#}
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
{#                <a href="{{ path('score_cms_page_inherit_block', { 'id': page.id, 'jointId': blockJoint.id }) }}"#}
{#                   class=" btn btn-sm btn-info pull-right">#}
{#                    {{ 'score.page.edit.block.inherit' | trans }}#}
{#                    <i class="fa fa-reply-all" aria-hidden="true"></i>#}
{#                </a>#}
            {% endif %}
        {% endif %}
        <span class="dd-handle">
            {{ blockJoint.block.name }}
        </span>
        <div class="menu-item-edit-block" id="menu-item-edit-block-{{ blockJoint.id }}">
            <input type="hidden" name="page_blocks[{{ place }}][]" value="{{ blockJoint.block.id }}"/>
            <input type="hidden" name="page_joints[{{ place }}][]" value="{{ blockJoint.id }}"/>
            <div class="box-body clear">
            </div>
        </div>
    </div>
</li>
