<div class="col-12 edit-text-wrapper" style="border: 1px solid blue;padding:1em;">
	<div class="">

{#		<a href="{{ path('score-block-to-edit', { 'id': blockJoint.block.id }) }}" class=" btn btn-sm btn-info pull-right">#}
{#			{{ 'score.page.edit.block.edit' | trans }}#}
{#		</a>#}

		{% if blockJoint.block.type is same as "html" %}


			<div>
				{{ blockJoint.block.content | cms_document_links | raw }}
			</div>

		{% else %}

			<div>
				{{ blockJoint.block.name }}
                <p>
                    {{ blockJoint.block.type }}
                </p>
			</div>

		{% endif %}


	</div>
</div>
