{% import "@ScoreCms/Page/Admin/_macro_tree.html.twig" as macroTree %}


{{ form_start(form) }}
<div class="row">
    {% if page.id > 0 %}
        <div class="col-sm-3">
            <h3>{{ 'score.page.edit.structure'|trans }}</h3>
            {{ macroTree.tree(tree, page.id) }}
        </div>
    {% endif %}
    <div class="col-sm-9">

        {{ form_errors(form) }}

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.name) }}
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_label(form.seo_id) }}
                    {{ form_errors(form.seo_id) }}
                    <div style="display: flex; align-items: center">
                        <span class="cms-domain">
                            {# {{ app.request.host() ~ "/" }} #}
                            {{ app.request.schemeAndHttpHost ~ "/" }}
                        </span>
                        {{ form_widget(form.seo_id,{'attr':{'style':'margin-left:2px;padding-left:2px;'}} ) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                {{ form_row(form.title) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.menuName) }}
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4">
                <!-- PAGE VISIBILITY -->
                {{ form_row(form.status) }}
            </div>
            <div class="col-sm-4">

                <!-- PAGE LAYOUT -->
                {{ form_row(form.layout) }}

            </div>
            <div class="col-sm-4">
                <!-- PARENT PAGE -->
                {% if canEditParent is defined and canEditParent %}
                    <div class="form-group">
                        <label class="control-label" for="parent_page">{{ 'score.page.edit.parentPage'|trans }}</label>
                        <select name="parent_page" id="parent_page" class="form-control">
                            <option value="">{{ 'score.page.edit.emptyParent'|trans }}</option>
                            {% for parentPage in parentPages %}
                                <option {% if page.parentPage and parentPage.id is same as page.parentPage.id %} selected="selected" {% endif %}
                                        {% if page.id is same as parentPage.id %} disabled {% endif %}
                                        value="{{ parentPage.id }}">{{ parentPage.lvlPrefix }} {{ parentPage.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row" {{ cms_page_form_show_all is defined and cms_page_form_show_all ? "" : "style=\"display: none;\"" }}>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.redirectToPage) }}
                    </div>
                    <div class="col-sm-12">
                        {{ form_row(form.teaser) }}
                    </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="icon-wrap">
                    {{ form_row(form.icon) }}
                    <div class="thumbnail" {{ not page.icon ? "style=\"display: none\"" }}><img
                                src="{{ page.iconThumb(640,480) }}"/></div>
                    <div class="reset-img">
                        <button type="button" class="btn btn-sm btn-danger">
                            Vymazať {{ "score.page.edit.icon" | trans }}</button>
                        {{ form_row(form.removeIcon) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-right">
                {% if page.id > 0 %}
                    <a style="margin-top:25px;" class="btn btn-info"
                       href="{{ path('default_subpage',{'seoid' : page.seoId}) }}"><i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <a style="margin-top:25px;" class="btn btn-info open-window-trigger"
                       href="{{ path('subpage_preview',{'id' : page.id}) }}">{{ 'score.page.edit.preview'|trans }}</a>
                {% endif %}
                {% if showAddSubpageBtn is defined and  showAddSubpageBtn %}
                    <a style="margin-top:25px;" class="btn btn-success"
                       href="{{ path('score_cms_page_sub',{'parentId' : page.id}) }}">{{ 'score.page.createSubPage'|trans }}</a>
                {% endif %}
                {% if showDeleteBtn is defined and showDeleteBtn %}
                    {% if not page.isDeleted %}
                        <a style="margin-top:25px;" class="btn btn-danger to-trash-page"
                           href="{{ path('score_cms_page_to_trash',{'id' : page.id}) }}">{{ 'score.page.toTrash'|trans }}</a>
                    {% else %}
                        <a style="margin-top:25px;" class="btn btn-warning"
                           href="{{ path('score_cms_page_from_trash',{'id' : page.id}) }}">{{ 'score.page.fromTrash'|trans }}</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>


        {{ form_row(form.content,{'id':'test'}) }}

        <div class="metatags-wrapper">
            <h3>{{ 'score.cms.metatag.title' | trans }}</h3>
            {{ form_row(form.metatags) }}
            <button type="button"
                    class="add-metatag-item btn btn-success">{{ 'score.cms.metatag.addMetatag' | trans }}</button>
        </div>

    </div>

    <div class="col-sm-12">

        {% if form.multisite.vars.choices| length  > 0 %}
            {{ form_row(form.multisite) }}
        {% else %}
            <div class="d-none" style="display:none;">
                {{ form_row(form.multisite) }}
            </div>
        {% endif %}


        {#        <h3>{{ 'score.page.edit.subpages'|trans }}</h3> #}
        {#        {% if subpages | length %} #}

        {#            <ul> #}
        {#                {% for subpage in subpages %} #}
        {#                    <li> #}
        {#                        <a href="{{ path('score_cms_page_edit', {'id': subpage.id}) }}">{{ subpage.name }}</a> #}
        {#                    </li> #}
        {#                {% endfor %} #}
        {#            </ul> #}
        {#        {% else %} #}
        {#            <h5>{{ 'score.page.edit.noSubpages'|trans }}</h5> #}
        {#        {% endif %} #}


        {#        {{ _self.tree(tree) }} #}





        {# {% if logs is defined and logs | length %}
			<h3>{{ 'score.block.edit.log.title'|trans }}</h3>
			<ul class="log-list">
				{% for log in logs %}
					<li>
						<a href="#" title="[Zmena-{{ log.id }}]" data-content="{{ log.oldValue }}">{{ log.createdAt | date("d. m. Y - H:i") }}</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<h5>{{ 'score.block.edit.log.noLog'|trans }}</h5>
		{%  endif %} #}

        {% block custom_form %}

        {% endblock %}
    </div>


</div>

<button type="submit" class="btn btn-success btn-lg">{{ 'score.page.edit.save'|trans }}</button>
<a class="btn btn-danger btn-sm" href="">{{ 'score.page.edit.cancel'|trans }}</a>

{{ form_end(form) }}


