{% import "@ScoreBase/Default/macros.html.twig" as m %}
 
 {% block stylesheets %}
     {{ m.cmsEditorCss() }}
     <link href="{{ asset('bundles/scorecms/plugins/select2/select2.min.css') }}" rel="stylesheet"/>
 {% endblock %}



 {% block javascripts %}
     {{ m.cmsEditorJs('test') }}
     {{ m.cmsEditorJs('page_form_teaser', "cke5_simple") }}
     <script src="{{ asset('bundles/scorecms/plugins/slugify/slugify.js') }}"></script>
     <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
     <script src="{{ asset('bundles/scorecms/plugins/select2/select2.min.js') }}"></script>
     <script type="text/javascript">

         // ak nieje ziadne seoId - nova stranka, tak pri pisani nazvu stranky sa automaticky generuje seoId, title a nazov v menu
         var generateSlug = false;
         if ($('#page_form_seo_id').val() == '') {
             generateSlug = true;
         }
         $('#page_form_name').on('input', function () {
             if (generateSlug) {
                 let val = $('#page_form_name').val();
                 let slug = url_slug(val);
                 $('#page_form_title').val(val);
                 $('#page_form_menuName').val(val);
                 $('#page_form_seo_id').val(slug);
             }
         });

         // ak je title alebo nazov v menu prazdne kliknutim na label sa tam da hodnota z nazvu stranky
         $('label[for="page_form_menuName"], label[for="page_form_title"]').click(function () {
             if ($('#' + $(this).attr("for")).val() === "") {
                 $('#' + $(this).attr("for")).val($('#page_form_name').val());
             }
         });

         $('#parent_page').select2();
         $('#page_form_redirectToPage').select2();

     </script>
     {{ include('@ScoreCms/Default/_js_keyboard_submit_form.html.twig', { "formSelector": "#tab_1 > form, #tab_2 > form" }) }}

     <script>
         // naplnenenie stranok do selectu pre parent a redirect
         let pageIdInt = parseInt("{{ page.id ?: 0 }}" || 0);
         let pagesRequested = false;
         const loadPagesToSelect = () => {
             if (!pagesRequested) { //fetch only once
                 pagesRequested = true;
                 $.ajax("{{ path("admin-score-api-page-availables") }}")
                     .done(r => {
                         if (r.status === "ok") {
                             let selectEl = $("select#page_form_redirectToPage, select#parent_page")
                             r.data?.forEach(v => selectEl.append($('<option/>', {value: v.value, disabled: v.value === pageIdInt}).text(v.name)))
                         }
                     })
             }
         }
         setTimeout(loadPagesToSelect, 100);
     </script>
 {% endblock %}

 
 