{% macro mycount(item) %}
    {#    {% if item and item.countTotal %}{{ "["~item.count~"]["~item.countTotal~"]" }}{% endif %} #}
    {% if item and item.count %}{{ "["~item.count~"]" }}{% endif %}
{% endmacro %}

{% macro tree(items, pageId = 0) %}
    {% if items %}
        <ul>
            {% for i in items %}
                <li>

                    {% if i.status is same as "hidden" %}
                        <i class="fa fa-times" aria-hidden="true"></i>
                    {% endif %}

                    {% if  i.id == pageId %}
                        <strong class="text-success">{{ i.name }}</strong>

                    {% elseif i.isdeleted and i.canaccess %}
                        <a href="{{ path('score_cms_page_edit', {'id': i.id}) }}">
                            <del>{{ i.name }}</del>
                        </a>
                    {% elseif i.isdeleted %}
                        <del>{{ i.name }}</del>
                    {% elseif i.canaccess %}
                        <a href="{{ path('score_cms_page_edit', {'id': i.id}) }}">{{ i.name }}</a>
                    {% else %}
                        <em>{{ i.name }}</em>
                    {% endif %}
                    {% if i.redirect %}
                        <i class="fa fa-arrows-h" aria-hidden="true"></i>
                    {% endif %}
                    {{ _self.mycount(i) }}
                    {{ _self.tree(i.children, pageId) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}


