<div class="row" id="texts_wrapper">
    <div class="col-sm-12">
        <h2>
            {{ 'score.page.edit.subpages'|trans }}
        </h2>
        <div class="row" style="margin: 0">
            <div class="col">
                <form action="{{ path('score_cms_page_subpages_reorder', {id: page.id}) }}" method="post">
                    <div class="dd">
                        <ol class="dd-list">
                            {% for subpage in page.children %}
                                <li class="dd-item">
                                    <span class="dd-handle">
                                    {% if subpage.isDeleted %}
                                        <del>{{ subpage.name }}</del>
                                    {% else %}
                                        {{ subpage.name }}
                                    {% endif %}
{#                                        {{ subpage.children.count ? ("["~subpage.children.count~"]") }}#}
                                    </span>
                                    <input type="hidden" name="page_subpages[]" value="{{ subpage.id }}">
                                </li>
                            {% else %}
                                <li>
                                    {{ 'score.page.edit.noSubpages'|trans }}
                                </li>
                            {% endfor %}
                        </ol>
                    </div>

                    <button type="submit" class="btn btn-primary">{{ 'score.page.edit.save'|trans }}</button>

                </form>
            </div>
        </div>
    </div>
</div>




