
    <div class="row" id="texts_wrapper">
        <div class="col-sm-12">
            <h2>
                {{ 'score.page.edit.text'|trans }}
            </h2>
            <div class="row {{ page.layout }}">
            
                <!-- left bar -->
                {% if page.hasLeftBar %}
                    <div class="cms-left">
                        <h3>{{ 'score.page.edit.block.leftPlace.title'|trans }}</h3>
                        <div class="row">
                                {% for blockJoint in page.blockJoints %}
                                    {% if blockJoint.place is same as 'left' %}
                                        {{ include('@ScoreCms/Page/Admin/_blockTexts.html.twig',{'blockJoint': blockJoint,'place':'left'}) }}
                                    {% endif %}
                                {% endfor %}
                        </div>
                    </div>
                {% endif %}


                <!--center bar-->
                <div class="cms-center">
                    <h3>{{ 'score.page.edit.block.centerPlace.title'|trans }}</h3>
                    <div class="row">
                            {% for blockJoint in page.blockJoints %}
                                {% if 'center' is same as blockJoint.place %}
                                    {{ include('@ScoreCms/Page/Admin/_blockTexts.html.twig',{'blockJoint': blockJoint,'place':'center'}) }}
                                {% endif %}
                            {% endfor %}
                    </div>
                </div>

                <!-- right bar -->
                {% if page.hasRightBar %}
                    <div class="cms-right">
                        <h3>{{ 'score.page.edit.block.rightPlace.title'|trans }}</h3>
                        <div class="row">
                                {% for blockJoint in page.blockJoints %}
                                    {% if 'right' is same as blockJoint.place %}
                                        {{ include('@ScoreCms/Page/Admin/_blockTexts.html.twig',{'blockJoint': blockJoint,'place':'right'}) }}
                                    {% endif %}
                                {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>




