{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% block content_header_title %}
    <h1>{{'score.page.create.title'|trans}} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
     <li class="active">{{ 'score.page.create.breadcrumb' | trans }}</li>
{% endblock %}


{% block body%}
    {% for flash_message in app.session.flashBag.get('score_cms_page_edit_success') %}
    <div class="alert alert-success">
        {{ flash_message|trans }}
    </div>
{% endfor %}



  <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" role="tablist">
            <li {% if activeSection == 'page' %}class="active"{% endif %}><a href="#tab_1" data-toggle="tab" >{{'score.page.create.content'|trans}}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane{% if activeSection == 'page' %} active{% endif %}" id="tab_1">
              {{ include('@ScoreCms/Page/Admin/_contentForm.html.twig', { 'form': form, 'parentPages':parentPages}) }}
            </div><!-- /.tab-pane -->

        </div><!-- /.tab-content -->
    </div>


{% endblock %}




{% block javascripts %}
    {{ parent() }}
    {{ include('@ScoreCms/Page/Admin/_js.html.twig', { 'page':page}) }}
    <script src="{{ asset('bundles/scorecms/js/admin.js') }}?v={{ cms_get_version() }}{{ app.environment == 'dev' ? ("_" ~ ("now"|date("Ymd-His"))) }}"></script>
{% endblock %}




