{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/sortable/nestable.css') }}" rel="stylesheet"/>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/scorecms/plugins/sortable/jquery.nestable.js') }}"></script>
    {# <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script> #}
    <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>


    {{ include('@ScoreCms/Page/Admin/_js.html.twig') }}

    <script src="{{ asset('bundles/scorecms/js/admin.js') }}?v={{ cms_get_version() }}{{ app.environment == 'dev' ? ("_" ~ ("now"|date("Ymd-His"))) }}"></script>
    <script type="text/javascript">
        $(".dd").nestable({maxDepth: 1});

        //   SHOW OVERLAY
        $('.add-block a').on('click', function (e) {
            e.preventDefault();
            $('.overlay-modal').show(300).find('table').data('target', this.dataset.target)
        })

        const hideModal = () => {
            $('.overlay-modal').hide(150)
        }

        //  ADD BLOK FROM MODAL
        $('.overlay-modal table').on('click', 'a', function (e) {
            e.preventDefault();

            let placeChoice = $(this).parents('table').data('target')
            let list = $('ol#block-' + placeChoice);
            let currenItemsCount = parseInt(list.attr('data-count'));
            let newItemsCount = currenItemsCount + 1;

            let newItem = $('<li/>', {'class': 'dd-item', 'data-id': newItemsCount});
            let newItemWrap = $('<div/>', {'class': 'dd-item-wrap'});

            let newItemEdit = $('<div/>', {'class': 'menu-item-edit-block'})
                .append($('<input/>', {
                    'type': 'hidden',
                    'name': 'page_blocks[' + placeChoice + '][]',
                    'value': this.dataset.id
                }))
                .append($('<input/>', {
                    'type': 'hidden',
                    'name': 'page_joints[' + placeChoice + '][]',
                    'value': null
                }))
                .append($('<div/>', {'class': 'box-body clear'}));

            newItemWrap
                .append($('<a/>', {
                    'class': 'remove-block-trigger btn btn-sm btn-danger pull-right',
                    'href': '#',
                    'text': '{{ 'score.page.edit.block.delete'|trans }}'
                }))
                .append($('<span/>', {'class': 'dd-handle', 'text': this.dataset.name}))
                .append(newItemEdit);

            newItem.append(newItemWrap);
            list.attr('data-count', newItemsCount).append(newItem);

            hideModal();
        });

        //  ZAVRIET OVERLAY MODAL s vyberom blokov (klik na krizik)
        $('.close-overlay').on('click', function (e) {
            e.preventDefault();
            hideModal();
        })

        //  ZAVRIET OVERLAY MODAL s vyberom blokov (klaves ESC)
        $(document).keyup(function (e) {
            e.stopPropagation();
            if (e.key === "Escape") {
                hideModal();
            }
        });

        //   ODSTRANENIE BLOKU
        $('body').on('click', '.remove-block-trigger', function (e) {
            e.preventDefault();
            $(this).parents('li.dd-item').remove();
        });

        //    DATATABLES vo vybere blokov modal
        $('#page-blocks-datatable').DataTable({
            pageLength: 50,
            language: {
                url: "{{ asset('bundles/scorecms/plugins/datatables/sk.js') }}"
            },
            ajax: "{{ path("admin-score-api-block-availables") }}",
            columns: [
                { data: 'name' },
                { data: 'type' },
                { data: 'action' },
            ],
        });

        // // LOGS - VRATENIE DO STAVU SPRED...
        // $('.log-list a').on('click', function (e) {
        //     e.preventDefault();
        //     $('.log-list a').css({color: ''})
        //     $(this).css({color: '#d77'})
        //     CKEDITOR.instances['test'].setData(this.dataset.content);
        // })


    </script>

    <script type="text/javascript">
        // widgety a texty nahradit linkami na editaciu
        jQuery(function ($) {
            $(document).ready(function () {

                let urlText = "{{ path('score_cms_option_code', {code: "__CODE__"}) }}";
                let urlWidget = "{{ path('score-cms-widget-code', {widget_code: "__W_CODE__", widget_data_code: "__D_CODE__"}) }}";
                let hash = 'jF1fuU7BJixcnZ2aLTm4AIJevpRPRE0LAEDbzO4regr79GG5iYBC1JhT8JP5XTFTxj0xcww55B0GIbQWWAyxO6TuUXY6iuQN4NWu'; // moznost 1
                let links = []; // moznost 1

                let createLink = c => {
                    let code = c.split(',').map(v => v.trim())
                    if (code.length === 1) {
                        return `<a href="${urlText.replace("__CODE__", code[0])}" class=" btn btn-sm btn-info">TEXT: ${code[0]}</a>`
                    }
                    return `<a href="${urlWidget.replace("__W_CODE__", code[0]).replace("__D_CODE__", code[1])}" class=" btn btn-sm btn-info">WIDGET: ${code[0]} HODNOTA: ${code[1]}</a>`
                }

                let addHyperlinks = t => {
                    let match = t.match(/CMS_TEXT\(|CMS_WIDGET\(/g) || []
                    if (match?.length) {
                        let result = [];
                        match.forEach((m, k) => {
                            let x = t.split(m);
                            result.push(x.shift());
                            let codes = x[0].split(')');
                            // result.push(createLink(codes.shift())); // moznost 2
                            links.push(createLink(codes.shift())); // moznost 1
                            result.push(hash); // moznost 1
                            x[0] = codes.join(')');
                            t = x.join(m);
                        });
                        result.push(t);
                        return result.join("");
                    }
                    return (t);
                }

                // moznost 1 textove elementy precita a nahradi kody na texty a widgety za hash vyhoda je ze nerozbije tagy (ak je cms_text ako trieda alebo v style nejakeho elementu)
                $.fn.allText = function () {
                    this.each(function () {
                        $(this).contents().each(function () {
                            if (this.nodeType == Node.TEXT_NODE) {
                                this.textContent = addHyperlinks(this.textContent);
                            } else if (this.nodeType == Node.ELEMENT_NODE) {
                                $(this).allText();
                            }
                        });
                    });
                    return;
                };
                $('#texts_wrapper').allText();
                let htmlParts = $('#texts_wrapper').html()
                    .split(hash)
                    .map(v => v + (links?.shift() || ""));
                $('#texts_wrapper').html(htmlParts.join(""));

                // // moznost 2 vymeni vsetky vyskyty textov aj widgetov za hyperlink, aj tie ktore su v atributoch elementov co trochu rozbije html strukturu
                // let html = $('#texts_wrapper').html();
                // $('#texts_wrapper').html(addHyperlinks(html));


            });
        });

    </script>

    <script>
        // ACCESS
        let url = "{{ path('score_cms_page_edit_access') }}";
        let pageId = {{ page.id }};

        $('.access-change').click(function (e) {
            let newUrl = url + "?page_id=" + pageId;
            newUrl += "&user_id=" + $(this).closest('tr').find('input[name^="user_id"]').val();
            let a = ["has_access", "is_heritable", "full_access", "can_create", "can_delete"];
            a.forEach(v => {
                let checked = $(this).closest('tr').find('input[name^="' + v + '"]').prop("checked") ? 1 : 0;
                newUrl += "&" + v + "=" + checked;
            })
            this.href = newUrl;
        })
    </script>


    <script>
        $('body').on('click', '.to-trash-page', function (e) {
            e.preventDefault();
            $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
            $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.page.toTrash" |trans }}");
            $('#confirm-delete-cms-item-modal').modal('show');
        });
    </script>

{% endblock %}


{% block content_header_title %}
    <h1>{{ 'score.page.edit.topTitle'|trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.page.edit.breadcrumb' | trans }}</li>
{% endblock %}


{% block body %}
    {{ m.alerts() }}

    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" role="tablist">
            <li class="{{ activeSection == 'page' ? ' active' }}">
                <a href="#tab_1" data-toggle="tab">{{ 'score.page.edit.contentTitle'|trans }}</a>
            </li>
            <li class="{{ activeSection == 'block' ? ' active' }}">
                <a href="#tab_2" data-toggle="tab">{{ 'score.page.edit.blocksTitle'|trans }}</a>
            </li>
            <li class="{{ activeSection == 'text' ? ' active' }}">
                <a href="#tab_3" data-toggle="tab">{{ 'score.page.edit.text'|trans }}</a>
            </li>
            <li class="{{ activeSection == 'sub' ? ' active' }}">
                <a href="#tab_5" data-toggle="tab">{{ 'score.page.edit.subpages'|trans }}</a>
            </li>
            {% if showAccessTab is defined and showAccessTab %}
                <li class="{{ activeSection == 'access' ? ' active' }}">
                    <a href="#tab_4" data-toggle="tab">{{ 'score.page.edit.access.title'|trans }}</a>
                </li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane{{ activeSection == 'page' ? ' active' }}" id="tab_1">
                {{ include('@ScoreCms/Page/Admin/_contentForm.html.twig', { 'form': form, 'parentPages':parentPages}) }}
            </div><!-- /.tab-pane -->
            <div class="tab-pane{{ activeSection == 'block' ? ' active' }}" id="tab_2">
                {{ include('@ScoreCms/Page/Admin/_blocks.html.twig', { 'availableBlocks': availableBlocks, 'page':page}) }}
            </div><!-- /.tab-pane -->
            <div class="tab-pane{{ activeSection == 'text' ? ' active' }}" id="tab_3">
                {{ include('@ScoreCms/Page/Admin/_texts.html.twig', {'page':page}) }}
            </div><!-- /.tab-pane -->
            <div class="tab-pane{{ activeSection == 'sub' ? ' active' }}" id="tab_5">
                {{ include('@ScoreCms/Page/Admin/_subpages.html.twig', {'page':page}) }}
            </div><!-- /.tab-pane -->
            {% if showAccessTab is defined and showAccessTab %}
                <div class="tab-pane{{ activeSection == 'access' ? ' active' }}" id="tab_4">
                    {{ include('@ScoreCms/Page/Admin/_access.html.twig', {'entityName': "page", 'entity':page, 'users':users}) }}
                </div><!-- /.tab-pane -->
            {% endif %}
        </div><!-- /.tab-content -->
    </div>

    {{ include('@ScoreCms/Default/_delete_modal.html.twig') }}

{% endblock %}










