{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}
{% import "@ScoreCms/Page/Admin/_macro_tree.html.twig" as macroTree %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content_header_title %}
    <h1>{{ 'score.page.list.topTitle'|trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.page.list.breadcrumb' | trans }}</li>
{% endblock %}

{% block body %}

    {{ m.alerts() }}

    <div class="row">
        <div class="col-sm-3">

            <div>
                {% if tree %}
                    <h3>{{ 'score.page.edit.structure'|trans }}</h3>

                    {{ macroTree.tree(tree) }}
                {% endif %}
            </div>
            <div class="box box-primary">
                {% if showAddPageBtn %}
                    <div class="box-body">
                        <a href="{{ path('score_cms_page_create') }}"
                           class="btn btn-primary">{{ 'score.page.list.create'|trans }} </a>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="box-body">
                        <a class="btn btn-primary"
                           href="{{ path('score_cms_metatag_patterns') }}">{{ 'score.page.list.metatagPatterns'|trans }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-9">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="pages-datatable" class="table table-striped display compact" style="width:100%">
                        <thead>
                        <tr>
{#                            <th>{{ 'score.page.list.id'|trans }}</th>#}
                            <th>{{ 'score.page.list.name'|trans }}</th>
                            <th>{{ 'score.page.list.url'|trans }}</th>
                            {% if canDelete %}
                                <th style="min-width: 8em;">{{ 'score.page.list.action'|trans }}</th>
                            {% else %}
                                <th></th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for page in list %}
                            <tr>
{#                                <td>{{ page.id }}</td>#}
                                <td>
                                    <a class="lvl_{{ page.lvl }}"
                                       href="{{ path('score_cms_page_edit',{id:page.id}) }}">{{ page.lvlPrefix }} {{ page.name }}</a>
                                    {% if page.redirectToPage %}
                                        <br><i class="fa fa-arrows-h" aria-hidden="true"></i>
                                        <a class="lvl_{{ page.redirectToPage.lvl }}"
                                           href="{{ path('score_cms_page_edit',{id:page.redirectToPage.id}) }}">{{ page.redirectToPage.lvlPrefix }} {{ page.redirectToPage.name }}</a>
                                    {% endif %}
                                </td>
                                <td>/{{ page.seoId }}</td>
                                {% if canDelete %}
                                    <td class="{{ page.isDeleted ? "bg-danger" }}">
                                        {% if not page.isDeleted %}
                                            <a class="to-trash-page"
                                               href="{{ path('score_cms_page_to_trash',{id:page.id}) }}">{{ 'score.page.toTrash'|trans }}</a>
                                        {% else %}
                                            <a class="from-trash-page"
                                               href="{{ path('score_cms_page_from_trash',{id:page.id}) }}">{{ 'score.page.fromTrash'|trans }}</a>
                                        {% endif %}
                                        <br>
                                        <a class="delete-page"
                                           href="{{ path('score_cms_page_delete',{id:page.id}) }}">{{ 'score.page.delete.title'|trans }}</a>
                                    </td>
                                {% else %}
                                    <th></th>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">

                </div>
            </div>
        </div>


    </div>


    {{ include('@ScoreCms/Default/_delete_modal.html.twig') }}

{% endblock %}


    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>
        <script src="{{ asset('bundles/scorecms/js/PageManager.js') }}"></script>
        <script type="text/javascript">

            let dataTable = $('#pages-datatable').DataTable({
                ordering: false,
                pageLength: 50,
                language: {
                    url: "{{ asset('bundles/scorecms/plugins/datatables/sk.js') }}"
                },
                ajax: "{{ path("admin-score-api-page-list") }}",
                columns: [
                    {data: 'link'},
                    {data: 'seoId'},
                    {data: 'action'},
                ],
            });

            /*
             var page_manager = new PageManager();
             page_manager.reorder_pages_url_url = '{{ path('score_cms_page_subpages_reorder', {id:0}) }}';
             page_manager.bindTriggers();

             $(".ui-sortable").sortable({
             update: function (event, ui) {
             var sorted = $(this).sortable("serialize");
             page_manager.reorderPages(sorted);
             }
             });
    */

        </script>

        <script>
            $('body').on('click', '.delete-page', function (e) {
                e.preventDefault();
                $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
                $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.page.delete" |trans }}");
                $('#confirm-delete-cms-item-modal').modal('show');
            });
        </script>
        <script>
            $('body').on('click', '.to-trash-page', function (e) {
                e.preventDefault();
                $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
                $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.page.toTrash" |trans }}");
                $('#confirm-delete-cms-item-modal').modal('show');
            });
        </script>
    {% endblock %}


