{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% macro tree(items) %}
    {% if items %}
        <ul>
            {% for i in items %}
                <li>
                    <button class="btn btn-sm btn-primary add-page-menu-item-trigger" {{ i.isDeleted ? "disabled" }}
                            data-id="{{ i.id }}" data-title="{{ i.name }}" data-url="{{ i.seoId }}"
                            style="padding: 0 3px; margin-right: 1em">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                    <a href="{{ path('score_cms_page_edit', {'id': i.id}) }}">      {% if i.isDeleted %}
                            <del>{{ i.name }}</del>
                        {% else %}
                            {{ i.name }}
                        {% endif %}
                    </a>
                    {{ _self.tree(i.children) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/scorecms/plugins/sortable/nestable.css') }}" rel="stylesheet"/>

    <style>
        .dd-list li[data-type="page"] > div > .dd-handle::after {
            position: absolute;
            right: 5px;
            top: 10px;
            content: '\f0c6';
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            margin: 0px 0px 0px 10px;
            text-decoration: none;
            color: #aaa;
        }

        .dd-item > button:before {
            content: '\f103';
            font-family: FontAwesome;
            color: #3c8dbc;
        }

        .dd-item > button[data-action="collapse"]:before {
            content: '\f102 ';
        }
    </style>


{% endblock %}

{% block content_header_title %}
    <h1>{{ 'score.cms.menu.topTitle'|trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.cms.menu.breadcrumb' | trans }}</li>
{% endblock %}


{% block body -%}

    {{ m.alerts() }}

    <div class="row">
        <div class="col-sm-4">
            <form style="font-size:18px; margin:15px 0;" action="{{ path('score_cms_menu') }}">
                <label for="select_menu">{{ 'score.cms.menu.select'|trans }}:</label>
                <select name="menuId" id="select_menu">
                    {% for menu in list %}
                        <option {% if currentMenuId == menu.id %}selected="selected"
                                {% endif %}value="{{ menu.id }}">{{ menu.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit"
                        class="btn btn-sm btn-primary"> {{ 'score.cms.menu.edit'|trans }} </button>
            </form>


            <div class="box box-solid current-menu-wrapper">
                <div class="box-header with-border">
                    <h3 class="box-title"> {{ 'score.cms.menu.items'|trans }}</h3>
                </div>
                {% if items | filter(v=>v.children is defined and v.children) | length %}
                    {#  len ak menu obsahuje nejake podmenu #}
                    <div class="box-header with-border">
                        <button role="button" class="btn btn-sm pull-right menu-expand-all" style="margin-left: 1em">
                            {{ 'score.cms.menu.expand'|trans }}</button>
                        <button role="button" class="btn btn-sm pull-right menu-collapse-all">
                            {{ 'score.cms.menu.collapse'|trans }}</button>
                    </div>
                {% endif %}

                <div class="box-body save-loader-parent">
                    <div class="save-loader" id="menu-save-loader">
                        {{ 'score.cms.menu.saving'|trans }}
                    </div>
                    <div class="dd">
                        <ol class="dd-list" id="menu-root" data-id="{{ currentMenuId }}" data-count="0">
                            {{ include('@ScoreCms/Menu/menu_tree.html.twig',{'items': items}) }}
                        </ol>
                    </div>

                    {% if multisiteEnabled and multisiteChoices %}
                        <div class="row">
                            <div class="col-sm-12">
                                <hr/>
                                Dostupné pre:
                                {% for siteChoice in multisiteChoices %}
                                    <div class="checkbox">
                                        <label for="page_form_multisite_{{ siteChoice.id }}">
                                            <input {% if siteChoice.id in existMenuItems %} checked="checked" {% endif %}
                                                    class="multisiteChoice" type="checkbox"
                                                    id="page_form_multisite_{{ siteChoice.id }}"
                                                    name="page_form[multisite][]"
                                                    value="{{ siteChoice.id }}"> {{ siteChoice.name }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                </div>
                <div class="box-footer">
                    <button type="button" data-url="{{ path('score_cms_menu_save') }}"
                            class="save-menu-trigger btn btn-primary">{{ 'score.cms.menu.save'|trans }}</button>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a type="button" href="{{ path('score_cms_menu_delete',{menuId: currentMenuId}) }}"
                           class="delete-menu-trigger btn btn-sm btn-danger">{{ 'score.cms.menu.deleteMenu'|trans }} {{ menu.name }}</a>
                    {% endif %}
                    {{ include('@ScoreCms/Block/Admin/_referer.html.twig') }}
                </div>
            </div>

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'score.cms.menu.newMenu'|trans }}</h3>
                </div>
                <div class="box-body">
                    <form action="{{ path('score_cms_menu_create') }}" method="post">
                        <label for="new_menu">{{ 'score.cms.menu.name'|trans }}: </label>
                        <input type="text" name="name" id="new_menu"/>
                        <button type="submit"
                                class="btn btn-sm btn-primary"> {{ 'score.cms.menu.create'|trans }} </button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-sm-8">
            <h3> {{ 'score.cms.menu.available'|trans }}</h3>

            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ 'score.cms.menu.direct'|trans }}</h3>
                        </div>


                        <form role="form">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">{{ 'score.cms.menu.name'|trans }}:</label>
                                    <input type="text" class="form-control" id="direct_link_name" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">{{ 'score.cms.menu.url'|trans }}:</label>
                                    <input type="text" class="form-control" id="direct_link_url" placeholder="">
                                </div>

                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit"
                                        class="add-custom-menu-item-trigger btn btn-primary">{{ 'score.cms.menu.add'|trans }}</button>
                            </div>
                        </form>


                    </div>
                    <!-- /.box -->
                </div>

                {% if tree %}
                    <div class="col-sm-6">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3><i class="fa fa-paperclip" aria-hidden="true"></i>
                                    {{ 'score.page.edit.structure'|trans }}</h3>
                            </div>
                            <div class="box-body cms-pages-structure">
                                {{ _self.tree(tree) }}
                            </div>
                        </div>
                    </div>
                {% endif %}


                <div class="col-sm-{{ tree ? 6 : 12 }}">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                <i class="fa fa-paperclip" aria-hidden="true"></i> {{ 'score.cms.menu.pages'|trans }}
                            </h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="pages-datatable" class="table table-striped display compact">
                                <thead>
                                <tr>
                                    <th>{{ 'score.cms.menu.name'|trans }}</th>
                                    <th>{{ 'score.cms.menu.url'|trans }}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for page in pageList %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('score_cms_page_edit',{id:page.id}) }}">{{ page.lvlPrefix }}  {{ page.name }}</a>
                                        </td>
                                        <td>
                                            {{ page.seoId }}
                                        </td>
                                        <td>
                                            <button data-id="{{ page.id }}" data-url="{{ page.seoId }}"
                                                    data-title="{{ page.menuName }}"
                                                    class="add-page-menu-item-trigger btn btn-primary pull-right">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                &nbsp;
                                                {{ 'score.cms.menu.add'|trans }}</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </div>
    </div>


    {{ include('@ScoreCms/Default/_delete_modal.html.twig') }}




{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('bundles/scorecms/plugins/sortable/jquery.nestable.js') }}"></script>
    <script src="{{ asset('bundles/scorecms/js/menu.js') }}?v={{ cms_get_version() }}{{ app.environment == 'dev' ? "now"|date("Ymd-His") }}"></script>
    <script type="text/javascript">
        $('#pages-datatable').DataTable({
            pageLength: 25,
            language: {
                url: "{{ asset('bundles/scorecms/plugins/datatables/sk.js') }}"
            },
            "ordering": false
        });
        $(".dd").nestable({maxDepth: 3});
    </script>

    <script>

        $('body').on('click', '.delete-menu-trigger', function (e) {
            e.preventDefault();
            $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
            $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.menu.delete" |trans ~ " " ~ menu.name }}");
            $('#confirm-delete-cms-item-modal').modal('show');
        });
    </script>

    <script>
        // rozbalovanie menu start
        let storageKey = "menu_collapse_status_{{ menu.id }}";
        let dd = $(".dd");

        const expandMenu = () => {
            localStorage.setItem(storageKey, "expanded");
            dd.nestable('expandAll');
        }

        const collapseMenu = () => {
            localStorage.setItem(storageKey, "collapsed");
            dd.nestable('collapseAll');
        }

        if (localStorage.getItem(storageKey) === "collapsed") {
            collapseMenu();
        }

        $('.menu-collapse-all').click(collapseMenu)
        $('.menu-expand-all').click(expandMenu)
        // rozbalovanie menu end
    </script>

    {{ include('@ScoreCms/Default/_js_keyboard_submit_form.html.twig', {"formSelector": ".current-menu-wrapper"}) }}

{% endblock %}




