{% for item in items %}
    <li id="item_{{ item.id }}" class="dd-item clear" data-id="{{ item.id }}" data-url="{{ item.link }}"
        data-name="{{ item.name }}" data-type="{{ item.linkType }}" data-type-id="{{ item.linkTypeId }}">
        <div class="dd-item-wrap">
            <span class="dd-handle">{{ item.name }}</span>
            <div class="menu-item-edit-block" id="menu-item-edit-block-{{ item.id }}" style="display: none">

                <input type="hidden" name="item_id" value="{{ item.id }}"/>
                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">{{ 'score.cms.menu.name'|trans }}:</label>
                        <input type="text" class="form-control menu-item-edit-name" placeholder=""
                               value="{{ item.name }}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">{{ 'score.cms.menu.url' | trans }}:</label>
                        <input type="text" class="form-control menu-item-edit-url" placeholder=""
                               value="{{ item.link }}">
                    </div>

                </div>
                <!-- /.box-body -->


            </div>
        </div>

        <a data-target="item_{{ item.id }}" href="#"
           class="remove-menu-item btn btn-sm btn-danger pull-right">{{ 'score.cms.menu.delete'|trans }}</a>
        {% if item.linkType is same as "page" %}
            <a target="_blank" href="{{ path("score_cms_page_edit", {id: item.linkTypeId}) }}"
               class="btn btn-sm btn-success pull-right">{{ 'score.cms.menu.editPage'|trans }}</a>
        {% else %}
            <a data-target="menu-item-edit-block-{{ item.id }}" href="#"
               class="edit-menu-item btn btn-sm btn-success pull-right">{{ 'score.cms.menu.edit'|trans }}</a>
        {% endif %}

        {% if item.children and item.children | length %}
            <ol class="dd-list clear">
                {{ include('@ScoreCms/Menu/menu_tree.html.twig',{'items': item.children}) }}
            </ol>
        {% endif %}

    </li>



{% endfor %}
