{% set accordion = cms_block_accordion(accordionId ?? 0) %}
{% if accordion %}
	<div class="govuk-accordion accordion" data-module="idsk-accordion" id="accordion_{{ accordion.id }}" data-attribute="value">
		<div class="controls d-none govuk-accordion__controls">
			<button class="govuk-accordion__open-all" data-open-title="Otvoriť všetky" data-close-title="Zatvoriť všetky" type="button" aria-expanded="false">
				<span class="govuk-visually-hidden govuk-accordion__controls-span" data-section-title="sekcie"></span>
			</button>
		</div>
        <div>
        {% for item in accordion.items %}
            <div class="accordion-item govuk-accordion__section {{ item.isOpened ? "govuk-accordion__section--expanded" : "" }}">
                <div class="govuk-accordion__section-header">
                    <h2 class="accordion-header govuk-accordion__section-heading">
                        <button class="accordion-button {{ item.isOpened ? "" : "collapsed" }} govuk-accordion__section-button" 
                            type="button" data-bs-toggle="collapse" data-bs-target="#accordion_{{ accordion.id ~ "_" ~ item.id }}-content-1" 
                            aria-expanded="{{ item.isOpened ? "true" : "false" }}" aria-controls="accordion_{{ accordion.id ~ "_" ~ item.id }}-content-1">
                            <span class="govuk-accordion__section-button" id="accordion_{{ accordion.id ~ "_" ~ item.id }}-heading-1">
                                {{ item.title }}
                            </span>
                        </button>
                    </h2>
                    <div class="summary {# d-none #} govuk-accordion__section-summary govuk-body" id="accordion_{{ accordion.id ~ "_" ~ item.id }}-summary-1">
                        {{ item.summary }}
                    </div>
                </div>
                <div id="accordion_{{ accordion.id ~ "_" ~ item.id }}-content-1" class="accordion-collapse collapse {{ item.isOpened ? "show" : "" }} govuk-accordion__section-content" aria-labelledby="accordion_{{ accordion.id ~ "_" ~ item.id }}-heading-1"  data-bs-parent="#accordion_{{ accordion.id }}">
                    <div class='accordion-body govuk-body'>
                        {{ item.content | cms_document_links | raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
	</div>
{% endif %}


