<div class="idsk-card idsk-card-secondary">
    <a href="{{ path('score_public_articles_detail',{'slug':article.slug}) }}" title="{{ article.name }}">
        <img class="idsk-card-img idsk-card-img-secondary"
            src="{{ article.iconThumb(640,480) }}"
            alt="{{ article.name }}" aria-hidden="true" width="100%">
    </a>

    <div class="idsk-card-content idsk-card-content-secondary">
        <div class="idsk-card-meta-container">
            <span class="idsk-card-meta idsk-card-meta-date">
                <a href="{{ path('score_public_articles_detail',{'slug':article.slug}) }}" class="govuk-link" title="Pridané dňa:  {{article.publishedFrom|date('d.m.Y') }}">{{article.publishedFrom|date('d.m.Y') }}</a></span>
        </div>

        <div class="idsk-heading idsk-heading-secondary">
            <a href="{{ path('score_public_articles_detail',{'slug':article.slug}) }}" class="idsk-card-title govuk-link" title="{{ article.name }}">{{ article.name }}</a>
        </div>

    </div>
</div>