{% if blockJoint.block.visibility is same as true %}

    {% if 'static' == blockJoint.block.type %}
        <div class="static-block">{{ blockJoint.block.content | cms_document_links | raw }}</div>
    {% elseif 'html' == blockJoint.block.type %}
        <div class="html-block">{{ blockJoint.block.content | cms_widget_all | cms_text_all | cms_document_links | raw }}</div>
    {% elseif 'menu' == blockJoint.block.type %}
        {{ include('@ScoreCms/Public/default/_blockMenu.html.twig', {'menuId':blockJoint.block.paramsArr.menuId ?? 0} ) }}
    {% elseif 'form' == blockJoint.block.type %}
        <div data-cms="react-form" data-form-id="{{ blockJoint.block.paramsArr.formId ?? 0 }}"></div>
    {% elseif 'gallery' == blockJoint.block.type %}
        <div data-cms="react-gallery" data-gallery-id="{{ blockJoint.block.paramsArr.galleryId ?? 0 }}"></div>
    {% elseif 'accordion' == blockJoint.block.type %}
        {{ include('@ScoreCms/Public/default/_accordion.html.twig',{'accordionId': blockJoint.block.paramsArr.accordionId}) }}
    {% elseif 'controllerContent' == blockJoint.block.type %}
        {% if blockJoint.block.paramsArr | length %}
            {{ render(controller(blockJoint.block.module ~ '::' ~ blockJoint.block.action, blockJoint.block.paramsArr)) }}
        {% else %}
            {{ render(controller(blockJoint.block.module ~ '::' ~ blockJoint.block.action)) }}
        {% endif %}
    {% endif %}

{% endif %}
