<div class="idsk-card idsk-card-secondary">
    <a href="{{ path('score_public_events_detail',{'slug':event.slug}) }}" title="{{ event.name }}">
        <img class="idsk-card-img idsk-card-img-secondary"
            src="{{ event.iconThumb(640,480) }}"
            alt="{{ event.name }}" aria-hidden="true" width="100%">
    </a>

    <div class="idsk-card-content idsk-card-content-secondary">
       

        <div class="idsk-heading idsk-heading-secondary">
            <a href="{{ path('score_public_events_detail',{'slug':event.slug}) }}" class="idsk-card-title govuk-link" title="{{ event.name }}">{{ event.name }}</a>
        </div>

        <p class="idsk-body idsk-body-secondary">
            {{ event.teaser| cms_document_links | raw }}
        </p>
    </div>
</div>