<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light rounded" aria-label="Eleventh navbar example">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ path('default_homepage')}}">{{app.request.host()|split('.')|filter(v => v != "www")|first|upper}}</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExample09">
				{{ include('@ScoreCms/Public/default/_mainMenu.html.twig') }}
				{% if search_form is defined and search_form %}
					<form action="/vyhladavanie" method="GET">
						<input class="form-control" value="{{ search_slug ?? "" }}" type="text" name="search" placeholder="{{ "cms.search" | trans}}" aria-label="{{ "cms.search" | trans}}">
					</form>
				{% endif %}
			</div>
		</div>
	</nav>

</div>
