{% if bigArticle %}
    <hr class="idsk-hr-separator govuk-!-margin-bottom-6">
    <h2 class="govuk-heading-l">{{ header is defined and header ? header : "Aktuality" }}</h2>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="idsk-card idsk-card-hero">
                <a href="{{ path('score_public_articles_detail',{'slug':bigArticle.slug}) }}"
                   title="{{ bigArticle.name }}">
                    <img class="idsk-card-img idsk-card-img-hero"
                         src="{{ bigArticle.iconThumb(640,480) }}"
                         alt="{{ bigArticle.name }}" aria-hidden="true"
                         width="100%">
                </a>

                <div class="idsk-card-content idsk-card-content-hero">
                    <div class="idsk-card-meta-container">
                    <span class="idsk-card-meta idsk-card-meta-date">
                        <a href="#" class="govuk-link"
                           title="Pridané dňa: {{ bigArticle.publishedFrom|date('d.m.Y') }}">{{ bigArticle.publishedFrom|date('d.m.Y') }}</a>
                    </span>
                    </div>


                    <div class="idsk-heading idsk-heading-hero">
                        <a href="{{ path('score_public_articles_detail',{'slug':bigArticle.slug}) }}"
                           class="idsk-card-title govuk-link" title="{{ bigArticle.name }}">{{ bigArticle.name }}</a>
                    </div>

                    <p class="idsk-body idsk-body-hero">
                        {{ bigArticle.teaser| cms_document_links | raw }}
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="govuk-grid-row">

        {% for article in articles %}
            <div class="govuk-grid-column-one-third">
                {{ include('@ScoreCms/Public/default/_article_card_small.html.twig',{'article':article}) }}
            </div>
        {% endfor %}
    </div>
{% endif %}