{% extends cms_template() %}

{% block title %}
	{{ 'score.article.public.listTitle'|trans }}	|	{{parent()}}
{%
endblock %}

{% block body %}
	<div class="container py-3">
		{%  for row in articleList %}
			<div class="row govuk-grid-row">
				{% for article in row %}
					<div class="col-md-4 govuk-grid-column-one-third-from-desktop">
						{{ include('@ScoreCms/Public/default/_article_card_small.html.twig',{'article':article}) }}
					</div>
				{% endfor %}
			</div>
		{% endfor %}

		<div class="row">
			<div class="col">
				{{ include('@ScoreBase/Default/pager.html.twig', { 'pager': pager}) }}
			</div>
		</div>
	</div>
{% endblock %}
