{% extends cms_template() %}

{% block title %}
    {{ article.name }}    |    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ article.metatags | filter (mTag => mTag.metatagPattern.type is same as "head") | join("\n") | raw }}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container py-3">

        <div class="row govuk-grid-row">
            <div class="col-md-8 govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl">{{ article.name }}</h1>

                <div class="govuk-body-l">
                    {{ article.teaser| cms_document_links | raw }}
                </div>
                <div class="govuk-body">
                    {{ article.body| cms_document_links | raw }}
                </div>
                {% if article.blockJoints | length %}
                    <div class="govuk-body">
                        {% for blockJoint in article.blockJoints %}
                            {{ include('@ScoreCms/Public/default/_block.html.twig',{'blockJoint': blockJoint}) }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="col-md-4 govuk-grid-column-one-quarter">
                <h2 class="govuk-heading-m">Aktuality</h2>
                {% for article in articles %}
                    <div class=" py-4">
                        {{ include('@ScoreCms/Public/default/_article_card_mini.html.twig',{'article':article}) }}
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}
