{% extends cms_template() %}


{% block title %}
	{{"Dokumenty"}}	|	{{parent()}}
{% endblock %}

{% block javascripts %}

	{{parent()}}

{% endblock %}

{% block body %}
	<div class="container py-3">
		<div class="row">
			<div class="col-sm-12">
				{{ include('@ScoreCms/Public/default/documents_block.html.twig') }}
			</div>
		</div>		
	</div>
{% endblock %}

