{% extends cms_template() %}

{% block title %}
    {{ document.name }}    |    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ document.metatags | filter (mTag => mTag.metatagPattern.type is same as "head") | join("\n") | raw }}
    {{ parent() }}
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        let hash = document.URL.substr(document.URL.indexOf('#') + 1)
        // with jQuery
        let el = $(`[data-domain="${hash}"]`)
        if (el.length) {
            //el.addClass("govuk-accordion__section--expanded")
            el.find("button.accordion-button").removeClass("collapsed").attr("aria-expanded", "true")
            el.find(".accordion-collapse").addClass("show")
        }
    </script>
{% endblock %}

{% block body %}
    <div class="container py-3">
        <div class="row govuk-grid-row">
            <div class="col govuk-grid-column">
                <h1 class="govuk-heading-xl">{{ document.name }}</h1>
                <div class="govuk-body">
                    {{ document.description | cms_document_links | raw }}
                </div>
                {% if document.blockJoints | length %}
                    <div class="govuk-body">
                        {% for blockJoint in document.blockJoints %}
                            {{ include('@ScoreCms/Public/default/_block.html.twig',{'blockJoint': blockJoint}) }}
                        {% endfor %}
                    </div>
                {% endif %}

                {% if document.documentDescriptions %}
                    <div class="govuk-body">
                        <h3>Popisy za oblasti</h3>
                        <div class="govuk-accordion accordion" data-module="idsk-accordion"
                             id="accordion_{{ document.id }}" data-attribute="value">
                            <div class="controls d-none govuk-accordion__controls">
                                <button class="govuk-accordion__open-all" data-open-title="Otvoriť všetky"
                                        data-close-title="Zatvoriť všetky" type="button" aria-expanded="false">
                                    <span class="govuk-visually-hidden govuk-accordion__controls-span"
                                          data-section-title="sekcie"></span>
                                </button>
                            </div>
                            <div>
                                {% for item in document.documentDescriptions %}
                                    <div class="accordion-item govuk-accordion__section"
                                         data-domain="{{ item.documentDomain.seoName }}">
                                        <div class="govuk-accordion__section-header">
                                            <h2 class="accordion-header govuk-accordion__section-heading">
                                                <button class="accordion-button collapsed govuk-accordion__section-button"
                                                        type="button" data-bs-toggle="collapse"
                                                        data-bs-target="#accordion_{{ document.id ~ "_" ~ item.id }}-content-1"
                                                        aria-expanded="false"
                                                        aria-controls="accordion_{{ document.id ~ "_" ~ item.id }}-content-1">
												<span class="govuk-accordion_xxx_section-button"
                                                      id="accordion_{{ document.id ~ "_" ~ item.id }}-heading-1">
													{{ item.documentDomain.name }}
												</span>
                                                </button>
                                            </h2>
                                            {# <div class="summary { # d-none # } govuk-accordion__section-summary govuk-body" id="accordion_{{ document.id ~ "_" ~ item.id }}-summary-1">
											{{ "" }}
										</div> #}
                                        </div>
                                        <div id="accordion_{{ document.id ~ "_" ~ item.id }}-content-1"
                                             class="accordion-collapse collapse govuk-accordion__section-content"
                                             aria-labelledby="accordion_{{ document.id ~ "_" ~ item.id }}-heading-1"
                                             data-bs-parent="#accordion_{{ document.id }}">
                                            <div class='accordion-body govuk-body'>
                                                {{ item.description | cms_document_links | raw }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        {	// IDSK accordion - je treba aktualizovat sessionstorage pred tym ako sa idsk initializuje!
                            let hash = document.URL.substr(document.URL.indexOf('#') + 1)
                            document.querySelectorAll('.govuk-accordion .govuk-accordion__section')?.forEach(function (el) {
                                sessionStorage.setItem(el.querySelector(`.govuk-accordion__section-content`)?.id || "accordion", hash === el.dataset.domain);
                            });
                        }
                    </script>
                {% endif %}

                {% if document.actualFile %}
                    <div class="govuk-body">
                        {% if document.icon %}
                            <img src="{{ document.iconThumb }}" class="img-fluid my-2">
                        {% endif %}
                        <h3>Stiahnuť dokument</h3>
                        <div>
                            <p>
                                {# <img src="/bundles/scorecms/plugins/fileman/images/filetypes/file_extension_{{ document.actualFile.extension }}.png"> #}
                                {# <img src="/bundles/scorecms/plugins/fileman/images/filetypes/file_extension_txt.png"> #}
                                <a href="{{ path('document-download-ext',{seoId:document.seoId, ext:document.extension|replace({'.': ''})}) }}"
                                   data-document-action="download" download="{{ document.seoId ~ document.extension }}"
                                   data-cms="document-link">{{ document.name ~ document.info }}</a>
                            </p>
                        </div>
                    </div>
                {% endif %}
                <div class="govuk-body">
                    <h3>Súvisiace dokumenty</h3>
                    <ul>
                    {% for doc in document.myRelevants %}
                        {% if doc.getHasDetail %}
                            <li><a href="{{ path('document',{seoId:doc.seoId}) }}" data-document-action="show"
                                  data-cms="document-link">{{ doc.name }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('document-download-ext',{seoId:doc.seoId, ext:doc.extension|replace({'.': ''})}) }}"
                                   data-document-action="download" download="{{ doc.seoId ~ doc.extension }}"
                                   data-cms="document-link">{{ doc.name ~ doc.info }}</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li>–</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

