{% if size is defined and size is same as "big" %}
    {% for doc in documents %}
        <div class="row govuk-grid-row">
            <div class="col-md-3 govuk-grid-column-one-quarter-from-desktop">
                <img src="{{ doc.iconThumb(640,480) }}" alt="icon">
            </div>
            <div class="col-md-9 govuk-grid-column-three-quarters-from-desktop">
                <h3><a href="{{ path("document",{seoId: doc.seoId}) }}">{{ doc.name }}</a></h3>
                <p>{{ doc.documentDescriptions | map(v => v.documentDomain.name) | join(", ", " a ") }}</p>
            </div>
            <div class="col-md-12 govuk-grid-column-full">
                {{ doc.description|striptags|raw }}
            </div>
        </div>
    {% else %}
        <div class="row govuk-grid-row">
            <div class="col-md-12 govuk-grid-column-full">
                Žiadne dokumenty.
            </div>
        </div>
    {% endfor %}

{% else %}
    {% for doc in documents %}
        <div class="row govuk-grid-row">
            <div class="col-md-3 govuk-grid-column-one-quarter-from-desktop">
                <img src="{{ doc.iconThumb }}" alt="icon">
            </div>
            <div class="col-md-9 govuk-grid-column-three-quarters-from-desktop">
                <h3><a href="{{ path("document",{seoId: doc.seoId}) }}">{{ doc.name }}</a></h3>
                <p>{{ doc.documentDescriptions | map(v => v.documentDomain.name) | join(", ", " a ") }}</p>
            </div>
        </div>
    {% else %}
        <div class="row govuk-grid-row">
            <div class="col-md-12 govuk-grid-column-full">
                Žiadne dokumenty.
            </div>
        </div>
    {% endfor %}
{% endif %}