<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="idsk-card idsk-card-hero">
            <a href="{{ path('score_public_events_detail',{'slug':bigEvent.slug}) }}" title="{{ bigEvent.name }}">
                <img class="idsk-card-img idsk-card-img-hero"
                    src="{{ bigEvent.iconThumb(640,480) }}"
                    alt="{{ bigEvent.name }}" aria-hidden="true"
                    width="100%">
            </a>

            <div class="idsk-card-content idsk-card-content-hero">
               
                <div class="idsk-heading idsk-heading-hero">
                    <a href="{{ path('score_public_events_detail',{'slug':bigEvent.slug}) }}" class="idsk-card-title govuk-link" title="{{
                        bigEvent.name }}">{{ bigEvent.name }}</a>
                </div>

                <p class="idsk-body idsk-body-hero">
                    {{ bigEvent.teaser| cms_document_links | raw }}
                </p>
            </div>
        </div>
    </div>
</div>


<div class="govuk-grid-row">

    {%  for event in events %}
    <div class="govuk-grid-column-one-third">
        {{ include('@ScoreCms/Public/default/_event_card_small.html.twig',{'event':event}) }}
    </div>
    {% endfor %}
</div>