{% extends cms_template() %}


{% block title %}
	{{ 'score.event.public.listTitle'|trans }}	|	{{parent()}}
{%
endblock %}

{% block body %}
	<div class="container py-3">

		{%  for row in eventList %}
			<div class="row govuk-grid-row">
				{% for event in row %}
					<div class="col-md-4 govuk-grid-column-one-third">
						{{ include('@ScoreCms/Public/default/_event_card_small.html.twig',{'event':event}) }}
					</div>
				{% endfor %}
			</div>
		{% endfor %}


		{{ include('@ScoreBase/Default/pager.html.twig', { 'pager': pager}) }}
	</div>
{% endblock %}
