{% extends cms_template() %}


{% block title %}
	{{event.name}}	|	{{parent()}}
{% endblock %}

{% block stylesheets %}
	{{ event.metatags | filter (mTag => mTag.metatagPattern.type is same as "head") | join("\n") | raw }}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container py-3">
		<div class="row govuk-grid-row">
			<div class="col-md-8 govuk-grid-column-three-quarters">
				<h1 class="govuk-heading-xl">{{ event.name }}</h1>

				<div  class="govuk-body-l">
					{{ event.teaser| cms_document_links | raw }}
				</div>
				<div  class="govuk-body">
					{{ event.content| cms_document_links | raw }}
				</div>
				{% if event.blockJoints | length %}
					<div class="govuk-body">
						{% for blockJoint in event.blockJoints %}
							{{ include('@ScoreCms/Public/default/_block.html.twig',{'blockJoint': blockJoint}) }}
						{% endfor %}
					</div>
				{% endif %}
			</div>

			<div class="col-md-4 govuk-grid-column-one-quarter">
				<h2 class="govuk-heading-m">Daľšie udalosti</h2>
				{%  for event in events %}
					<div class=" py-4">
						{{ include('@ScoreCms/Public/default/_event_card_mini.html.twig',{'event':event}) }}
					</div>
				{% endfor %}
			</div>

		</div>
	</div>
{% endblock %}
