<!doctype html>
<html lang="{{ page is defined and page.seoId in ["about", "contact"] ? "en" : "sk" }}" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    {# <title>{% block title %}{{app.request.host()|upper}}{% endblock %}</title> #}
    <title>{% block title %}{{ app.request.host()|split('.')|filter(v => v != "www")|first|upper }}{% endblock %}</title>


    <!-- Bootstrap core CSS -->
    {% block stylesheets %}
        <link href="{{ asset('bundles/scorecms/bootstrap5/css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/scorecms/css/ckstyle.css') }}" rel="stylesheet"/>

        <style>

            .dropdown-submenu {
                position: relative;
            }

            .dropdown-submenu a::after {
                transform: rotate(-90deg);
                position: absolute;
                right: 6px;
                top: .8em;
            }

            .dropdown-submenu .dropdown-menu {
                top: 0;
                left: 100%;
                margin-left: .1rem;
                margin-right: .1rem;
            }

        </style>

        <style>
            .skip-link {
                position: fixed;
                top: -999px;
                left: -999px;
            }

            .skip-link:active, .skip-link:focus {
                top: 0;
                left: 0;
                font-size: 20px;
                text-transform: uppercase;
                background-color: #fff;
                padding: 5px;
                z-index: 100000000000;
            }
        </style>


    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="d-flex flex-column h-100 cmsseo_{{ page is defined ? page.seoId | replace({'/': "_"}) }}">
<a href="#main-content" class="skip-link">Preskočiť na hlavný obsah</a>

{{ include('@ScoreCms/Public/default/_header.html.twig') }}


<main class="flex-shrink-0 container" id="main-content" >
    {% block body %}
    {% endblock %}
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    Copyright: {{ 'now'|date('Y') }} | e-mail: <a href="mailto:info@sazp.sk">info@sazp.sk</a> | tel.: <a
                            href="tel:+421 123456789">+421 123456789</a>
                </p>
                <p>
                    {# <a class="govuk-link" title="Cookies" href="{{ path('cookies') }}">
                        Cookies
                    </a>
                    &nbsp; | &nbsp; #}
                    <a class="govuk-link" title="Ochrana osobných údajov"
                       href="{{ path('default_subpage',{'seoid':'ochrana-osobnych-udajov'}) }}">
                        Ochrana osobných údajov
                    </a>
                </p>
            </div>
            <div class="col">
                <p>
                    Prevádzku webového sídla
                    <a onclick="_blank" href="{{ path('default_homepage') }}">{{ app.request.host() }}</a>
                    a správu jej obsahu zabezpečuje
                    <br><a onclick="_blank" href="https://www.sazp.sk/kontakt/kontakt-sazp.html">Slovenská agentúra
                        životného prostredia.</a>
                    <br>
                    <a href="{{ path('default_subpage',{'seoid':'vyhlasenie-o-pristupnosti'}) }}">Vyhlásenie o
                        prístupnosti</a>
                </p>
            </div>
        </div>
    </div>
</footer>


{% block javascripts %}

    <script src="{{ asset('bundles/scorecms/bootstrap5/js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script>

        (function ($) {
            $(function () {      // Run on DOM ready
                $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
                    if (!$(this).next().hasClass('show')) {
                        $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
                    }
                    var $subMenu = $(this).next('.dropdown-menu');
                    $subMenu.toggleClass('show');

                    $(this).parents('nav li.nav-item.dropdown').on('hidden.bs.dropdown', function (e) {
                        $('.dropdown-submenu .show').removeClass('show');
                    });

                    return false;
                });
            });
        })(jQuery);

    </script>

{% endblock %}
</body>
</html>
