{# {% extends  template is defined and template is not null ? [template, '@ScoreCms/Page/Public/baseLayout.html.twig'] : '@ScoreCms/Page/Public/baseLayout.html.twig' %} #}
{% extends cms_template() %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}
{% set reactFiles = cms_react_apps(page.blockJoints|map(pb => pb.block.type)) %}

{% macro getCenterClassNames(p) %}{{
	p.hasLeftBar and p.hasRightBar
		? "govuk-grid-column-full govuk-grid-column-one-half-from-desktop"
		: p.hasLeftBar or p.hasRightBar
			? "govuk-grid-column-full govuk-grid-column-three-quarters-from-desktop"
			: "govuk-grid-column-full"
 }}{% endmacro %}

{% block title %}{{page.title}} | {{parent()}} {% endblock %}

{% block stylesheets %}
	{{ page.metatags | filter (mTag => mTag.metatagPattern.type is same as "head") | join("\n") | raw }}
	{{ m.filterCss(reactFiles) }}
	{{parent()}}
{% endblock %}

{% block javascripts %}
{{ m.filterJs(reactFiles) }}
	{{parent()}}
{% endblock %}

 {% block footer_logo %}
	{{ 'idsk-footer-logo' | cms_text | raw  }}
 {% endblock %}

{% block body %}


	<div class="container{{ page_container_fluid is defined and page_container_fluid ? "-fluid" }} cms_seo_{{ page.seoId | replace({'/': "_"}) }}"> {# you can set in fwig globals #}
		<div class="row govuk-grid-row">
			<div class="col-md-12 govuk-grid-column-full">
				{% if not (hide_pages_heading is defined and hide_pages_heading) %} {# you can set in fwig globals #}
					<h1 class="govuk-heading-xl">{{ page.name }}</h1>
				{% endif %}
				{% if  page.seoId == 'homepage' and not (hide_homepage_intro_block is defined and hide_homepage_intro_block) %} {# you can set in fwig globals #}
					{{ include('@ScoreCms/Public/idsk/_intro_block.html.twig') }}
				{% endif %}
			</div>
		</div>
		<div class="{{page.layout}} row govuk-grid-row">

			{% if page.hasLeftBar %}
				<div class="col-md-12 col-lg-3 govuk-grid-column-full govuk-grid-column-one-quarter-from-desktop">
					{% for blockJoint in page.blockJoints %}
						{% if 'left' == blockJoint.place %}
							{# <h2>{{ blockJoint.block.name }}</h2> #}
							{{ include('@ScoreCms/Public/default/_block.html.twig',{'blockJoint': blockJoint}) }}
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}

			<div class="col {{  _self.getCenterClassNames(page) }}">
			{% for blockJoint in page.blockJoints %} {# sections for wavex #}
				{% if 'center' == blockJoint.place %}
					<div id="cms-block-{{ blockJoint.block.id }}" class="{{ blockJoint.block.paramsArr.nav is defined and blockJoint.block.paramsArr.nav ? "section "}} cms-block-c-{{ blockJoint.block.id }}">
						{% if 'pageContent' == blockJoint.block.type %}
							{{ page.content| cms_document_links | raw }}
						{% else %}
							{# <h2>{{ blockJoint.block.name }}</h2>#}
							{{ include('@ScoreCms/Public/default/_block.html.twig',{'blockJoint': blockJoint}) }}
						{% endif %}
					</div>
				{% endif %}
			{% endfor %}
			</div>

			{% if page.hasRightBar %}
				<div class="col-md-12  col-lg-3 govuk-grid-column-full govuk-grid-column-one-quarter-from-desktop">
					{% for blockJoint in page.blockJoints %}
						{% if 'right' == blockJoint.place %}
						{# 	<h2>{{ blockJoint.block.name }}</h2>#}
							{{ include('@ScoreCms/Public/default/_block.html.twig',{'blockJoint': blockJoint}) }}
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
