{% extends '@ScoreCms/Default/simple.html.twig' %}
{% block title %}CMS - LOGIN | {{ app.request.host()|split('.')|filter(v => v != "www")|first|upper }}{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     <style>
         .login-page, .register-page {
             background: #eee;
         }
     </style>
 {% endblock %}

 {% block body %}
     {% if error %}
         <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
     {% endif %}
     <div style="height: 100vh; display: flex; align-items: center; justify-content: center; ">
         <form id="login_form" action="{{ path('admin_login') }}" method="post" style="width: 250px">
             {# <input type="hidden" name="_target_path" value="{{ targetPath }}"/> #}

             <div class="form-group">
                 <label for="username">Prihlasovacie meno:</label>
                 <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"
                        autocomplete="username" placeholder="Meno/email">
             </div>
             <div class="form-group">
                 <label for="password">Heslo:</label>
                 <input type="password" class="form-control" id="password" placeholder="Heslo" name="_password"
                        autocomplete="current-password">
             </div>

             <div style="text-align: center">
                 <button type="submit" class="btn btn-default">Prihlásiť sa</button>
             </div>
         </form>
     </div>
 {% endblock %}
 {% block javascripts %}
     {{ parent() }}

     <script>
         // odstranenie bielych znakov na zaciatku a konci hesla
         $("#login_form").submit(function (event) {
             $("#password").val($("#password").val().trim());
         });
     </script>
 {% endblock %}