<!doctype html>
<html lang="sk" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{app.request.host()|split('.')|filter(v => v != "www")|first|upper}}{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="d-flex flex-column h-100">

{{ include('@ScoreCms/Public/default/header.html.twig') }}

<main class="flex-shrink-0"> 
    {% block body %}
    {% endblock %}
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    Copyright: {{ 'now'|date('Y') }} | mail: <a href="mailto:info@sazp.sk">info@sazp.sk</a> | tel.: <a href="tel:+421 123456789">+421 123456789</a>
                </p>
            </div>
            <div class="col">
                <p>
                    Prevádzku webového sídla <a onclick="_blank" href="#">www.XY.sk</a> a správu jej obsahu zabezpečuje
                    <br><a onclick="_blank" href="https://www.sazp.sk/kontakt/kontakt-sazp.html">Slovenská agentúra životného prostredia.</a>
                    <br><a href="{{ path('default_subpage',{'seoid':'vyhlasenie-o-pristupnosti'}) }}">Vyhlásenie o prístupnosti</a>
                </p>
            </div>
        </div>
    </div>
</footer>


<script src="{{ asset('js/script.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
