{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/>
    <style>
        .form-group .item-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            border-bottom: 1px solid #3c8dbc;
            gap: 1em;
        }

        .form-group .item-wrapper > * {
            flex: auto;
        }

        .helpText-row, .pattern-row {
            min-width: 100%;
        }

    </style>
{% endblock %}

{% block content_header_title %}
    <h1>{{ 'score.cms.metatag.topTitle'|trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.cms.metatag.breadcrumb' | trans }}</li>
{% endblock %}

{% block body %}

    {{ m.alerts() }}


    <div class="row">
        <div class="col-sm-12">


            {{ form_start(form) }}

            {{ form_widget(form) }}

            <input class="btn btn-primary" type="submit" value="{{ 'score.article.edit.save' | trans }}"/>
            <button type="button"
                    class="add-item btn btn-success pull-right">{{ 'score.article.edit.add' | trans }}</button>

            {{ form_end(form) }}


        </div>
    </div>


    {{ include('@ScoreCms/Default/_delete_modal.html.twig') }}

{% endblock %}


    {% block javascripts %}
        {{ parent() }}

        <script>
            let index = 1000;
            let el = $('#all_metatag_patterns_metatagPatterns');

            $('body').on('click', '.remove-item', function () { // vymazanie polozky
                $(this).closest('.item-wrapper').remove()
            })

            const addButtons = () => {
                el.find('.item-wrapper').each(function () {
                    if ($(this).find('.remove-item').length < 1) {
                        $('<p><button type="button" class="remove-item btn btn-danger" >{{ 'score.article.edit.remove' | trans }}</button></p>')
                            .insertAfter($(this).find('.visibility-row'))
                    }
                })
            }

            $('.add-item').click(function () {
                el.append($(el.data("prototype").replace(/__name__/g, index++)))
                addButtons()
            })
            addButtons()

        </script>
    {% endblock %}
