{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/>
    <style>
        .form-group .item-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
{% endblock %}

{% block content_header_title %}
    <h1>{{ 'score.cms.document.list.topTitle'|trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.cms.document.breadcrumb' | trans }}</li>
{% endblock %}

{% block body %}

    {{ m.alerts() }}


    <div class="row">
        <div class="col-sm-10">


        {{ form_start(form) }}
            <h3>{{ ('score.cms.document.edit.'~part) | trans }}</h3>

            {{ form_widget(form) }}
            
            <input class="btn btn-primary" type="submit" value="{{ 'score.cms.document.edit.save' | trans }}"/>

        {{ form_end(form) }}


    </div>
        <div class="col-sm-2">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="box box-primary">
                    <div class="box-body">
                        <button type="button" class="add-item btn btn-lg btn-success" >{{ 'score.cms.document.edit.add' | trans }}</button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


    {{ include('@ScoreCms/Default/_delete_modal.html.twig') }}

{% endblock %}


    {% block javascripts %}
        {{ parent() }}
       

        <script>
            let index = 1000;
            let el = $('#all_domains_domains, #all_categories_categories, #all_levels_levels');

            $('body').on('click', '.remove-item', function(){ // vymazanie polozky
                $(this).closest('.item-wrapper').remove()
            })

            $('body').on('click', '.create-block-btn', function(){ // vytvorenie bloku
                let url = "{{ path("score-cms-document-create-block", {"part": part, "seoName": "__NAME__"}) }}";
                let seoName = $(this).closest('.item-wrapper').find('input[id$="_seoName"]').val()
                window.location.href = url.replace("__NAME__", seoName);
            })

            const addButtons = () => { // pridanie polozky
                el.find('.item-wrapper').each(function(){
                    if ($(this).find('.remove-item').length < 1) {
                        $(this).append($('<p><button type="button" class="create-block-btn btn btn-info" >{{ 'score.cms.document.edit.createBlock' | trans }}</button></p>'))
                        .append($('<p><button type="button" class="remove-item btn btn-danger" >{{ 'score.cms.document.edit.remove' | trans }}</button></p>'))
                    }
                })
            }

            $('.add-item').click(function(){
                el.append($(el.data("prototype").replace(/__name__/g, index++)))
                addButtons()
            })
            addButtons()
        
        </script>
    {% endblock %}
