{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{# {% extends 'base.html.twig' %} #}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block content_header_title %}
    <h1>{{ 'score.cms.widget.edit.title' | trans }}</h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.cms.document.breadcrumb' | trans }}</li>
{% endblock %}



{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/sortable/nestable.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/scorecms/plugins/select2/select2.min.css') }}" rel="stylesheet"/>
    <style>
        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: unset;
        }
    </style>
    {{ m.cmsEditorCss() }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {{ m.cmsEditorJs('document_teaser', 'cke5_simple') }}
    {{ m.cmsEditorJs('document_description') }}

    {% for k, dd in document.documentDescriptions %}
        {{ m.cmsEditorJs('document_documentDescriptions_'~k~'_description', "cke5_simple") }}
    {% endfor %}

    <script src="{{ asset('bundles/scorecms/plugins/sortable/jquery.nestable.js') }}"></script>
    <script src="{{ asset('bundles/scorecms/plugins/select2/select2.min.js') }}"></script>

    <script src="{{ asset('bundles/scorecms/plugins/slugify/slugify.js') }}"></script>
    <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>

    <script src="{{ asset('bundles/scorecms/js/admin.js') }}?v={{ cms_get_version() }}{{ app.environment == 'dev' ? ("_" ~ ("now"|date("Ymd-His"))) }}"></script>

    <script type="text/javascript">
        // vytvori seoUrl z nazvu pri vytvarani noveho dokumentu
        let seoInput = $('#document_seoId')
        let fullNameInput = $('#document_fullName')
        let generateSlug = seoInput.val()?.trim() === '';
        $('#document_name').on('input', function () {
            if (generateSlug) {
                seoInput.val(url_slug($(this).val()));
                fullNameInput.val($(this).val());
            }
        });
    </script>

    <script>
        let index = 1000;
        let docDescs = $('#document_documentDescriptions');
        let docFiles = $('#document_documentFiles');

        $('body').on('click', '.remove-item', function () { // vymazanie polozky (popis za oblast) / (subor, url)
            $(this).closest('.item-wrapper').remove();
        })

        let addRemoveBtn = (wrapper) => { // pridanie tlacidiel (ak treba) na vymazanie polozky 
            wrapper?.find('.item-wrapper').each(function () {
                if ($(this).find('.remove-item').length < 1) {
                    $(this).append($('<p><button type="button" class="remove-item btn btn-danger" >{{ 'score.cms.document.edit.remove' | trans }}</button></p>'));
                }
            })
        }

        // POPIS ZA OBLAST
        let copyToClipBoard = (el, url) => {
            let copy = $('<i class="fa fa-copy" style="cursor: pointer;"></i>').css({'margin': '1em'}).click(() => {
                let temp = $("<input>");
                $(el).append(temp);
                temp.val("{{ app.request.host() }}" + url).select();
                document.execCommand("copy");
                temp.remove();
            })
            $(el).prepend($(`<div class="copy-doc-desc"><a href="${url}"><i class="fa fa-link"></i>${url}</a></div>`).prepend(copy))
        }

        let domainNames = "{{ document.documentDescriptions | map(dd => "#{dd.documentDomain.seoName}")|join(',') }}".split(',');
        docDescs.find('.item-wrapper').each((k, el) => {
            let url = `{{ path('document', {'seoId':document.seoId ?: "0"}) }}#${domainNames[k] || ""}`;
            copyToClipBoard(el, url);
        })
        copyToClipBoard($('#default-link'), "{{ path('document', {'seoId':document.seoId ?: "0"}) }}");

        // CKeditor to textarea element. Editor cke5_simple
        const applyCKEditor = el => {
            ClassicEditor.create(el, {
                removePlugins: ['AutoImage', 'Heading', 'ImageInsert', 'ImageUpload', 'MediaEmbed', 'SimpleUploadAdapter', 'Table', 'TableProperties'],
                toolbar: {
                    items: ['undo', 'redo', '|', 'bold', 'subscript', 'superscript', 'bulletedList', 'numberedList', 'link', 'specialCharacters']
                }
            })
        }

        // pridanie polozky (popis za oblast)
        $('.add-item').click(function () {
            let newItem = $(docDescs.data("prototype").replace(/__name__/g, index++))
            newItem.find("label > input[id$=\"_public\"]").attr("checked", "checked")
            docDescs.append(newItem);
            addRemoveBtn(docDescs);
            applyCKEditor(newItem.find("textarea").text(" ").get(0)); // initialize editor
        })
        addRemoveBtn(docDescs);

        // DOKUMENTY - files
        let fileNames = "{{ document.documentFiles | map(f => "#{f.filename}")|join(',') }}".split(',');
        docFiles.find('.item-wrapper').each((k, el) => {
            let isExternal = $(el).find('[id$="_isExternal"]').attr('checked') === 'checked';
            //$(el).find('[id$="_isExternal"], [id$="_url"], input[type="file"]').closest('.form-group').hide();
            $(el).find('[id$="_isExternal"], input[type="text"], input[type="file"]').closest('.form-group').hide();
            if (isExternal) {
                $(el).find('input[type="text"]').closest('.form-group').show(200);
            } else {
                $(el).prepend(`<a target="_blank" href="${$(el).find('[id$="_url"]').val()}">${fileNames[k] || ""}</a>`);
            }
        })

        $('.add-file').click(function () { // pridanie polozky (nahrat subor / URL)
            let addFile = !$(this).is('.add-file-link');
            let newBlock = $($(docFiles.data("prototype").replace(/__name__/g, index++)));
            newBlock.find('[for$="isExternal"]').closest('.form-group').hide()
            if (addFile) {
                newBlock.find('input[type="text"]').closest('.form-group').hide();
                newBlock.find('input[type="file"]').click();
            } else {
                newBlock.find('input[type="file"]').closest('.form-group').hide();
                newBlock.find('[id$="isExternal"]').attr('checked', 'checked');
            }
            docFiles.append(newBlock);
            addRemoveBtn(docFiles);
        })
        addRemoveBtn(docFiles);

        // kontrola dokumentu podla nazvu
        $('button.check-name').click(function () {
            let resultDiv = $(this).parent().find('.check-result').html(""); // nech uzivatel vie ze sa uz nieco robi

            $.post("{{ path("score-cms-document-api-check-name") }}", {
                fullname: $('#document_fullName')?.val(),
                code: "{{ document.code }}"
            })
                .done(function (data) {
                    if (data.status === "ok") {
                        resultDiv.html(""); // ak clovek klikmne viac krat, nech sa nevykresli viac odpovedi
                        if (data.documents?.length < 1) {
                            return resultDiv.append($('<h4/>').text('Nenašla sa žiadna zhoda.'))
                        }
                        resultDiv.append($('<h4/>').text('Podobné názvy:'))
                        let ul = $('<ul/>');
                        data.documents?.forEach(d => ul.append($('<li/>').append($("<a/>", {href: d.url}).text(d.fullname))));
                        resultDiv.append(ul);
                    }
                });
        })
    </script>

    <script>
        // ACCESS
        let url = "{{ path('score-cms-document-edit-access') }}";
        let documentId = {{ document.id ?: 0 }};

        $('.access-change').click(function (e) {
            let newUrl = url + "?document_id=" + documentId;
            newUrl += "&user_id=" + $(this).closest('tr').find('input[name^="user_id"]').val();
            let a = ["has_access", "is_heritable", "full_access", "can_create", "can_delete"];
            a.forEach(v => {
                let checked = $(this).closest('tr').find('input[name^="' + v + '"]').prop("checked") ? 1 : 0;
                newUrl += "&" + v + "=" + checked;
            })
            this.href = newUrl;
        })
    </script>

    <script>
        $('body').on('click', '.to-trash-document', function (e) {
            e.preventDefault();
            $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
            $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.document.toTrash" |trans }}");
            $('#confirm-delete-cms-item-modal').modal('show');
        });
    </script>

    {{ include('@ScoreCms/Default/_js_keyboard_submit_form.html.twig', {"formSelector": "form[name=\"document\"]"}) }}


    <script>
        $('#document_documentCategories').select2();
        $('#document_year').select2();
        $('#document_documentLevels').select2();
        $('#document_myRelevants').select2();
    </script>

    <script>
        // naplnenenie dokumentov do selectu suvisiace
        let documentIdInt = parseInt("{{ document.id ?: 0 }}" || 0);
        let documentsRequested = false;
        const loadDocumentsToSelect = () => {
            if (!documentsRequested) { //fetch only once
                documentsRequested = true;
                $.ajax("{{ path("admin-score-api-document-availables") }}")
                    .done(r => {
                        if (r.status === "ok") {
                            let selectEl = $("select#document_myRelevants")
                            r.data?.forEach(v => selectEl.append($('<option/>', {
                                value: v.value,
                                disabled: v.value === documentIdInt
                            }).text(v.name)))
                        }
                    })
            }
        }
        setTimeout(loadDocumentsToSelect, 100);
    </script>


{% endblock %}

{% block body %}
    {{ m.alerts() }}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" role="tablist">
            <li class="{{ activeSection == 'content' ? ' active' }}">
                <a href="#tab_1" data-toggle="tab">{{ 'score.cms.document.edit.contentTitle'|trans }}</a>
            </li>
            {% if showAccessTab is defined and showAccessTab %}
                <li class="{{ activeSection == 'access' ? ' active' }}">
                    <a href="#tab_2" data-toggle="tab">{{ 'score.page.edit.access.title'|trans }}</a>
                </li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane{{ activeSection == 'content' ? ' active' }}" id="tab_1">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-sm-9">
                        <div id="default-link"></div>
                        {{ form_row(form.name) }}

                        <div class="form-group">
                            {{ form_label(form.seoId) }}
                            {{ form_errors(form.seoId) }}
                            <div style="display: flex; align-items: center">
                                <span class="cms-domain">
                                    {{ app.request.schemeAndHttpHost ~ "/" ~ (urlDocumentPrefix is defined and urlDocumentPrefix ? (urlDocumentPrefix ~ "/") : ("dokument/")) }}
                                </span>
                                {{ form_widget(form.seoId,{'attr':{'style':'margin-left:2px;padding-left:2px;'}} ) }}
                            </div>
                        </div>

                        {{ form_row(form.fullName) }}
                        <div style="margin: 1em auto">
                            <button type="button"
                                    class="check-name btn btn-sm btn-info">{{ 'score.cms.document.edit.checkName' | trans }}</button>
                            <div class="check-result"></div>
                        </div>
                        <div style="display: block">
                            {{ form_row(form.teaser) }}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        {{ form_row(form.hasDetail) }}
                        {{ form_row(form.public) }}

                        <div class="icon-wrap">
                            {{ form_row(form.iconFile) }}
                            <div class="thumbnail" {{ not document.icon ? "style=\"display: none\"" }}><img
                                        src="{{ document.iconThumb(640,480) }}?v={{ "now" | date("his") }}"/></div>
                            <div class="reset-img">
                                <button type="button" class="btn btn-sm btn-danger">
                                    Vymazať {{ "score.cms.document.edit.iconFile" | trans }}</button>
                                {{ form_row(form.removeIcon) }}
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">

                        {{ form_row(form.description) }}

                        <h3>{{ "score.cms.document.edit.documentDescriptions" | trans }}</h3>
                        <span>{{ "score.cms.document.edit.documentDescriptionsHelp" | trans }}</span>
                        {{ form_row(form.documentDescriptions) }}
                        <p>
                            <button type="button"
                                    class="add-item btn btn-success">{{ 'score.cms.document.edit.addDescription' | trans }}</button>
                        </p>

                        <div>
                            <h3>{{ "score.cms.document.edit.docFiles" | trans }}</h3>
                            {{ form_row(form.documentFiles) }}
                            <p>
                                <button type="button"
                                        class="add-file btn btn-success">{{ 'score.cms.document.edit.addFile' | trans }}</button>
                                <button type="button"
                                        class="add-file add-file-link btn btn-success">{{ 'score.cms.document.edit.addFileLink' | trans }}</button>
                            </p>
                        </div>


                        {{ include('@ScoreCms/Block/Admin/_formJoints.html.twig',{'blockJoints': document.blockJoints, ref: "document_"~ document.id}) }}
                        {{ form_row(form.documentBlocks) }}

                        {{ form_row(form.documentCategories) }}
                        {{ form_row(form.year) }}
                        {{ form_row(form.documentLevels) }}

                        {{ form_row(form.myRelevants) }}

                        <div class="metatags-wrapper">
                            <h3>{{ 'score.cms.metatag.title' | trans }}</h3>
                            {{ form_row(form.metatags) }}
                            <button type="button"
                                    class="add-metatag-item btn btn-success">{{ 'score.cms.metatag.addMetatag' | trans }}</button>
                        </div>

                        {{ form_widget(form) }}
                        <input class="btn btn-lg btn-primary" type="submit"
                               value="{{ 'score.cms.document.edit.save' | trans }}"/>

                        {% if canDelete is defined and canDelete %}
                            <a class="btn btn-danger btn-sm pull-right to-trash-document"
                               href="{{ path('score-cms-document-to-trash',{id:document.id}) }}">{{ 'score.page.toTrash'|trans }}</a>
                        {% endif %}

                    </div>
                </div>
                {{ form_end(form) }}

                {% if document.myRelevants | length %}
                    <hr>
                    <div>
                        <h3>{{ "score.cms.document.edit.myRelevants" | trans }}</h3>
                        {{ document.myRelevants|map(d => "<a href=\"#{d.id}\">#{d.name}</a>")|join('<br>') | raw }}
                    </div>
                {% endif %}
            </div><!-- /.tab-pane -->
            {% if showAccessTab is defined and showAccessTab %}
                <div class="tab-pane{{ activeSection == 'access' ? ' active' }}" id="tab_2">
                    {{ include('@ScoreCms/Page/Admin/_access.html.twig', {'entityName': "document", 'entity':document, 'users':users }) }}
                </div><!-- /.tab-pane -->
            {% endif %}
        </div><!-- /.tab-content -->
    </div>

    {{ include('@ScoreCms/Default/_delete_modal.html.twig') }}


{% endblock %}
