{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content_header_title %}
    <h1>{{ 'score.cms.document.list.topTitle'|trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.cms.document.breadcrumb' | trans }}</li>
{% endblock %}

{% block body %}

    {{ m.alerts() }}


    <div class="row">
        <div class="col-sm-10">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="category-btn-group">
                        <button class="c-update">{{ 'score.cms.document.edit.categories'|trans }}</button>
                    </div>
                </div>
            </div>

            <div class="box box-solid">
                <div class="box-body">
                    <table id="documents-datatable" class="table table-striped display compact" style="width:100%">
                        <thead>
                        <tr>
                            <th>{{ 'score.cms.document.list.name'|trans }}</th>
                            <th>{{ 'score.cms.document.edit.public'|trans }}</th>
                            <th>{{ 'score.cms.document.edit.hasDetail'|trans }}</th>
                            <th>{{ 'score.cms.document.edit.categories'|trans }}</th>
                            {% if canDelete %}
                                <th style="min-width: 8em;">{{ 'score.cms.document.list.action'|trans }}</th>
                            {% else %}
                                <th></th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for document in list %}
                            <tr>
                                <td>
                                    <a class=""
                                       href="{{ path('score-cms-document-edit',{id:document.id}) }}">{{ document.name }}</a>
                                </td>
                                <td>
                                    {{ document.public ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>' }}
                                </td>
                                <td>
                                    {{ document.hasDetail ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>' }}
                                </td>
                                <td>{{ document.documentCategories|map(v => v.name)|join(', ') }}</td>

                                {% if canDelete %}
                                    <td class="{{ document.isDeleted ? "bg-danger" }}">
                                        {% if not document.isDeleted %}
                                            <a class="to-trash-document"
                                               href="{{ path('score-cms-document-to-trash',{id:document.id}) }}">{{ 'score.page.toTrash'|trans }}</a>
                                        {% else %}
                                            <a class="from-trash-document"
                                               href="{{ path('score-cms-document-from-trash',{id:document.id}) }}">{{ 'score.page.fromTrash'|trans }}</a>
                                        {% endif %}
                                        <br>
                                        <a class="delete-document"
                                           href="{{ path('score-cms-document-delete',{id:document.id}) }}">{{ 'score.cms.document.list.delete'|trans }}</a>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}


                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">

                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="box box-primary">
                <div class="box-body">
                    <a class="btn btn-primary"
                       href="{{ path('score-cms-document-new') }}">{{ 'score.cms.document.list.new'|trans }}</a>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="box-body">
                        <a class="btn btn-primary"
                           href="{{ path('score-cms-document-categories') }}">{{ 'score.cms.document.edit.categories'|trans }}</a>
                        <a class="btn btn-primary"
                           href="{{ path('score-cms-document-domains') }}">{{ 'score.cms.document.edit.domains'|trans }}</a>
                        <a class="btn btn-primary"
                           href="{{ path('score-cms-document-levels') }}">{{ 'score.cms.document.edit.levels'|trans }}</a>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_TOP_MANAGER') %}
                    <div class="box-body">
                        <a class="btn btn-primary" href="{{ path('score-cms-document-update-links') }}"
                        >{{ 'score.cms.document.edit.updateLinks'|trans }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {{ include('@ScoreCms/Default/_delete_modal.html.twig') }}

{% endblock %}


    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>
        <script type="text/javascript">

            let dataTable = $('#documents-datatable').DataTable({
                ordering: false,
                pageLength: 50,
                language: {
                    url: "{{ asset('bundles/scorecms/plugins/datatables/sk.js') }}"
                },
                ajax: "{{ path("admin-score-api-document-list") }}",
                columns: [
                    {data: 'name'},
                    {data: 'public'},
                    {data: 'hasDetail'},
                    // {data: d => (d.categories || []).join(", ") },
                    {data: 'categories'},
                    {data: 'action'},
                ],
            });


            $(".c-update").click(() => {
                let wrapper = $('.category-btn-group')
                dataTable.columns().search('').draw();
                if (wrapper.children().length > 1) return;
                let array = [];
                dataTable.column(3).data().each(v => v.forEach(vv => array.push(vv)));
                array.filter((x, i, a) => a.indexOf(x) == i)
                    .forEach(v => wrapper.append($("<button/>", {class: "btn btn-default"}).text(v).click(_ => dataTable.columns(3).search(v).draw())))
            })


        </script>

        <script>

            $('body').on('click', '.delete-document', function (e) {
                e.preventDefault();
                $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
                $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.document.delete" |trans }}");
                $('#confirm-delete-cms-item-modal').modal('show');
            });
        </script>

        <script>
            $('body').on('click', '.to-trash-document', function (e) {
                e.preventDefault();
                $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
                $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.document.toTrash" |trans }}");
                $('#confirm-delete-cms-item-modal').modal('show');
            });
        </script>
    {% endblock %}


