{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block content_header_title %}
    <h1>{{ 'score.cms.accordion.edit.topTitle'|trans }} </h1>
{% endblock %}

{% block body -%}
    {{ m.alerts() }}
    {{ form_start(form) }}
    <div class="box">
        <div class="box-body">

            {{ form_errors(form) }}

            <div class="row">
                <div class="col-sm-8">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-sm-4" {{ hideAdvanced is defined and hideAdvanced ? ' style="display: none;"'}}>
                    {{ form_row(form.type) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" {{ hideAdvanced is defined and hideAdvanced ? ' style="display: none;"'}}>
                    {{ form_row(form.title) }}
                </div>
                <div class="col-sm-12 cms-desc" {{ hideAdvanced is defined and hideAdvanced ? ' style="display: none;"'}}>
                    {{ form_row(form.description) }}
                </div>
                <div class="col-sm-12 cms-desc">
                    {{ form_row(form.visibility) }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="dd" id="accordion_items_wrapper">
                        <ol id="accordion_items" class="dd-list"
                            data-prototype="{{ form_widget(form.items.vars.prototype)|e('html_attr') }}"
                            style=" margin-left:50px; width: calc(100vw - 400px);">
                            {% for item in form.items %}
                                <li class="dd-item dd3-item accordion-item" style="padding:0;">
                                    <div class="dd-handle dd3-handle"></div>
                                    <div class="remove-item-wrapper">
                                        <button class="remove-item btn btn-danger btn-sm"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    </div>
                                    <div class="dd3-content" style="height:auto;">
                                        {{ form_widget(item) }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <p>
                <button type="button"
                        class="btn btn-success btn-sm add-item">{{ 'score.cms.accordion.edit.addOne'|trans }}</button>
            </p>

            <button type="submit" class="btn btn-success btn-lg">{{ 'score.cms.accordion.edit.save'|trans }}</button>
            <a class="btn btn-danger btn-sm" href="">{{ 'score.cms.accordion.edit.cancel'|trans }}</a>
            {{ include('@ScoreCms/Block/Admin/_referer.html.twig') }}
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/sortable/nestable.css') }}" rel="stylesheet"/>
    <style>
        .remove-item-wrapper {
            position: absolute;
            top: 0;
            right: 0;
        }

        .dd3-content {
            font-weight: unset;
            background: white;
        }

        .dd3-content:hover {
            color: unset;
            background: white;
        }
    </style>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/scorecms/plugins/sortable/jquery.nestable.js') }}"></script>

    {{ m.cmsEditorJs('accordion_description', "cke5_simple") }}
    {% for k, item in form.items %}
        {{ m.cmsEditorJs('accordion_items_'~k~'_content', "cke5_simple") }}
    {% endfor %}

    <script type="text/javascript">
        jQuery(document).ready(function () {

            // SORTING
            const updateOutput = () => {
                $('#accordion_items')
                    .find('input[type="hidden"][id$=_sortOrder]')
                    .each((k, v) => $(v).val(k));
                //initCkEditor();
            };

            $(".dd")
                .nestable({maxDepth: 1})
                .on('change', updateOutput);


            // ITEM
            let itemsWrapper = $('#accordion_items');
            itemsWrapper.data('index', itemsWrapper.find('input').length);
            let maxItems = {{ maxItems }} ;

            // CKeditor to textarea element. Editor cke5_simple
            const applyCKEditor = el => {
                ClassicEditor.create(el, {
                    removePlugins: ['AutoImage', 'Heading', 'ImageInsert', 'ImageUpload', 'MediaEmbed', 'SimpleUploadAdapter', 'Table', 'TableProperties'],
                    toolbar: {
                        items: ['undo', 'redo', '|', 'bold', 'subscript', 'superscript', 'bulletedList', 'numberedList', 'link', 'specialCharacters']
                    }
                })
            }

            // ADD ITEM
            const addFormToCollection = () => {

                if (itemsWrapper.children().length >= maxItems)
                    return;

                let index = itemsWrapper.data('index');
                let newForm = itemsWrapper.data('prototype');
                //newForm = newForm.replace(/__name__label__/g, itemsWrapper.find('label').first().text());
                newForm = newForm.replace(/__name__/g, index);

                itemsWrapper.data('index', index + 1);
                let content = $('<div class="dd3-content" style="height:auto;"></div>').append(newForm);
                let li = $('<li class="dd-item dd3-item accordion-item" style="padding:0;">');
                li.append('<div class="dd-handle dd3-handle"></div>')
                    .append('<div class="remove-item-wrapper" ><button class="remove-item btn btn-danger btn-sm"><i class="fa fa-times" aria-hidden="true"></i></button></div>')
                    .append(content);
                itemsWrapper.append(li);
                applyCKEditor(li.find("textarea[id$=\"_content\"]").text(" ").get(0)); // initialize editor cke5_simple
            }

            // ADD ITEM EVENT
            $('body').on('click', ".add-item", function (e) {
                e.preventDefault();
                addFormToCollection();
            })

            // REMOVE ITEM
            $('body').on('click', ".remove-item", function (e) {
                e.preventDefault();
                $(this).parents('.accordion-item').remove();
            })

        });


    </script>

    {{ include('@ScoreCms/Default/_js_keyboard_submit_form.html.twig', {"formSelector": "form[name=\"accordion\"]"}) }}
{% endblock %}
