{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content_header_title %}
    <h1>{{ 'score.cms.accordion.list.topTitle'|trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.cms.accordion.list.breadcrumb' | trans }}</li>
{% endblock %}

{% block body %}
    {{ m.alerts() }}
    <div class="row">
        <div class="col-sm-10">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="accordions-datatable" class="table table-striped display compact">
                        <thead>
                        <tr>
                           
                            <th>{{ 'score.cms.accordion.list.name'|trans }}</th>
                            <th>{{ 'score.cms.accordion.list.itemsLength'|trans }}</th>
                            <th class="text-center">{{ 'score.cms.accordion.list.action'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for accordion in accordions %}
                            <tr>
                               
                                <td>
                                    <a class="lvl_1" href="{{ path('score-accordion-edit', { 'id': accordion.id }) }}">{{ accordion.name }}</a>
                                </td>
                                <td>
                                    {{ accordion.items | length }}
                                </td>
                                <td class="text-center">
                                    <a class="lvl_1" href="{{ path('score-accordion-edit', { 'id': accordion.id }) }}">{{ 'score.cms.accordion.list.edit' | trans }}</a>
                                    <br><a class="delete-accordion" href="{{ path('score-accordion-delete', {'id' : accordion.id}) }}">{{ 'score.cms.accordion.list.delete'|trans }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="box box-primary">
                <div class="box-body">
                    <a class="btn btn-primary" href="{{ path('score-accordion-new') }}"> {{  'score.cms.accordion.list.new' |trans }} </a>
                </div>
            </div>

        </div>
    </div>
    {{ include('@ScoreCms/Default/_delete_modal.html.twig') }}

{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
     <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>
     <script src="{{ asset('bundles/scorecms/js/BlockManager.js') }}"></script>
     <script type="text/javascript">

         $('#accordions-datatable').DataTable({
             pageLength: 50,
             language: {
                 url: "{{ asset('bundles/scorecms/plugins/datatables/sk.js') }}"
             },
             "ordering": false
         });


         var block_manager = new BlockManager();
         block_manager.reorder_url = '/{# {path('score_block_reorder')} #}';

        
     </script>
     <script>
         $('body').on('click', '.delete-accordion', function (e) {
                e.preventDefault();
                $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
                $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.accordion.delete" |trans }}");
                $('#confirm-delete-cms-item-modal').modal('show');
         });
     </script>
 {% endblock %}
