{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('plugins/datatables/datatables.min.css') }}" rel="stylesheet"/>
{% endblock %}


{% block content_header_title %}
    <h1>{{ 'score.cms.user.title' |trans }}</h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.cms.user.breadcrumb' |trans }}</li>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function generatePassword() {
            var buf = new Uint8Array(6);
            window.crypto.getRandomValues(buf);
            return btoa(String.fromCharCode.apply(null, buf));
        }
        let pass = generatePassword();
        $('#pass').text(pass).on('click', () => {
            $('#user_pass_newpass1').val(pass)
            $('#user_pass_newpass2').val(pass)
        })

        $('#changeType').on('click', (e) => {
            let fromType = e.target.dataset.type;
            let toType = fromType === "text" ? "password" : "text";
            $('form[name="user_pass"]').find('[type="'+fromType+'"]').attr("type", toType);
            e.target.dataset.type = toType;
        })


    </script>
    <script>
        // odstranenie bielych znakov na zaciatku a konci hesla
        $("form[name=\"user_pass\"]").submit(function( event ) {
            $("#user_pass_newpass1").val($("#user_pass_newpass1").val().trim());
            $("#user_pass_newpass2").val($("#user_pass_newpass2").val().trim());
        });
    </script>
{% endblock %}


{% block body %}
    {{ m.alerts() }}
    <h2>{{ user.username }}</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" type="submit" >{{ "score.cms.user.list.save" |trans }}</button>
    {{ form_end(form) }}
    <br>
    <small>aspon 7 znakov</small>
    <p>navrhovane heslo: <span id="pass"></span> (<small>kliknutim sa aplikuje</small>) </p>
    <p><button class="btn btn-sm btn-primary" id="changeType" data-type="password">Zobrazovat text</button></p>
    <ul>
        <li>
            <a href="{{ path('admin_users') }}">List</a>
        </li>
    </ul>
{% endblock %}
