{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

        <script>
            $('input[type="checkbox"], .checkbox > label').on('click', e => e.stopPropagation());
        </script>
{% endblock %}

{% block content_header_title %}
    <h1>{{ 'score.cms.user.title' | trans }}</h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.cms.user.breadcrumb' | trans }}</li>
{% endblock %}

{% block body %}
    {{ m.alerts() }}

    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.isActive) }}
        <h5>{{ "score.cms.user.edit.roles" |trans }}:</h5>

        <div class="dropdown">
            {{ form_row(form.groups) }}
        </div>

        {# {% for k, r in form.groups %}
            <div class="col-12">
                {{ form_widget(form.groups[k]) }}
                {{ form_label(form.groups[k]) }}
            </div>
        {% endfor %} #}

        
        <button type="submit" class="btn btn-primary">{{ 'score.cms.user.edit.save' | trans }}</button>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_users') }}">{{ 'score.cms.user.title' | trans }}</a>
        </li>
    </ul>
{% endblock %}
