{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/>
{% endblock %}


{% block content_header_title %}
    <h1>{{ 'score.cms.user.title'|trans }}</h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.cms.user.breadcrumb'|trans }}</li>
{% endblock %}

{% block body %}
    {{ m.alerts() }}
    <main id="root" class="container-fluid text-light">

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row my-3">
            <div class="col-sm-6 col-lg-2"><strong>{{'score.cms.user.list.name'|trans}}</strong></div>
            <div class="col-sm-6 col-lg-3"><strong>{{'score.cms.user.list.email'|trans}}</strong></div>
            <div class="col-sm-4 col-lg-2 text-center"><strong>{{'score.cms.user.list.active'|trans}}</strong></div>
            <div class="col-sm-8 col-lg-3"><strong>{{'score.cms.user.list.roles'|trans}}</strong></div>
            <div class="col-sm-4 col-lg-2 text-center"><strong>{{'score.cms.user.list.action'|trans}}</strong></div>
        </div>
        <div class="d-block d-lg-none border-bottom border-primary rounded-bottom"></div>
        {% for key, user in users %}
            <div class="row mb-2">
                <div class="col-sm-6 col-lg-2 text-truncate">
                    {{ form_widget(form.users[key].username,  {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-sm-6 col-lg-3 text-truncate">
                    {{ form_widget(form.users[key].email,  {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-sm-4 col-lg-2 text-center">
                    <div class="custom-control custom-switch">
                        {{ form_widget(form.users[key].isActive,  {'attr': {'class': 'custom-control-input'}}) }}
                        {{ form_label(form.users[key].isActive, " ", {'label_attr': {'class': 'custom-control-label'}}) }}
                    </div>
                </div>
                <div class="col-sm-8 col-lg-3">
                    {# <div  class="row"> #}
                    {# {{ dump(form.vars.value.users[key].groups) }} #}


                    <div class="dropdown">
                        {{ form_row(form.users[key].groups) }}
                    </div>
                        
                        {# {% for k, r in form.users[key].groups %}
                            <div class="col-12">
                            {{ form_widget(form.users[key].groups[k]) }}
                            {{ form_label(form.users[key].groups[k]) }}
                            </div>
                        {% endfor %} #}

                        {# {% for k, r in form.vars.value.users[key].newroles %}
                            <div class="col-12">
                            {{ form_widget(form.users[key].newroles[k]) }}
                            {{ form_label(form.users[key].newroles[k]) }}
                            </div>
                        {% endfor %} #}
                    {# </div> #}
                </div>


                <div class="col-sm-4 col-lg-2 text-center">
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">{{'score.cms.user.list.show'|trans}}</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_user_edit', { 'id': user.id }) }}">{{'score.cms.user.list.edit'|trans}}</a>
                        </li>
                        <li>
                            <a class="delete-cms-item" href="{{ path('admin_user_delete', { 'id': user.id }) }}">{{'score.cms.user.list.delete'|trans}}</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_user_pass', {'id': user.id}) }}">{{'score.cms.user.list.passChange'|trans}}</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_user_pass_email', {'id': user.id}) }}">{{'score.cms.user.list.passChangeEmail'|trans}}</a>
                        </li>
                    </ul>                    
                </div>
            </div>
            <div class="d-block d-lg-none border-bottom border-primary rounded-bottom"></div>
        {% endfor %}
        <div class="row my-3" style="margin-top:20px;">
            <div class="col">
                <button type="submit" class="btn btn-primary mx-2">{{'score.cms.user.list.save'|trans}}</button>
            </div>

        </div>
        <div class="d-none">
        {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}

        <ul>
            <li>
                <a href="{{ path('admin_user_new') }}">{{'score.cms.user.list.createNew'|trans}}</a>
            </li>
        </ul>

    </main>

            {{ include('@ScoreCms/Default/_delete_modal.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

        <script>
            $('body').on('click', '.delete-cms-item', function (e) {
                e.preventDefault();
                $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
                $('#confirm-delete-cms-item-modal .modal-body > p').html("{{ "score.alert.user.delete" |trans }}");
                $('#confirm-delete-cms-item-modal').modal('show');
            });

            $('input[type="checkbox"], .checkbox > label').on('click', e => e.stopPropagation());

        </script>

{% endblock %}