{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.cms.user.breadcrumb' |trans }}</li>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block content_header_title %}
    <h1>{{ 'score.cms.user.title'|trans }}</h1>
{% endblock %}

{% block body %}
    {{ m.alerts() }}
    <table id="users-datatable" class="table table-striped display compact">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>{{'score.cms.user.list.name'|trans}}</th>
                <th>{{'score.cms.user.list.email'|trans}}</th>
                <th>{{'score.cms.user.list.roles'|trans}}</th>
                <th>{{'score.cms.user.list.active'|trans}}</th>
                <th>{{'score.cms.user.list.action'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                {# <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td> #}
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roleNames | join(", ", " a ") }}</td>
                <td>{{ user.isActive ? "Yes" : "No" }}</td>
                <td>
                    {% if is_granted('ROLE_USER_MANAGER') %}
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">{{'score.cms.user.list.show'|trans}}</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_user_edit', { 'id': user.id }) }}">{{'score.cms.user.list.edit'|trans}}</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_user_pass_email', {'id': user.id}) }}">{{'score.cms.user.list.passChangeEmail'|trans}}</a>
                        </li>
                    </ul>
			        {% endif %}			
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_user_new') }}">{{'score.cms.user.list.createNew'|trans}}</a>
        </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('admin_users_all') }}">{{'score.cms.user.list.editAll'|trans}}</a>
                </li>
			{% endif %}			

    </ul>
{% endblock %}

 {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>
        <script type="text/javascript">
            $('#users-datatable').DataTable({
             pageLength: 25,
             language: {
                 url: "{{ asset('bundles/scorecms/plugins/datatables/sk.js') }}"
             },
             "ordering": false
         });
        </script>
    {% endblock %}
