{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block stylesheets %}

    <style>
        dl dd{
            margin-left:20px;
        }
    </style>
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/>
{% endblock %}


{% block content_header_title %}
    <h1>{{ 'score.cms.user.title' |trans }}</h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.cms.user.title' |trans }}</li>
{% endblock %}

{% block body %}
    {{ m.alerts() }}

<dl>
    <dt>{{ "score.cms.user.edit.username" | trans }}</dt>
    <dd>{{ user.username }}</dd>
    <dt>{{ "score.cms.user.edit.email" | trans }}</dt>
    <dd>{{ user.email }}</dd>
    <dt>{{ "score.cms.user.edit.isActive" | trans }}</dt>
    <dd>{{ user.isActive ?  "score.cms.user.edit.yes" | trans  :  "score.cms.user.edit.no" | trans  }}</dd>
    <dt>{{ "score.cms.user.edit.id" | trans }}</dt>
    <dd>{{ user.id  }}</dd>
    <dt>{{ "score.cms.user.edit.edited" | trans }}</dt>
    <dd>{{ user.editedAt | date('d.m. Y - H:i') }}</dd>
</dl>

    <ul>
        <li>
            <a href="{{ path('admin_users') }}">{{ 'score.cms.user.title' | trans }}</a>
        </li>
    </ul>
{% endblock %}
