<div class="modal fade" id="confirm-delete-cms-item-modal" tabindex="-1" role="dialog" aria-label="{{'score.cms.delete.title'|trans}}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{'score.cms.delete.title'|trans}}</h4>
      </div>
      <div class="modal-body">

        <p>{{'score.cms.delete.confirm'|trans}}</p>

      </div>

      <div class="modal-footer">
        <a class="btn btn-danger cms-confirm-delete" href="#">{{'score.cms.delete.yes'|trans}}</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{'score.cms.delete.cancel'|trans}}</button>
      </div>
    </div>
  </div>
</div>

