 <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          Score CMS
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; {{ 'now'|date('Y') }} <a href="{{ path('default_homepage')}}">{{app.request.host() | upper }}</a>.</strong> All rights reserved.
      </footer>