<script>
    let keyboardSubmitted = false;
    let clickElementSelector = [
        'button[type="submit"]:visible',
        'input[type="submit"]:visible',
        'button.save-menu-trigger[type="button"]:visible'
    ];

    $(window).keydown(function (event) {

        if (event.which == 83 && event.ctrlKey) { // ak je stalcene CTRL + S
            if (keyboardSubmitted) {  // ak sa uz uklada, zabranenie duplicite
                event.preventDefault();
                return;
            }
            let wrapper = $('<div/>', {class: "keybord-save-spinner-wrapper"});
            let cmsForm = $('{{ formSelector | raw }}'); // moze byt aj viacero formularov ulozi len posledny viditelny
            let btn = cmsForm.find(clickElementSelector.join(", ")).last(); // vyberie posledne tlacitko na ktorom vyvola potom CLICK event
            let spinner = $('<i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>')
            if (btn?.length) {
                event.preventDefault();
                keyboardSubmitted = true;
                wrapper.append( // talcitko spat ktore vrati vsetko do povodneho stavu
                    $('<button class="btn btn-sm"><i class="fa fa-history" aria-hidden="true"></i> Znovu zobraziť formulár</button>')
                        .click(_ => {
                            cmsForm.find('.form-group').show(700);
                            cmsForm.parent().find(".keybord-save-spinner-wrapper").remove()
                            keyboardSubmitted = false;
                        })
                );
                wrapper.append(spinner);
                cmsForm.parent().prepend(wrapper);
                cmsForm.find('.form-group').slideUp(1200);
                btn.click();
            }
        }
        return;
    });
</script>