<aside
	class="main-sidebar">

	<!-- sidebar: style can be found in sidebar.less -->
	<section
		class="sidebar">


		<!-- Sidebar Menu -->
		<ul class="sidebar-menu">
			<!-- Optionally, you can add icons to the links -->			
			{% if is_granted('ROLE_PAGE_MANAGER') %}
				<li>
					<a href="{{ path('score_cms_pages') }}">
						<i class="fa fa-globe"></i>
						<span>Stránky</span>
					</a>
				</li>
			{% endif %}			
			{% if is_granted('ROLE_ARTICLE_MANAGER') %}
			<li>
				<a href="{{ path('score_cms_articles') }}">
					<i class="fa fa-file-text-o"></i>
					<span>Články</span>
				</a>
			</li>			
			{% endif %}			
			{% if is_granted('ROLE_EVENT_MANAGER') %}
			<li>
				<a href="{{ path('score_cms_event') }}">
					<i class="fa fa-calendar"></i>
					<span>Udalosti</span>
				</a>
			</li>
			{% endif %}			
			{% if is_granted('ROLE_DOCUMENT_MANAGER') %}
			<li>
				<a href="{{ path('score-cms-document-list') }}">
					<i class="fa fa-file"></i>
					<span>Dokumenty</span>
				</a>
			</li>
			{% endif %}			
			{% if is_granted('ROLE_MENU_MANAGER') %}
			<li>
				<a href="{{ path('score_cms_menu') }}">
					<i class="fa fa-bars"></i>
					<span>Menu</span>
				</a>
			</li>
			{% endif %}			
			{% if is_granted('ROLE_FORM_MANAGER') %}
			<li>
				<a href="{{ path('score_cms_forms') }}">
					<i class="fa fa-check-square-o"></i>
					<span>Formuláre</span>
				</a>
			</li>
			{% endif %}			
			{% if is_granted('ROLE_GALLERY_MANAGER') %}
			<li>
				<a disabled href="{{ path('score_cms_galleries') }}">
					<i class="fa fa-file-image-o"></i>
					<span>Galéria</span>
				</a>
			</li>
			{% endif %}			
			{% if is_granted('ROLE_ACCORDION_MANAGER') %}
			<li>
				<a disabled href="{{ path('score-accordion-list') }}">
					<i class="fa fa-arrows-v"></i>
					<span>Akordeón</span>
				</a>
			</li>
			{% endif %}			
			{% if is_granted('ROLE_BLOCK_MANAGER') %}
			<li>
					<a href="{{ path('score-block-list-full') }}"> <i class="fa fa-pie-chart"></i>
					<span>Bloky</span>
				</a>
			</li>
			{% endif %}		
			{% if is_granted('ROLE_OPTION_MANAGER') %}
			<li>
				<a href="{{ path('score_cms_option_groups') }}">
					{# <i class="fa fa-gears"></i>
					<span>Nastavenia</span> #}
					<i class="fa fa-sort-alpha-asc"></i>
					<span>Texty</span>
				</a>
			</li>
			{% endif %}				
			{% if is_granted('ROLE_WIDGET_MANAGER') %}
			<li>
				<a href="{{ path('score-cms-widget-list') }}">
					<i class="fa fa-th-large"></i>
					<span>Widgety</span>
				</a>
			</li>
			{% endif %}
			{% if is_granted('ROLE_USER_MANAGER') %}
			<li>
				<a href="{{ path('admin_users') }}">
					<i class="fa fa-user"></i>
					<span>Užívatelia</span>
				</a>
			</li>
			{% endif %}			
			{% if is_granted('ROLE_ADMIN') %}
			<li>
				<a href="{{ path('admin_groups') }}">
					<i class="fa fa-user"></i>
					<span>Skupiny</span>
				</a>
			</li>
			<li>
				<a href="{{ path('score-cms-logs-list') }}">
					<i class="fa fa-history"></i>
					<span>Logy zmien</span>
				</a>
			</li>
			{% endif %}

			<li>
				<a href="{{ path('admin-trash-all') }}">
					<i class="fa fa-trash"></i>
					<span>Kôš</span>
				</a>
			</li>

			<li>
				<a class="filebrowser-trigger" href="#">
					<i class="fa  fa-camera"></i>
					<span>Média</span>
				</a>
			</li>

		</ul>
		<!-- /.sidebar-menu -->
	</section>
	<!-- /.sidebar -->
</aside>
