<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}CMS | {{ app.request.host()|split('.')|filter(v => v != "www")|first|upper }}{% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/scorecms/favicon.ico') }}"/>

    {% block stylesheets %}
        <link href="{{ asset('/bundles/scorecms/bootstrap3/css/bootstrap.min.css') }}" rel="stylesheet"/>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link href="{{ asset('bundles/scorecms/admin-lte/css/AdminLTE.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/scorecms/admin-lte/css/skins/skin-blue.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/scorecms/plugins/datepicker/datepicker3.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/scorecms/css/admin.css') }}?v={{ cms_get_version() }}{{ app.environment == 'dev' ? "now"|date("Ymd-His") }}"
              rel="stylesheet"/>
        <style>
            /*  select with filter - parent page, add block  */
            .select2-container {
                width: 100% !important;
            }
        </style>

        <style>
            .metatags-wrapper {
                margin-bottom: 1em;
            }

            .metatags-wrapper .item-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                gap: 1em;
            }

            .metatags-wrapper .item-wrapper :nth-child(2) {
                flex: 1;
            }
        </style>
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    {{ include('@ScoreCms/Default/_header.html.twig') }}


    <!-- Left side column. contains the logo and sidebar -->
    {{ include('@ScoreCms/Default/_sidebar.html.twig') }}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            {% block content_header_title %}{% endblock %}
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_start') }}"><i class="fa fa-dashboard"></i>Start</a></li>
                {% block content_header_breadcrumb %} {% endblock %}
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            {% block body %} {% endblock %}

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <!-- Main Footer -->
    {{ include('@ScoreCms/Default/_footer.html.twig') }}


</div><!-- ./wrapper -->


{% block javascripts %}
    <script src="{{ asset('bundles/scorecms/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('bundles/scorecms/bootstrap3/js/bootstrap.min.js') }}"></script>


    <script src="{{ asset('bundles/scorecms/admin-lte/js/app.js') }}"></script>
    <script src="{{ asset('bundles/scorecms/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bundles/scorecms/plugins/datepicker/locales/bootstrap-datepicker.sk.js') }}"></script>

    <script>
        $('.datepicker').datepicker({
            autoclose: true,
            language: 'sk',
            format: 'dd.mm.yyyy'
        });
    </script>
{% endblock %}

{{ include('@ScoreCms/Media/_media_modal.html.twig') }}

</body>
</html>
