{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block content_header_title %}
    <h1>{{ 'score.cms.helper' | trans }}</h1>
{% endblock %}

 {% block body %}
     {{ m.alerts() }}

     {% for section in sections %}
         <h2>{{ section.name }}</h2>
         <ul>
             {% for item in section.items %}
                 <li>{{ item }}</li>
             {% endfor %}
         </ul>
     {% endfor %}

 {% endblock %}

 