<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    
     {% block stylesheets %}
            <link href="{{ asset('bundles/scorecms/bootstrap3/css/bootstrap.css') }}" rel="stylesheet" />
             <!-- Font Awesome -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <!-- Ionicons -->
            <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
            <link href="{{ asset('bundles/scorecms/admin-lte/css/AdminLTE.min.css') }}" rel="stylesheet" />
     {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition login-page">

        {% block body %}{% endblock %}

    
    {% block javascripts %}
            <script src="{{ asset('bundles/scorecms/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
            <script src="{{ asset('bundles/scorecms/bootstrap3/js/bootstrap.min.js') }}"></script>
   {% endblock %}
        
   
   
  </body>
</html>
