{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block content_header_title %}
	<h1>{{ 'score.cms.title' | trans }}</h1>
{% endblock %}

 {% block body %}
    {{ m.alerts() }}

 {% endblock %}

 