{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block content_header_title %}
    <h1>{{ 'score.cms.trash.title' | trans }}</h1>
{% endblock %}

 {% block body %}
     {{ m.alerts() }}

     <div class="container-fluid">
         <div class="panel-group" id="accordion">

             {% if pages is defined and pages %}
                 <div class="panel panel-default">
                     <div class="panel-heading">
                         <h4 class="panel-title">
                             <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                href="#coll_pages">
                                 Stránky [{{ pages | length }}]
                             </a>
                         </h4>
                     </div>
                     <div id="coll_pages" class="panel-collapse collapse">
                         <div class="panel-body">
                             <table class="table table-striped display compact datatable">
                                 <thead>
                                 <tr>
                                     <th>{{ 'score.page.list.id'|trans }}</th>
                                     <th>{{ 'score.page.list.name'|trans }}</th>
                                     <th>{{ 'score.page.edit.editedAt'|trans }}</th>
                                     <th style="min-width: 8em;">{{ 'score.page.list.action'|trans }}</th>
                                 </tr>
                                 </thead>
                                 <tbody>
                                 {% for page in pages %}
                                     <tr>
                                         <td><a href="{{ path('score_cms_page_edit',{id:page.id}) }}"><i
                                                         class="fa fa-edit"></i></a>{{ page.id }}</td>
                                         <td>{{ page.name }}</td>
                                         <td>{{ page.editedAt | date('d. m. Y – H:i') }}</td>
                                         <td>
                                             <a class="from-trash"
                                                href="{{ path('score_cms_page_from_trash',{id:page.id}) }}">{{ 'score.page.fromTrash'|trans }}</a>
                                             <br>
                                             <a class="confirm-delete"
                                                href="{{ path('score_cms_page_delete',{id:page.id}) }}">{{ 'score.page.delete.title'|trans }}</a>
                                         </td>
                                     </tr>
                                 {% endfor %}
                                 </tbody>
                             </table>
                         </div>
                     </div>
                 </div>
             {% endif %}

             {% if documents is defined and documents %}
                 <div class="panel panel-default">
                     <div class="panel-heading">
                         <h4 class="panel-title">
                             <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                href="#coll_documents">
                                 Dokumenty [{{ documents | length }}]
                             </a>
                         </h4>
                     </div>
                     <div id="coll_documents" class="panel-collapse collapse">
                         <div class="panel-body">
                             <table class="table table-striped display compact datatable">
                                 <thead>
                                 <tr>
                                     <th>{{ 'score.page.list.id'|trans }}</th>
                                     <th>{{ 'score.page.list.name'|trans }}</th>
                                     <th>{{ 'score.page.edit.editedAt'|trans }}</th>
                                     <th style="min-width: 8em;">{{ 'score.page.list.action'|trans }}</th>
                                 </tr>
                                 </thead>
                                 <tbody>
                                 {% for document in documents %}
                                     <tr>
                                         <td><a href="{{ path('score-cms-document-edit',{id:document.id}) }}"><i
                                                         class="fa fa-edit"></i></a>{{ document.id }}</td>
                                         <td>{{ document.name }}</td>
                                         <td>{{ document.editedAt | date('d. m. Y – H:i') }}</td>
                                         <td>
                                             <a class="from-trash"
                                                href="{{ path('score-cms-document-from-trash',{id:document.id}) }}">{{ 'score.page.fromTrash'|trans }}</a>
                                             <br>
                                             <a class="confirm-delete"
                                                href="{{ path('score-cms-document-delete',{id:document.id}) }}">{{ 'score.page.delete.title'|trans }}</a>
                                         </td>
                                     </tr>
                                 {% endfor %}
                                 </tbody>
                             </table>
                         </div>
                     </div>
                 </div>
             {% endif %}


             {% if articles is defined and articles %}
                 <div class="panel panel-default">
                     <div class="panel-heading">
                         <h4 class="panel-title">
                             <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                href="#coll_articles">
                                 Články [{{ articles | length }}]
                             </a>
                         </h4>
                     </div>
                     <div id="coll_articles" class="panel-collapse collapse">
                         <div class="panel-body">
                             <table class="table table-striped display compact datatable">
                                 <thead>
                                 <tr>
                                     <th>{{ 'score.page.list.id'|trans }}</th>
                                     <th>{{ 'score.page.list.name'|trans }}</th>
                                     <th>{{ 'score.page.edit.editedAt'|trans }}</th>
                                     <th style="min-width: 8em;">{{ 'score.page.list.action'|trans }}</th>
                                 </tr>
                                 </thead>
                                 <tbody>
                                 {% for article in articles %}
                                     <tr>
                                         <td><a href="{{ path('score_cms_article_edit',{id:article.id}) }}"><i
                                                         class="fa fa-edit"></i></a>{{ article.id }}</td>
                                         <td>{{ article.name }}</td>
                                         <td>{{ article.editedAt | date('d. m. Y – H:i') }}</td>
                                         <td>
                                             <a class="from-trash"
                                                href="{{ path('score_cms_article_from_trash',{id:article.id}) }}">{{ 'score.page.fromTrash'|trans }}</a>
                                             <br>
                                             <a class="confirm-delete"
                                                href="{{ path('score_cms_article_delete',{id:article.id}) }}">{{ 'score.page.delete.title'|trans }}</a>
                                         </td>
                                     </tr>
                                 {% endfor %}
                                 </tbody>
                             </table>
                         </div>
                     </div>
                 </div>
             {% endif %}


             {% if events is defined and events %}
                 <div class="panel panel-default">
                     <div class="panel-heading">
                         <h4 class="panel-title">
                             <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                href="#coll_events">
                                 Udalosti [{{ events | length }}]
                             </a>
                         </h4>
                     </div>
                     <div id="coll_events" class="panel-collapse collapse">
                         <div class="panel-body">
                             <table class="table table-striped display compact datatable">
                                 <thead>
                                 <tr>
                                     <th>{{ 'score.page.list.id'|trans }}</th>
                                     <th>{{ 'score.page.list.name'|trans }}</th>
                                     <th>{{ 'score.page.edit.editedAt'|trans }}</th>
                                     <th style="min-width: 8em;">{{ 'score.page.list.action'|trans }}</th>
                                 </tr>
                                 </thead>
                                 <tbody>
                                 {% for event in events %}
                                     <tr>
                                         <td><a href="{{ path('score_cms_event_edit',{id:event.id}) }}"><i
                                                         class="fa fa-edit"></i></a>{{ event.id }}</td>
                                         <td>{{ event.name }}</td>
                                         <td>{{ event.editedAt | date('d. m. Y – H:i') }}</td>
                                         <td>
                                             <a class="from-trash"
                                                href="{{ path('score_cms_event_from_trash',{id:event.id}) }}">{{ 'score.page.fromTrash'|trans }}</a>
                                             <br>
                                             <a class="confirm-delete"
                                                href="{{ path('score_cms_event_delete',{id:event.id}) }}">{{ 'score.page.delete.title'|trans }}</a>
                                         </td>
                                     </tr>
                                 {% endfor %}
                                 </tbody>
                             </table>
                         </div>
                     </div>
                 </div>
             {% endif %}


             {% if blocks is defined and blocks %}
                 <div class="panel panel-default">
                     <div class="panel-heading">
                         <h4 class="panel-title">
                             <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                href="#coll_blocks">
                                 Bloky [{{ blocks | length }}]
                             </a>
                         </h4>
                     </div>
                     <div id="coll_blocks" class="panel-collapse collapse">
                         <div class="panel-body">
                             <table class="table table-striped display compact datatable">
                                 <thead>
                                 <tr>
                                     <th>{{ 'score.page.list.id'|trans }}</th>
                                     <th>{{ 'score.page.list.name'|trans }}</th>
                                     <th>{{ 'score.block.list.type'|trans }}</th>
                                     <th>{{ 'score.page.edit.editedAt'|trans }}</th>
                                     <th style="min-width: 8em;">{{ 'score.page.list.action'|trans }}</th>
                                 </tr>
                                 </thead>
                                 <tbody>
                                 {% for block in blocks %}
                                     <tr>
                                         <td><a href="{{ path('score-block-to-edit',{id:block.id}) }}"><i
                                                         class="fa fa-edit"></i></a>{{ block.id }}</td>
                                         <td>{{ block.name }}</td>
                                         <td>{{ block.type }}</td>
                                         <td>{{ block.editedAt | date('d. m. Y – H:i') }}</td>
                                         <td>
                                             <a class="from-trash"
                                                href="{{ path('score-block-from-trash',{id:block.id}) }}">{{ 'score.page.fromTrash'|trans }}</a>
                                             <br>
                                             <a class="confirm-delete"
                                                href="{{ path('score-block-delete',{id:block.id}) }}">{{ 'score.page.delete.title'|trans }}</a>
                                         </td>
                                     </tr>
                                 {% endfor %}
                                 </tbody>
                             </table>
                         </div>
                     </div>
                 </div>
             {% endif %}


         </div>
     </div>


     {{ include('@ScoreCms/Default/_delete_modal.html.twig') }}


 {% endblock %}



 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
     <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>
     <script type="text/javascript">
         let dataTable = $('.datatable').DataTable({
             ordering: false,
             language: {
                 url: "{{ asset('bundles/scorecms/plugins/datatables/sk.js') }}"
             },
         });
     </script>

     <script>

         $('body').on('click', '.confirm-delete', function (e) {
             e.preventDefault();
             $('#confirm-delete-cms-item-modal .cms-confirm-delete').attr('href', $(this).attr('href'));
             $('#confirm-delete-cms-item-modal .modal-body > p').text("Naozaj chcete natrvalo odstrániť?");
             $('#confirm-delete-cms-item-modal').modal('show');
         });
     </script>

 {% endblock %}


