{% extends ['Mail/layout.html.twig', '@ScoreCms/Mail/layout.html.twig'] %}

{% block header %}
	<h1>
		Upozornenie na vyplnenie formuláru – {{ form.name }}.
	</h1>
{% endblock %}

{% block body %}

	<div>
		<dl>
			{% for entry in entries %}
				<dt>{{ entry.label }}</dt>
				<dd style="margin-bottom:0.4em;">{{ entry.value }}</dd>
			{% endfor %}
		</dl>
	</div>
	<p>
		<a href="{{app.request.getSchemeAndHttpHost() ~ path('score_cms_form_data', { 'id': form.identifier, 'entryId': entryId }) }}">Zobraziť toto vyplnenie na webe</a>
		<br>
		<a href="{{app.request.getSchemeAndHttpHost() ~ path('score_cms_form_data', { 'id': form.identifier }) }}">Zobraziť všetky vyplnenia tohto formuláru na webe</a>
	</p>

{% endblock %}
