<!doctype html>
<html lang="sk">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}
				{{app.request.host()|split('.')|filter(v => v != "www")|first|upper}}
			{% endblock %}
		</title>

		<style>
			body {
				font-size: 100%;
				font-family: Roboto, sans-serif;
				width: 40em;
				max-width: 100%;
				margin: 0 auto;
				letter-spacing: 0.03em;
				line-height: 1.3;
			}
			.header,
			.main,
			.footer {
				padding: 0 1em;
			}
			.header,
			.main {
				border-bottom: 1px solid #def;
				margin-bottom: 15px;
			}

			h1 {
				font-size: 1.5em;
			}
			h2 {
				font-size: 1.4em;
			}
			h3 {
				font-size: 1.3em;
			}
			h4 {
				font-size: 1.2em;
			}
			h5 {
				font-size: 1.1em;
			}
			.text-bg {
				background-color: #def;
			}
		</style>
	</head>
	<body>
		<header>
			<div class="header">
				{% block header %}
					<h1>
						Informácia z webu
						<a href="{{app.request.getSchemeAndHttpHost()}}">{{app.request.host()}}</a>.
					</h1>
				{% endblock %}
			</div>
		</header>

		<main>
			<div class="main">
				{% block body %}
					<p>HELLO WORLD!</p>
				{% endblock %}
			</div>
		</main>

		<footer>
			<div class="footer">
				<p>
					E-mail:
					<a href="mailto:info@sazp.sk">info@sazp.sk</a>
					| tel.:
					<a href="tel:+421850221715">+421 850 221 715</a>
				</p>
				<p>
					Tento e-mail bol automaticky vygenerovaný
					<time datetime="{{ 'now'|date('c') }}">{{ 'now'|date('d.m. Y \\o H:i') }}</time>
					na webe
					<a href="{{app.request.getSchemeAndHttpHost()}}">{{app.request.host()}}</a>. Na tento e-mail neodpovedajte.
				</p>
			</div>
		</footer>
	</body>
</html>
