{% extends ['Mail/layout.html.twig', '@ScoreCms/Mail/layout.html.twig'] %}

{% block header %}
	<h1>
		Upozornenie na zmenu prihlasovacích údajov.
	</h1>
{% endblock %}

{% block body %}

	<div>
		<p>
			Vaše heslo do administračného rozhrania bolo zmenené. Na adrese
			<a href="{{app.request.getSchemeAndHttpHost()}}/admin/login">{{app.request.host()}}/admin/login</a>
			sa teraz prihlasite vašou e-mailovou adresou a novým heslom.
			<br>Nové heslo:
			<strong class="text-bg">{{ newPlainPass}}</strong>
			<br>Toto heslo si po prihlásení zmeňte!
		</p>
	</div>

{% endblock %}
